<div class="transparentBox">
  <div class="innerPopWhite">
    <div class="popbox">
      <div class="popHeader clearfix">
        <div class="popHd fl">Send an Invitation to Upload</div>
        <span class="closePop fr">X</span>
      </div>
      <div class="popdetails">
        <div class="itemTemRow sendInvit clearfix">
          <div class="addTemplateBox sendInvitLeft fl">
            <div class="siteBox">
              <div class="addsiteHd blurBg">Site</div>
              <div class="siteFormRow">
                <div class="boldText"><%= site.name %></div>
              </div>
              <div class="addsiteHd greenBg mt20">Select Tab</div>
              <div class="siteFormRow tabAdded">
                <%= select_tag :site_tab, options_from_collection_for_select(site_tabs, :id, :name, site_tab.try(:id)), include_blank: false, class: "popInput bigSelect" %>
              </div>
              <div class="smallPara">
                <p>By Providing Upload Access to an item you are allowing a third party to upload documents and material to that item.
                </p>
                <p>Once an email address is added
                  <span class="c0070c0">m<span class="c00a551">y</span>compliance<span class="c00a551">.me</span>
                  </span>
                  will automatically send a notification email to yourself and to the recipient detailing membership requirements including username, and temporary password as well as instructions as to how to upload to the item.
                </p>
              </div>
            </div>
          </div>
          <div id="site_items_invitation">
            <%= render partial: "site_items_invitation", locals: { site: site, site_tab: site_tab } %>
          </div>
          <div class="clearfix"></div>
          <div class="btnGrpRight sendInvtBtn clearfix">
            <%= link_to "Save Changes", send_invitations_site_path(site), method: :post, remote: true, class: "saveBtn mt0" %>
            <%= link_to "Delete All Upload Access", delete_invitations_site_path(site), method: :delete, remote: true, data: {confirm: "Are you sure?"}, class: "saveBtn uploadAccess mt0" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  (function($){
    $(".scrollbox").mCustomScrollbar({
      axis:"x",
      theme:"light-3",
      advanced:{autoExpandHorizontalScroll:true}
    });
    if($(window).width() > 767){
      $(".scrollbarCustom").mCustomScrollbar({
        axis:"Y",
        theme:"light-2"
      });
    }
  })(jQuery);

  $(function () {
    $("#site_tab").change(function (e) {
      if ($("#site_tab").val().length > 0) {
        $.get("<%= get_invitations_site_path(site) %>", {site_tab_id: $("#site_tab").val()});
      }
    });
  });
</script>