<% if site_item_invitations.present? %>
  <% if site_item_invitations.size > 1 %>
    <label class="siteLabel">Access Already Provided to:</label>
  <% end %>
  <div class="scrollbarCustom" style="height: 100px;">
    <% site_item_invitations.each do |site_item_invitation| %>
      <% unless site_item_invitation.new_record? %>
        <div id="site_item_invitation_<%= site_item_invitation.id %>" class="emailRow clearfix">
          <%= link_to "mailto:#{site_item_invitation.upload_access_email}" , class: "fl lighttBlClr EmailLinks ww-bw" do %>
            <%= site_item_invitation.upload_access_email %>
          <% end %>
          
          <%= link_to site_delete_invitation_path(site_item_invitation), id: "delete_invitation_#{site_item_invitation.id}", remote: true, method: :delete, data: {confirm: "Are you sure?"}, class: "cross fr" do %>
            <%= image_tag("cross1.png", alt: "", class: "pr5") %>
          <% end %>
          <%= link_to site_pause_invitation_path(site_item_invitation), id: "pause_invitation_#{site_item_invitation.id}", remote: true, method: :post, data: {confirm: "Are you sure?"}, class: "pause fr" do %>
            <% if site_item_invitation.pause? %>
              <%= image_tag("videoicon.png", alt: "", class: "op2") %>
            <% else %>
              <%= image_tag("pause.png", alt: "") %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
