<% if site_tab.present? %>
  <% site_items = site_tab.site_items.where(site_id: site.id).eager_load(:site_item_questions, :site_item_invitations).order("site_items.id ASC, site_item_questions.id ASC, site_item_invitations.id ASC") %>
  <div class="itemTempRight sendInvitRight fr">
    <div class="scrollbox scrollbarCustomEdit clearfix">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr>
          <% site_items.each.with_index(1) do |site_item, index| %>
            <%= render partial: "site_item_invitation", locals: { site: site, site_item: site_item, site_item_invitations: site_item.site_item_invitations, site_item_invitation: site_item.site_item_invitations.new, index: index } %>
          <% end %>
        <tr>
      </table>
    </div>
  </div>
<% end %>