<td id="site_item_<%= site_item.id %>" class="site_item">
  <%= form_for(site_item_invitation, url: site_save_invitation_path(site, site_item), method: :post, remote: true, html: {id: "site_save_invitation_form_#{site_item.id}"}) do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :site_id, value: site.id %>
    <div class="siteBox itemTemBox2">
      <div class="addsiteHd blurBg">Item <%= index %></div>
      <div class="siteFormRow tabAdded">
        <label class="siteLabel">Item Title</label>
        <input type="text" class="popInput boldText" placeholder="Item Title" value="<%= site_item.title %>">
      </div>
      <div class="siteFormRow tabAdded">
        <label class="siteLabel">Provide Upload Access to</label>
        <%= f.email_field :upload_access_email, value: "", placeholder: "Enter email address", required: true, class: "popInput" %>
      </div>
      <div class="siteFormRow tabAdded">
        <label class="siteLabel">Access Expires</label>
        <%= f.text_field :access_expires, value: "", placeholder: "dd/mm/yyyy", required: true, class: "popInput calInput", id: "site_item_invitation_access_expires_#{site_item.id}" %>
        <%#= f.select :access_expires, (item_invitation_access_expires.map {|access_expire| [access_expire.expires.titleize, access_expire.expires]}), { include_blank: false, prompt: "Select" }, required: true, class: "select" %>
      </div>
      <%= f.submit "OK", class: "EditokBtn abtn" %>
      <div class="clearfix"></div>
      <div id="access_already_provided_<%= site_item.id %>" class="siteFormRow clearfix mt30" >  
        <%= render partial: "site_item_invitations", locals: { site_item_invitations: site_item_invitations } %>
      </div>
    </div>
  <% end %>
</td>

<!-- validation -->
<script type="text/javascript">
  $(document).ready(function(){
    $('#site_item_invitation_access_expires_<%= site_item.id %>').datetimepicker({
      format: "DD/MM/YYYY"
    });
    
    $("#site_item_invitation_access_expires_<%= site_item.id %>").inputmask({
      mask: "1/2/y",
      placeholder: "dd/mm/yyyy",
      alias: "date"
    });
    
    $("#site_save_invitation_form_<%= site_item.id %>").validate({
      rules: {
        "site_item_invitation[upload_access_email]": {
          required: true,
          noSpace: true,
          email: true,
          maxlength: 255
        },
        "site_item_invitation[access_expires]": {
          required: true
        }
      },
      messages: {
        "site_item_invitation[upload_access_email]": {
          required: "Please enter your email address.",
          noSpace: "Please enter valid email address.",
          email: "Please enter valid Email Address.",
          maxlength: "Your Email must be of maximum {0} characters."
        },
        "site_item_invitation[access_expires]": {
          required: "Please select any one."
        }
      },
    });
  });
</script>

