<% if @site_tab.present? %>
  $("#site_items_invitation").html("<%= j(render partial: 'site_items_invitation', locals: { site: @site, site_tab: @site_tab }) %>");
<% end %>

(function($){
  $(".scrollbox").mCustomScrollbar({
    axis:"x",
    theme:"light-3",
    advanced:{autoExpandHorizontalScroll:true}
  });
  if($(window).width() > 767){
    $(".scrollbarCustom").mCustomScrollbar({
      axis:"Y",
      theme:"light-2"
    });
  }
})(jQuery);