$("#sendInvitation").html("<%= j(render partial: 'invitations', locals: { site: @site, site_tabs: @site_tabs, site_tab: @site_tab }) %>");
$("#sendInvitation").fadeIn(300);
$("body").addClass("hiddens");

$(".closePop").click(function(){								 
  $(".popOverlay").fadeOut(300);
  $("body").removeClass("hiddens");
});

(function($){
  $(".scrollbox").mCustomScrollbar({
    axis:"x",
    theme:"light-3",
    advanced:{autoExpandHorizontalScroll:true}
  });
  if($(window).width() > 767){
    $(".scrollbarCustom").mCustomScrollbar({
      axis:"Y",
      theme:"light-2"
    });
  }
})(jQuery);

// document.title = "Send an Invitation to Upload"
// if (history && history.pushState) {
// 	history.pushState(null, document.title, "<%#= invitations_site_path(@site) %>");
// 	$(window).bind("popstate", function(){
//     $.getScript(location.href);
//   });
// }

// set_footer();
// $('html').scrollTop(0);