<% if @saved %>
	<% if @site_item_invitation.pause? %>
		$("#pause_invitation_<%= @site_item_invitation.id %>").html("<%= j(image_tag('videoicon.png', alt: '', class: 'op2')) %>");
	<% else %>
		$("#pause_invitation_<%= @site_item_invitation.id %>").html("<%= j(image_tag('pause.png', alt: '')) %>");
	<% end %>
<% else %>
	$("#error_messages").html("Not paused");
<% end %>

// set_footer();
// $('html').scrollTop(0);