<% if @saved %>
	$("#site_save_invitation_form_<%= @site_item.id %>")[0].reset();
	$("#access_already_provided_<%= @site_item.id %>").html("<%= j(render partial: 'site_item_invitations', locals: { site_item_invitations: @site_item_invitations }) %>");
<% else %>
	$("#error_messages").html("Not Created");
<% end %>

(function($){
	$(".scrollbox").mCustomScrollbar({
		axis:"x",
		theme:"light-3",
		advanced:{autoExpandHorizontalScroll:true}
	});
	if($(window).width() > 767){
		$(".scrollbarCustom").mCustomScrollbar({
			axis:"Y",
			theme:"light-2"
		});
	}
})(jQuery);

// set_footer();
// $('html').scrollTop(0);