<% content_for(:title) do %>
  Resend Confirmation Instructions
<% end %>

<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, id: "resend_confirmation" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :login, autofocus: true, required: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: "User Name / Email Id" %> 
  </div>

  <div class="actions">
    <%= f.submit "Resend confirmation instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<script type="text/javascript">
  $(document).ready(function(){
    $("#resend_confirmation").validate({
      errorPlacement: function(error, element) {
        error.insertAfter( element );
      },
      rules: {
        "user[login]": {
          required: true,
          noSpace: true,
          maxlength: 255
        }
      },
      messages: {
        "user[login]": {
          required: "Please enter your User Name or Email Id.",
          noSpace: "Please enter valid User Name or Email Id.",
          maxlength: "Your Login must be of maximum {0} characters."
        }
      },
    });
  });
</script>

