<%= form_for(preferred_email, method: :post, remote: true) do |f| %>
  <div class="siteFormRow">
    <label class="siteLabel">Contact Name
    </label>
    <div class="clearfix">
      <%= f.text_field :first_name, placeholder: "First Name", class: "popInput c-name-l" %>
      <%= f.text_field :last_name, placeholder: "Last Name", class: "popInput c-name-r" %>
    </div>
  </div>
  <div class="siteFormRow">
    <label class="siteLabel">Enter Email Address
    </label>
    <%= f.email_field :email, placeholder: "Enter Email address", class: "popInput" %>
  </div>
  <div class="siteFormRow clearfix">
    <%= f.submit "Add Contact", class: "AddConBtn" %>
  </div>
<% end %>

<!-- Form validation -->
<script type="text/javascript">
  $(document).ready(function(){
    $("#new_user_preferred_email").validate({
      rules: {
        "user_preferred_email[first_name]": {
          required: true,
          noSpace: true
        },
        "user_preferred_email[last_name]": {
          required: true,
          noSpace: true
        },
        "user_preferred_email[email]": {
          required: true,
          noSpace: true,
          email: true,
          maxlength: 255
        }
      },
      messages: {
        "user_preferred_email[first_name]": {
          required: "Please enter First Name .",
          noSpace: "Please enter First Name."
        },
        "user_preferred_email[last_name]": {
          required: "Please enter  Last Name.",
          noSpace: "Please enter Last Name."
        },
        "user_preferred_email[email]": {
         required: "Please enter your Email Address.",
          noSpace: "Please enter valid Email Address.",
          email: "Please enter valid Email Address.",
          remote: "This Email Address is taken.",
          maxlength: "Your Current password must be of maximum 255 characters."
          
        }
      },
    });
  });
</script>
