<div class="siteFormRow">
  <label class="siteLabel">Upload Email List</label>
  <input type="text" placeholder="File.csv" class="popInput" id="upload_document_name">
</div>
<div class="siteFormRow clearfix">
  <%= link_to "javascript:;" , class: "AddConBtn bga6" do %>
		Browse <%= file_field_tag :file, required: true, class: "browse", id: "preferred_email_list_file" %>
	<% end %>
</div>

<p>To upload a contact list simply save your contacts in consecutive cells in excel, save as a csv file, browse to the file, upload and save changes</p>
<div class="siteFormRow Excell clearfix">
  <label class="siteLabel">Excel format</label>
  <%= image_tag("excel.png", alt: "")%>
</div>
