<label class="siteLabel">Existing list</label>
<div class="Existinglist scrollbarCustom">
	<% preferred_emails.each do |preferred_email| %>
		<div class="emailRow clearfix">
			<%= link_to "mailto:#{preferred_email.email}", class: "fl lighttBlClr EmailLinks ww-bw" do %>
				<%= preferred_email.email %>
			<% end %>

			<%= link_to user_preferred_email_path(preferred_email), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "cross fr" do %></td>
				<%= image_tag("cross1.png", alt: "", class: "pr5") %>
			<% end %>
			<%= link_to pause_path(preferred_email), method: :patch, data: { confirm: 'Are you sure?' }, remote: true, class: "pause fr" do %>
				<% if preferred_email.pause? %>
					<%= image_tag("videoicon.png", alt: "", class: "op2") %>
				<% else %>
					<%= image_tag("pause.png", alt: "") %>
				<% end %>
			<% end %>
		</div>
	<% end %>
</div>

<script>
	(function($){
		$(".scrollbox").mCustomScrollbar({
			axis:"x",
			theme:"light-3",
			advanced:{autoExpandHorizontalScroll:true}
		});
		if($(window).width() > 767){
			$(".scrollbarCustom").mCustomScrollbar({
				axis:"Y",
				theme:"light-2"
			});
		}
	})(jQuery);
</script>