<div class="transparentBox">
  <div class="innerPopWhite">
    <div class="popbox">
      <div class="popHeader clearfix">
        <div class="popHd fl">Preferred Email List</div>
        <span class="closePop fr">X</span>
      </div>
      <div class="popdetails">
        <div class="preferEmaolCon clearfix">
          <div class="emailBox fl">
            <div class="addsiteHd blueBg">Preferred Email List
            </div>
            <p>Adding users to your preferred email list allows you fast drop down access to your suppliers when sending invites.</p>
            <p>Once an email address is added
              <span class="c0070c0">m<span class="c00a551">y</span>compliance<span class="c00a551">.me</span>
              </span>
              will automatically send a notification email to yourself and to the recipient detailing membership requirements including username, and temporary password as well as instructions as to how to upload to the item.</p>
            <p>The user will only be provided access to items you select from the specified site.
            </p>
          </div>
          <div class="emailBox fl">
            <%= render partial: "form", locals: { preferred_email: preferred_email } %>
          </div>
          <%= form_tag import_user_preferred_emails_path, multipart: true, remote: true, id: "import_csv" do %>
            <div class="emailBox fl">
              <%= render partial: "import_csv", locals: { preferred_emails: preferred_emails } %>
            </div>
            <div class="emailBox fr">
              <div class="siteFormRow" id="email_list">
                <%= render partial: "preferred_email_list", locals: { preferred_emails: preferred_emails } %>
              </div>
            </div>
            <div class="clearfix pt20"></div>
            <div class="btnGrpRight clearfix">
              <%= submit_tag "Save Changes", class: "saveBtn abtn mtfr" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- validation -->
<script type="text/javascript">
  $(document).ready(function() {
    $("#preferred_email_list_file").change(function(){
      filename = $(this).val().split('\\').pop();
      $("#upload_document_name").val(filename);
    });
    
    $("#import_csv").validate({
      rules: {
        "file": {
          required: true,
          extension: "csv"
        }
      },
      messages: {
        "file": {
          required: "Please Select CSV file.",
          extension: "Only csv file is allowed."
        },
      },
      // highlight: function (element) {
      //   $(element).parent().removeClass("has-success").addClass("has-error");
      //   set_footer();
      // },
      // success: function (element) {
      //   $(element).parent().removeClass("has-error").addClass("has-success");
      //   $(element).removeClass("error");
      //   $(element).addClass("display-table margin-0");
      // }
    });
  });
</script>
