<% if @saved %>
	$('#email_list').html("<%= escape_javascript (render partial: 'preferred_email_list', locals: { preferred_emails: @preferred_emails}) %>");
	$( '#new_user_preferred_email' ).each(function(){
	  this.reset();
	});
<% else %>
<% end %>
