$("#PreferredEmailList").html("<%= j(render partial: 'preferred_emails', locals: { preferred_email: @preferred_email, preferred_emails: @preferred_emails, static_page: @static_page }) %>");
$("#PreferredEmailList").fadeIn(300);
$("body").addClass("hiddens");

$(".closePop").click(function(){								 
  $(".popOverlay").fadeOut(300);
  $("body").removeClass("hiddens");
});

// document.title = "Preferred Email List"
// if (history && history.pushState) {
// 	history.pushState(null, document.title, "<%= user_preferred_emails_path %>");
// 	$(window).bind("popstate", function(){
//     $.getScript(location.href);
//   });
// }

// set_footer();
// $('html').scrollTop(0);