<% content_for(:title) do %>
  Sign up
<% end %>

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="col-sm-12"><%= flash_messages %></div>
  <div class="clearfix"></div>
  <div class="col-sm-12"><%= devise_error_messages! %></div>
  <div class="clearfix"></div>
  
  <%= f.hidden_field  :plan_id, value: params[:plan_id] %>
  
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  
  <label>
    <%= f.check_box :terms_and_conditions %>
    I agree to the <%= link_to t('links.terms_and_conditions'), terms_and_conditions_path, target: "_blank", remote: true %> and <%= link_to t('links.privacy_policy'), privacy_policy_path, target: "_blank", remote: true %>
  </label>
  <div id="terms_and_conditions_error"></div>
  
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<!--  Validation-->
<script type="text/javascript">
  $(document).ready(function(){
    $("#new_user").validate({
      onkeyup: false,
      errorPlacement: function(error, element) {
        if(element.attr("name") == "user[terms_and_conditions]") {
          error.appendTo($("#terms_and_conditions_error"));
        } else {
          error.insertAfter(element);
        }
      },
      rules: {
        "user[first_name]": {
          required: true,
          noSpace: true,
          maxlength: 125
        },
        "user[last_name]": {
          required: true,
          noSpace: true,
          maxlength: 125
        },
        "user[email]": {
          required: true,
          noSpace: true,
          email: true,
          maxlength: 255,
          remote: {
            url: "/check_email_unique",
            type: "get"
          }
        },
        "user[user_name]": {
          required: true,
          noSpace: true,
          pattern: "^[a-zA-Z0-9_\.]*$",
          maxlength: 255,
          remote: {
            url: "/check_username_unique",
            type: "get"
          }
        },
        "user[password]": {
          required: true,
          noSpace: true,
          minlength: 8,
          maxlength: 255
        },
        "user[password_confirmation]": {
          required: true,
          noSpace: true,
          minlength: 8,
          maxlength: 255,
          equalTo: "#user_password"
        },
        "user[terms_and_conditions]": {
          required: true
        }
      },
      messages: {
        "user[first_name]": {
          required: "Please enter your First Name.",
          noSpace: "Please enter valid First Name.",
          maxlength: "Your First Name must be of maximum {0} characters."
        },
        "user[last_name]": {
          required: "Please enter your Last Name.",
          noSpace: "Please enter valid Last Name.",
          maxlength: "Your Last Name must be of maximum {0} characters."
        },
        "user[email]": {
          required: "Please enter your Email Address.",
          noSpace: "Please enter valid Email Address.",
          email: "Please enter valid Email Address.",
          maxlength: "Your Email Address must be of maximum {0} characters.",
          remote: "This Email Address is taken."
        },
        "user[user_name]": {
          required: "Please enter your User Name.",
          noSpace: "Please enter valid User Name.",
          pattern: "Please enter valid User Name.",
          maxlength: "Your User Name must be of maximum {0} characters.",
          remote: "This User Name is taken."
        },
        "user[password]": {
          required: "Please enter your Password.",
          noSpace: "Please enter valid Password.",
          minlength: "Your Password must be of minimum {0} characters.",
          maxlength: "Your Password must be of maximum {0} characters."
        },
        "user[password_confirmation]": {
          required: "Please confirm your Password.",
          noSpace: "Please enter valid Confirm Password.",
          minlength: "Your Confirm Password must be of minimum {0} characters.",
          maxlength: "Your Confirm Password must be of maximum {0} characters.",
          equalTo : "Your Confirm Password must be same as Password."
        },
        "user[terms_and_conditions]": {
          required: "Please agree to the Terms & Conditions and Privacy Policy."
        }
      },
      // highlight: function (element) {
      //   $(element).parent().removeClass("has-success").addClass("has-error");
      //   set_footer();
      // },
      // success: function (element) {
      //   $(element).parent().removeClass("has-error").addClass("has-success");
      //   $(element).removeClass("error");
      //   $(element).addClass("display-table margin-0");
      // }
    });
  });
</script>