$("#container_content").html("<%= j(render partial: 'edit', locals: { static_page: @static_page }) %>");
document.title = "My Account"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= edit_user_registration_path %>");
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}
$("#user_full_name").focus();
// set_footer();
$('html').scrollTop(0);