<% if @email_template.present? && @email_template.account_created.present? %>
	<%= @email_template.account_created.gsub("{{email}}","#{@user.email}").gsub("{{password}}","#{@password}").gsub("{{link}}","#{link_to 'here', new_session_url(@user)}").html_safe %>
<% else %>
	<p>Dear <%= @user.email %>,</p>
	<p>Your MyCompliance account has been created.</p>
	<p>Password: <%= @password %></p>
	<p>Please click <%= link_to 'here', new_session_url(@user) %> to login.</p>

	<p>
		Thanks,<br />
		MyCompliance Team
	</p>
<% end %>
