<% if @email_template.present? && @email_template.user_contact_us.present? %>
	<%= @email_template.user_contact_us.gsub("{{user_contact_us}}","<p>Name:#{{@contact.name}}</p><p>Email: #{@contact.email}</p><p>Contact Number: #{@contact.contact_number}</p><p>Message: #{@contact.message}</p>").html_safe %>
<% else %>
	<p>Contact Us</p>
	<p>Name: <%= @contact.name %></p>
	<p>Email: <%= @contact.email %></p>
	<p>Contact Number: <%= @contact.contact_number %></p>
	<p>Message: <%= @contact.message %></p>
	<p>
		MyCompliance Team
	</p>
<% end %>