<% if @email_template.present? && @email_template.manager_account.present? %>
	<%= @email_template.manager_account.gsub("{{email}}","#{@manager.email}").gsub("{{manager_account}}","<p>Dear, #{@manager.email},</p><p>Email: #{@manager.email}</p><p>UserName: #{@manager.user_name}</p><p>Password: #{@password}</p><p>First Name: #{@manager.first_name}</p><p>Last Name: #{@manager.last_name}</p><p>Phone Number: #{@manager.landline_number}</p><p>Job Title: #{@manager.job_title}</p><p>Mobile Number: #{@manager.mobile_number}</p><p>Employee ID: #{@manager.employee_id}</p>").gsub("{{link}}","#{link_to 'here', new_session_url(@manager)}").html_safe %>
<% else %>
	<p>Dear <%= @manager.email %>,</p>
	<p>Your MyCompliance Manager account has been created.</p>
	<p>Below is the information:</p>
	<p>Email: <%= @manager.email %></p>
	<p>UserName: <%= @manager.user_name %></p>
	<p>Password: <%= @password %></p>
	<p>First Name: <%= @manager.first_name %></p>
	<p>Last Name: <%= @manager.last_name %></p>
	<p>Phone Number: <%= @manager.landline_number %></p>
	<p>Job Title: <%= @manager.job_title %></p>
	<p>Mobile Number: <%= @manager.mobile_number %></p>
	<p>Employee ID: <%= @manager.employee_id %></p>
	<p>Please click <%= link_to 'here', new_session_url(@manager) %> to login.</p>
	<p>
		Thanks,<br />
		MyCompliance Team
	</p>
<% end %>