<% if @email_template.present? && @email_template.manager_created.present?  %>
	<%= @email_template.manager_created.gsub("{{email}}","#{@user.email}").gsub("{{manager_created}}","<p>You have created a Manager's MyCompliance account with Email ID: #{@manager.email}.</p><p>Email: #{@manager.email}</p><p>UserName: #{@manager.user_name}</p><p>Password: #{@password}</p><p>First Name: #{@manager.first_name}</p><p>Last Name: #{@manager.last_name}</p><p>Phone Number: #{@manager.landline_number}</p><p>Job Title: #{@manager.job_title}</p><p>Mobile Number: #{@manager.mobile_number}</p><p>Employee ID: #{@manager.employee_id}</p>").html_safe %>
<% else %>
		<p>Dear <%= @user.email %>,</p>
		<p>You have created a Manager's MyCompliance account with Email ID: <%= @manager.email %>.</p>
		<p>Below is the information:</p>
		<p>Email: <%= @manager.email %></p>
		<p>UserName: <%= @manager.user_name %></p>
		<p>Password: <%= @password %></p>
		<p>First Name: <%= @manager.first_name %></p>
		<p>Last Name: <%= @manager.last_name %></p>
		<p>Phone Number: <%= @manager.landline_number %></p>
		<p>Job Title: <%= @manager.job_title %></p>
		<p>Mobile Number: <%= @manager.mobile_number %></p>
		<p>Employee ID: <%= @manager.employee_id %></p>
		<p>
		Thanks,<br />
		MyCompliance Team
		</p>
<% end %>