<% from_reply_form ||= nil %>
<div class="well">
  <mark>Message</mark>= <%= comment.message %><br>
  <mark>User Name</mark>= <%= comment.root? ? "Started by" : "Replied by" %> <strong><%= comment.user_name %></strong> on<br>
    <mark>created_at</mark>= <%= l(comment.created_at, format: '%B, %d %Y %H:%M:%S') %>
</div>
<% unless from_reply_form %>
  <% if comment.leaf? %>
    <small class="text-muted">There are no replies yet - be the first one to reply!</small>
  <% end %>
  <p><%#= link_to 'reply', new_comment_path(comment.id) %></p>
<% end %>

