<div class="transparentBox">
	<div class="innerPopWhite">
		<div class="popbox">
			<div class="popHeader clearfix">
				<div class="popHd fl">My User Settings</div>
				<span class="closePop fr">X</span>
			</div>
			<div class="popdetails">
				<div class="myreportCon clearfix">
					<%= render partial: "update_password" %>
					<div id="user_email_notification">
						<%= render partial: "user_email_notifications", locals: { email_notification: email_notification } %>
					</div>
					<div id="update_user">
						<%= render partial: "update_user" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
