<div class="myUserSettRow clearfix">
  <%= form_for(current_user, url: user_registration_path, html: { method: :put, id: "update_user_password" }) do |f| %>
    <div class="settingBox fl">
      <div class="siteFormRow">
        <label class="siteLabel mobHide o0" >Password</label>
        <div class="addsiteHd smallHd blueBg">Password</div>
      </div>
    </div>
    <div class="settingBox fl display-none">
      <div class="siteFormRow">
        <label class="siteLabel">Email</label>
        <%= f.email_field :email, placeholder: 'Email Address', required: true, class: "popInput" %>
      </div>
    </div>
    <div class="settingBox fl">
      <div class="siteFormRow">
        <label class="siteLabel">Existing Password</label>
        <%= f.password_field :current_password, autocomplete: "off", placeholder: 'Enter Current Password', required: true, class: "popInput" %>
      </div>
    </div>
    <div class="settingBox fl">
      <div class="siteFormRow">
        <label class="siteLabel">New Password</label>
        <%= f.password_field :password, autocomplete: "off", placeholder: 'Enter Password', class: "popInput", id: "change_new_password" %>
      </div>
    </div>
    <div class="settingBox fl">
      <div class="siteFormRow">
        <label class="siteLabel">Re-enter New Password</label>
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Re-enter password', class: "popInput" %>
      </div>
    </div>
    <div class="settingBox fr">
      <div class="siteFormRow">
        <label class="siteLabel mobHide o0" >submit button</label>
        <%= f.submit "Change Password", class: "changePassBtn" %>
      </div>
    </div>
  <% end %>
</div>

<!--  Slider Outer End-->
<script type="text/javascript">
  $(document).ready(function(){
    $("#update_user_password").validate({
      rules: {
         "user[current_password]": {
          required: true,
          noSpace: true,
          minlength: 8,
          maxlength: 255
        },
        "user[password]": {
          required: true,
          noSpace: true,
          minlength: 8,
          maxlength: 255
        },
        "user[password_confirmation]": {
          required: true,
          noSpace: true,
          minlength: 8,
          maxlength: 255,
          equalTo: "#change_new_password"
        }
      },
      messages: {
        "user[current_password]": {
          required: "Please enter your Current Password.",
          noSpace: "Please enter valid Current password.",
          minlength: "Your Current password must be of minimum 8 characters.",
          maxlength: "Your Current password must be of maximum 255 characters."
        },
        "user[password]": {
          required: "Please enter your Password.",
          noSpace: "Please enter valid Password.",
          minlength: "Your Password must be of minimum 8 characters.",
          maxlength: "Your Password must be of maximum 255 characters."
        },
        "user[password_confirmation]": {
          required: "Please confirm your Password.",
          noSpace: "Please enter valid Confirm Password.",
          minlength: "Your Confirm Password must be of minimum 8 characters.",
          maxlength: "Your Confirm Password must be of maximum 255 characters.",
          equalTo : "Your Confirm Password must be same as Password."
        }
      },
      // highlight: function (element) {
      //   $(element).parent().removeClass("has-success").addClass("has-error");
      //   set_footer();
      // },
      // success: function (element) {
      //   $(element).parent().removeClass("has-error").addClass("has-success");
      //   $(element).removeClass("error");
      //   $(element).addClass("display-table margin-0");
      // }
    });
  });
</script>
