<% content_for(:title) do %>
  Account Update
<% end %>

<div class="update_user_form">
  <br />
  <%= form_for(current_user, url: users_update_profile_path, method: :post, remote: true, html: {id: "update_user_profile_form"}) do |f| %>
    Email: <%= f.email_field :email %><br />
    UserName: <%= f.text_field :user_name %><br />
    First Name: <%= f.text_field :first_name %><br />
    Last Name: <%= f.text_field :last_name %><br />
    Mobile Number: <%= f.text_field :mobile_number %><br />
    Landline Number: <%= f.text_field :landline_number %><br />
    <br />
    <% if company_information.present? %>
      <div id="company_information">
        <div class="title">Company Information</div>
        <%= f.fields_for :company_information do |f_company_information| %>
          Company Name: <%= f_company_information.text_field :name %><br />
          Company Logo: <%= f_company_information.file_field :logo %><br />
          <% if f_company_information.object.logo.present? %>
          	<%= image_tag(f_company_information.object.logo_url, class: 'image-preview-small') %><br />
          <% end %>
          Location:<br />
          Country: <%= f_company_information.select :country, (countries.map {|c_key, c_value| [c_value, c_key]}), { include_blank: false, prompt: "Select" }, required: true, class: "select" %><br />
          State: <%= f_company_information.select :state, (states.map {|s_key, s_value| [s_value, s_key]}), { include_blank: false, prompt: "Select" }, required: true, class: "select" %><br />
          City: <%= f_company_information.select :city, (cities.map {|city| [city, city]}), { include_blank: false, prompt: "Select" }, required: true, class: "select" %><br />
          Zip Code: <%= f_company_information.text_field :zip_code %><br />
          Organization Type: <%= f_company_information.select :organization_type, organization_types.collect {|organization_type| [ organization_type.org_type, organization_type.org_type ] }, { include_blank: false, prompt: "Select" }, class: "select" %><br />
          Number of Employees: <%= f_company_information.select :number_of_employees, number_of_employees.collect {|number_of_employee| [ number_of_employee.employees, number_of_employee.employees ] }, { include_blank: false, prompt: "Select" }, class: "select" %>
        <% end %>
      </div>
    <% end %>
    
    <%= f.submit "Update", class: "btn_start btn-next" %>
  <% end %>
</div>

<script type="text/javascript">
  $(function() {
    $("#user_company_information_attributes_country").change(function(){
      if($(this).val().length > 0) {
        $("#user_company_information_attributes_state").html("<option value=''>Select</option>");
        $("#user_company_information_attributes_city").html("<option value=''>Select</option>");
        $.get("<%= get_states_path %>", { country_id: $(this).val() });
      }
    });
    
    $("#user_company_information_attributes_state").change(function(){
      if($(this).val().length > 0) {
        $("#user_company_information_attributes_city").html("<option value=''>Select</option>");
        $.get("<%= get_cities_path %>", { country_id: $("#user_company_information_attributes_country").val(), state_id: $(this).val() });
      }
    });
    
    $("#update_user_profile_form").validate({
      onkeyup: false,
      rules: {
        "user[email]": {
          required: true,
          noSpace: true,
          email: true,
          maxlength: 255,
          remote: {
            url: "/check_current_email_unique",
            type: "get"
          }
        },
        "user[user_name]": {
          required: true,
          noSpace: true,
          pattern: "^[a-zA-Z0-9_\.]*$",
          maxlength: 255,
          remote: {
            url: "/check_current_username_unique",
            type: "get"
          }
        },
        "user[first_name]": {
          required: true,
          noSpace: true,
          maxlength: 125
        },
        "user[last_name]": {
          required: true,
          noSpace: true,
          maxlength: 125
        },
        "user[mobile_number]": {
          required: true,
          phone: true,
          minlength: 8,
          maxlength: 15
        },
        "user[landline_number]": {
          required: true,
          phone: true,
          minlength: 8,
          maxlength: 15
        },
        <% if company_information.present? %>
          "user[company_information_attributes][name]": {
            required: true,
            noSpace: true,
            maxlength: 125
          },
          "user[company_information_attributes][logo]": {
            required: <%= company_information.logo.present? ? false : true %>,
            extension: "png|jpg|jpeg|gif"
          },
          "user[company_information_attributes][country]": {
            required: true
          },
          "user[company_information_attributes][state]": {
            required: true
          },
          "user[company_information_attributes][city]": {
            required: true
          },
          "user[company_information_attributes][zip_code]": {
            required: true,
            minlength: 4,
            maxlength: 8
          },
          "user[company_information_attributes][organization_type]": {
            required: true
          },
          "user[company_information_attributes][number_of_employees]": {
            required: true
          }
        <% end %>
      },
      messages: {
        "user[email]": {
          required: "Please enter your Email Address.",
          noSpace: "Please enter valid Email Address.",
          email: "Please enter valid Email Address.",
          maxlength: "Your Email Address must be of maximum {0} characters.",
          remote: "This Email Address is taken."
        },
        "user[user_name]": {
          required: "Please enter your User Name.",
          noSpace: "Please enter valid User Name.",
          pattern: "Please enter valid User Name.",
          maxlength: "Your User Name must be of maximum {0} characters.",
          remote: "This User Name is taken."
        },
        "user[first_name]": {
          required: "Please enter your First Name.",
          noSpace: "Please enter valid First Name.",
          maxlength: "Your First Name must be of maximum {0} characters."
        },
        "user[last_name]": {
          required: "Please enter your Last Name.",
          noSpace: "Please enter Last Name.",
          maxlength: "Your Last Name must be of maximum {0} characters."
        },
        "user[mobile_number]": {
          required: "Please enter your Mobile Number.",
          phone: "Please enter valid Mobile Number.",
          minlength: "Your Mobile Number must be of minimum {0} digits.",
          maxlength: "Your Mobile Number must be of maximum {0} digits."
        },
        "user[landline_number]": {
          required: "Please enter your Phone Number.",
          phone: "Please enter valid Phone Number.",
          minlength: "Your Phone Number must be of minimum {0} digits.",
          maxlength: "Your Phone Number must be of maximum {0} digits."
        },
        <% if company_information.present? %>
          "user[company_information_attributes][name]": {
            required: "Please enter your Company Name.",
            noSpace: "Please enter valid Company Name.",
            maxlength: "Your Company Name must be of maximum {0} characters."
          },
          "user[company_information_attributes][logo]": {
            required: "Please upload your Company Logo.",
            extension: "Only png|jpg|jpeg|gif file types are allowed."
          },
          "user[company_information_attributes][country]": {
            required: "Please select your Country."
          },
          "user[company_information_attributes][state]": {
            required: "Please select your State."
          },
          "user[company_information_attributes][city]": {
            required: "Please select your City."
          },
          "user[company_information_attributes][zip_code]": {
            required: "Please enter your Zip Code.",
            minlength: "Your Zip Code must be of minimum {0} characters.",
            maxlength: "Your Zip Code must be of maximum {0} characters."
          },
          "user[company_information_attributes][organization_type]": {
            required: "Please select your Organization Type."
          },
          "user[company_information_attributes][number_of_employees]": {
            required: "Please select your Number of Employees."
          }
        <% end %>
      },
      // highlight: function (element) {
      //   $(element).parent().removeClass("has-success").addClass("has-error");
      //   set_footer();
      // },
      // success: function (element) {
      //   $(element).parent().removeClass("has-error").addClass("has-success");
      //   $(element).removeClass("error");
      //   $(element).addClass("display-table margin-0");
      // }
    });
  });
</script>