<%= form_for(current_user, url: update_user_path, method: :post, remote: true, html: { id: "update_user_form"} ) do |f| %>
  <div class="myUserSettRow clearfix">
    <div class="settingBox fl">
      <div class="siteFormRow">
        <div class="addsiteHd smallHd blueBg">Upload My Logo</div>
      </div>
    </div>
    <div class="settingBox fl">
      <div class="siteFormRow">
        <input type="text" class="popInput" placeholder="" id="avatar_name">
      </div>
      <div class="siteFormRow clearfix" style="margin-top:20px;">
        <label class="siteLabel">Current Logo</label>
        <div class="emailRow clearfix">
          <span class="fl lighttBlClr">
            <% if current_user.avatar.present? %>
            	<%= image_tag(current_user.avatar_url, :class => 'image-preview-small') %>
            <% else %>
            	No Logo!!!
            <% end %>
          </span>
          <% if current_user.avatar.present? %>
            <%= link_to delete_logo_path, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: "cross fr" do %>
              <%= image_tag("cross1.png", alt: "")%>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="settingBox fl">
      <div class="siteFormRow">
        <%= link_to "javascript:;" , class: "browseBtn" do %>
              Browse <%= f.file_field :avatar, class: "browse" %>
            <% end %>
      </div>
    </div>
  </div>

  <div class="myUserSettRow clearfix">
    <div class="settingBox fl">
      <div class="siteFormRow">
        <div class="addsiteHd smallHd blueBg">My Time Zone</div>
      </div>
    </div>
    <div class="settingBox fl">
      <div class="siteFormRow">
        <%= f.time_zone_select(:time_zone, ActiveSupport::TimeZone.us_zones, {}, {class: 'popInput'}) %>
      </div>
    </div>
    <div class="settingBox fl">
      <div class="siteFormRow">
        <%= link_to "javascript:;" , class: "browseBtn" do %>
         Set
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="btnGrpRight clearfix">
    <%= f.submit "Save Changes", class: "saveBtn abtn", style: "margin-top:0;float: right;" %>
  </div>
<% end %>

<!-- validation -->
<script type="text/javascript">
  $(document).ready(function(){
    $("#user_avatar").change(function(){
      filename = $(this).val().split('\\').pop();
      $("#avatar_name").val(filename);
    });
    
    $("#update_user_form").validate({
      rules: {
        "user[avatar]": {
          required: true,
          noSpace: true
        },
       "user[time_zone]": {
					required: true,
					noSpace: true
        }
      },
      messages: {
        "user[avatar]": {
          required: "Please Upload image .",
          noSpace: "Please Upload image."
        },
        "user[time_zone]": {
          required: "Please enter your Email Address.",
          noSpace: "Please enter valid Email Address."
        }
      },
    });
  });
</script>