<%= form_for(email_notification, url: user_email_notification_path, method: :post, remote: true, html: {id: "user_email_notification_form"} ) do |f| %>
  <div class="myUserSettRow clearfix">
    <div class="settingBox fl">
      <div class="siteFormRow">
        <div class="addsiteHd smallHd blueBg">Email Notifications</div>
        <div class="addsiteHd smallHd grayheaderBg mt7">My Notifications</div>
      </div>
    </div>
    <div class="settingBox fl">
      <div class="siteFormRow">
        <label class="siteLabel">When Should Due Soon emails be sent to myself</label>
        <!-- <select class="popInput">
          <option>4 week prior</option>
        </select> -->
        <%= f.text_field :due_soon, class: "popInput" %>
      </div>
    </div>
    <div class="settingBox fl">
      <div class="siteFormRow">
        <label class="siteLabel">How Often Should Due Soon emails be sent to myself</label>
        <!-- <select class="popInput">
          <option>Every 7 Days</option>
        </select> -->
        <%= f.text_field :due_soon_often, class: "popInput" %>
      </div>
    </div>
    <div class="settingBox fl">
      <div class="siteFormRow">
        <label class="siteLabel">When should Overdue emails be sent to myself</label>
        <!-- <select class="popInput">
          <option>Every 7 Days</option>
        </select> -->
        <%= f.text_field :overdue, class: "popInput" %>
      </div>
    </div>
    <div class="settingBox fr">
      <div class="siteFormRow">
        <label class="siteLabel">How often Should Overdue emails be sent to myself</label>
        <!-- <select class="popInput">
          <option>Every 7 Days</option>
        </select> -->
        <%= f.text_field :overdue_often, class: "popInput" %>
      </div>
    </div>
  </div>

  <div class="myUserSettRow clearfix">
    <div class="settingBox fl">
      <div class="siteFormRow">
        <div class="addsiteHd smallHd blueBg mobHide vh" >Email Notification</div>
        <div class="addsiteHd smallHd grayheaderBg mt7">Invitee Notification</div>
      </div>
    </div>
    <div class="settingBox fl">
      <div class="siteFormRow">
        <label class="siteLabel">When Should Due Soon emails be sent to invitees</label>
        <!-- <select class="popInput">
          <option>Never</option>
        </select> -->
        <%= f.text_field :due_soon_invitee, class: "popInput" %>
      </div>
    </div>
    <div class="settingBox fl">
      <div class="siteFormRow">
        <label class="siteLabel">How Often Should Due Soon emails be sent to invitees</label>
        <!-- <select class="popInput">
          <option>Every 7 Days</option>
        </select> -->
        <%= f.text_field :due_soon_often_invitee, class: "popInput" %>
      </div>
    </div>
    <div class="settingBox fl">
      <div class="siteFormRow">
        <label class="siteLabel">When should Overdue emails be sent to invitees</label>
        <!-- <select class="popInput">
          <option>Every 7 Days</option>
        </select> -->
        <%= f.text_field :overdue_invitee, class: "popInput" %>
      </div>
    </div>
    <div class="settingBox fr">
      <div class="siteFormRow">
        <label class="siteLabel">How often Should Overdue emails be sent to invitees</label>
        <!-- <select class="popInput">
          <option>Every 7 Days</option>
        </select> -->
        <%= f.text_field :overdue_often_invitee, class: "popInput" %>
      </div>
    </div>
  </div>
<% end %>

<!-- validation -->
<script type="text/javascript">
  $(document).ready(function(){
    $("#user_email_notification_form").validate({
      rules: {
        "user_email_notification[due_soon]": {
          required: true
        },
        "user_email_notification[due_soon_often]": {
          required: true
        },
        "user_email_notification[overdue]": {
          required: true
        },
        "user_email_notification[due_soon_invitee]": {
          required: true
        },
        "user_email_notification[due_soon_often_invitee]": {
          required: true
        },
        "user_email_notification[overdue_invitee]": {
          required: true
        },
        "user_email_notification[overdue_often_invitee]": {
          required: true
        }
      },
      messages: {
        "user_email_notification[due_soon]": {
          required: "Please enter your Due soon.",
          noSpace: "Please enter valid Due soon."
        },
        "user_email_notification[due_soon_often]": {
          required: "Please enter your Due soon often.",
          noSpace: "Please enter Due soon often."
        },
        "user_email_notification[overdue]": {
          required: "Please enter your Overdue.",
          noSpace: "Please enter Last Overdue."
        },
        "user_email_notification[due_soon_invitee]": {
          required: "Please enter your Due soon invitee.",
          noSpace: "Please enter valid Due soon invitee."
        },
        "user_email_notification[due_soon_often_invitee]": {
          required: "Please enter your Due soon often invitee.",
          noSpace: "Please enter valid Due soon often invitee."
        },
        "user_email_notification[overdue_invitee]": {
          required: "Please enter your Overdue invitee.",
          noSpace: "Please enter valid Overdue invitee."
        },
        "user_email_notification[overdue_often_invitee]": {
          required: "Please enter your Overdue often invitee.",
          noSpace: "Please enter valid Overdue often invitee.",
        }
      },
      // highlight: function (element) {
      //   $(element).parent().removeClass("has-success").addClass("has-error");
      //   set_footer();
      // },
      // success: function (element) {
      //   $(element).parent().removeClass("has-error").addClass("has-success");
      //   $(element).removeClass("error");
      //   $(element).addClass("display-table margin-0");
      // }
    });
  });
</script>
