<% if @cities.present? %>
  var cities = "<option value=''>Select</option>";
  <% @cities.each do |city| %>
    cities += "<option value='<%= city %>'><%= city %></option>"
  <% end %>
  $("#user_company_information_attributes_city").html(cities);
<% end %>