<% if @states.present? %>
  var states = "<option value=''>Select</option>";
  <% @states.each do |state| %>
    states += "<option value='<%= state.first %>'><%= state.last %></option>"
  <% end %>
  $("#user_company_information_attributes_state").html(states);
<% end %>