$("#myUserSetting").html("<%= j(render partial: 'settings', locals: { email_notification: @email_notification, static_page: @static_page }) %>");
$("#myUserSetting").fadeIn(300);
$("body").addClass("hiddens");

$(".closePop").click(function(){								 
  $(".popOverlay").fadeOut(300);
  $("body").removeClass("hiddens");
});


// document.title = "My User Settings"
// if (history && history.pushState) {
// 	history.pushState(null, document.title, "<%= my_settings_path %>");
// 	$(window).bind("popstate", function(){
//     $.getScript(location.href);
//   });
// }

// set_footer();
// $('html').scrollTop(0);