<% if @company_information.present? %>
  $("#container_content").html("<%= j(render partial: 'update_form', locals: { company_information: @company_information, organization_types: @organization_types, number_of_employees: @number_of_employees, countries: @countries, states: @states, cities: @cities, static_page: @static_page }) %>");
<% else %>
  $("#container_content").html("<%= j(render partial: 'update_form', locals: { company_information: @company_information, static_page: @static_page }) %>");
<% end %>

document.title = "Account Update"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= users_update_path %>");
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}

// set_footer();
$('html').scrollTop(0);