<% if @company_information.present? %>
  <%= render partial: 'update_form', locals: { company_information: @company_information, organization_types: @organization_types, number_of_employees: @number_of_employees, countries: @countries, states: @states, cities: @cities, static_page: @static_page } %>
<% else %>
  <%= render partial: 'update_form', locals: { company_information: @company_information, static_page: @static_page } %>
<% end %>