<% content_for(:title) do %>
  Forgot Your Password
<% end %>

<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, id: "forgot_password_new" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :login, autofocus: true, required: true, placeholder: "User Name / Email Id" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<script type="text/javascript">
  $(document).ready(function(){
    $("#forgot_password_new").validate({
      errorPlacement: function(error, element) {
        error.insertAfter( element );
      },
      rules: {
        "user[login]": {
          required: true,
          noSpace: true,
          maxlength: 255
        }
      },
      messages: {
        "user[login]": {
          required: "Please enter your User Name or Email Id.",
          noSpace: "Please enter valid User Name or Email Id.",
          maxlength: "Your User Name must be of maximum {0} characters."
          
        }
      },
      // highlight: function (element) {
      //   $(element).parent().removeClass("has-success").addClass("has-error");
      // },
      // success: function (element) {
      //   $(element).parent().removeClass("has-error").addClass("has-success");
      //   $(element).removeClass("error");
      //   $(element).addClass("display-table margin-0");
      // }
    });
  });
</script>
