$("#signuppopup").fadeOut(400);
$("body").removeClass("hiddens");
$("#loginpopup").fadeOut(400);
$("body").removeClass("hiddens");

$("#container_content").html("<%= j(render partial: 'new', locals: { static_page: @static_page }) %>");
document.title = "Forgot Your Password"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= new_user_password_path %>");
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}

$("#user_login").focus();
// set_footer();
$('html').scrollTop(0);