<% if !current_role.include? "contractor" %>
  <div class="comBox">
    <div class="notComplent">
      <%= link_to "javascript:;" do %>
        Compliance Due <span><%= due_compliant_sites %></span>
      <% end %>
    </div>
    <div class="complenceDue">
      <%= link_to "javascript:;" do %>
        Not Compliant <span><%= not_compliant_sites %></span>
      <% end %>
    </div>
  </div>
<% end %>