<!--Start Header-->
<div class="dashHeader clearfix">
	<div class="logodash fl">
    <%= link_to root_path, remote: true do %>
      <%= image_tag("dashlogo.jpg", alt: "")%>
    <% end %>
  </div>
  <div class="dashHeaderRight fr">
    <div id="compliance_box">
      <%= render partial: "shared/compliance_box", locals: {not_compliant_sites: @not_compliant_sites, due_compliant_sites: @due_compliant_sites} %>
    </div>
    <span class="settingIcon">
      <%= image_tag("setting.png", alt: "", class: "dropmenuSetting")%>
     	<div class="settingBox helpDropDown dropDown">
        <%#= link_to "My Profile", "#" %>
        <%= link_to "My User Settings", my_settings_path, remote: true %>
        <%= link_to "Item Templates", item_templates_path, remote: true %>
        <%= link_to "Notification Templates", user_notification_templates_path, remote: true %>
        <%= link_to "Preferred Email List", user_preferred_emails_path, remote: true %>
        <% if current_user.has_role? :company %>
     		 <%= link_to "Employee/ Manager user management", users_management_path, remote: true %>
     		<% end %>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
      </div>
    </span>
    <div class="colliersImage"><%= image_tag("colliers.jpg", alt: "")%></div>
  </div>
</div>
<!--End Header-->