<!--Start Footer-->
<footer class="clearfix">
  <div class="container">
    <div class="footerBox">
      <h1 class="ftrHead wow fadeInUp">Quick Links<div class="plus">+</div></h1>
      <div class="ftrCon">
        <ul class="ftrLsit wow fadeInUp">
          <li><%= link_to "Home", root_path, remote: true %></li>
          <li><%= link_to "About My compliance", about_us_path, remote: true %></li>  
          <li><%= link_to "Blog", "javascript:;" %></li>
          <li><%= link_to "Contact", contact_us_path, remote: true %></li>
        </ul>
      </div>
    </div>
    <div class="footerBox">
      <h1 class="ftrHead wow fadeInUp">Recent Post<div class="plus">+</div></h1>
      <div class="ftrCon">
        <% @popular_news.each do |news|%>
        <ul class="ftrLsit wow fadeInUp">
          <li><%= link_to news.title,news_show_path(news), remote: true %></li>
        </ul>
        <% end %>
        <% if @latest_popular_news.present? %>
          <% @latest_popular_news.each do |news|%>
            <ul class="ftrLsit wow fadeInUp">
             <li><%= link_to news.title,news_show_path(news), remote: true %></li>
            </ul>
          <% end %>
        <% end %>
      </div>
    </div>


    <div class="footerBox">
      <h1 class="ftrHead wow fadeInUp">About Us<div class="plus">+</div></h1>
      <div class="ftrCon">
        <ul class="ftrLsit wow fadeInUp">
          <li><%= link_to "Lorem ipsum dolor sit amet, consectetuer", "javascript:;" %></li> 
          <li><%= link_to "adipiscing elit, sed diam nonummy nibh", "javascript:;" %></li> 
          <li><%= link_to "euismod tincidunt ut laoreet dolore magna", "javascript:;" %></li> 
          <li><%= link_to "aliquam erat volutpat.", "javascript:;" %></li>
          <li><%= link_to "euismod tincidunt ut laoreet dolore magna", "javascript:;" %></li> 
          <li><%= link_to "aliquam erat volutpat.", "javascript:;" %></li>
        </ul>
      </div>
    </div>
    <div class="footerBox">
      <h1 class="ftrHead wow fadeInUp">Newsletter Sign Up<div class="plus">+</div></h1>
      <div class="ftrCon">
        <p class="wow fadeInUp">Subscribe to our newletter to receive the latest updates from My compliance</p>
        <%= form_for(newsletter, url: create_newsletter_path(newsletter), method: :post, remote: true) do |f| %>
          <%= f.email_field :email, class: "inputComn", placeholder: "Email", required: true %><br>
          <%= f.submit "Subscribe",class: "subsBtn abtn" %>
        <% end %>
      </div>
    </div>
  </div>
</footer>
<!--End Footer-->

<!--Start CopyRight-->
<div class="copyRight clearfix">
  <div class="container">
    <div class="copyLeftBox wow fadeInUp fl">
      <ul class="social">
        <li><%= link_to "", "javascript:;", class: "facebook" %></li>
        <li><%= link_to "", "javascript:;", class: "twitter" %></a></li>
        <li><%= link_to "", "javascript:;", class: "linkedin" %></li>
        <li><%= link_to "", "javascript:;", class: "gmail" %></li>      
      </ul>
    </div>
    <div class="copyRightBox wow fadeInUp fr">
      <p>Mycompliance.com © <%= Time.now.year %>. All Rights Reserved.</p>
    </div>
  </div>
</div>
<!--End CopyRight-->

<% unless user_signed_in? %>
  <!--Start Login PopUp-->
  <div class="backBg" id="loginpopup">
    <div class="loginBox">
      <div class="loginCon">
        <div class="mainHeading visibility">Sign <strong>IN now!</strong></div>
        <div class="loginForm">
          <%= form_for(@new_user, url: user_session_path, html: {id: "login_popup"}) do |f| %>
            <label>User Name / Email Id</label>
            <%= f.text_field :login, autofocus: true, required: true, placeholder: "User Name / Email Id", class: "inputComn" %>
            <label>Password</label>
            <%= f.password_field :password, required: true, placeholder: "***********", class: "inputComn" %>
            <div class="cstmchkBox clearfix">
              <div class="checkboxLeft">
                <%= f.check_box :remember_me, class: "css-checkbox1", id: "checkBox3" %> 
                <label for="checkBox3" class="css-label1 radGroup1">Remember Me</label>
              </div>
              <div class="checkboxRight">
              <%= link_to new_user_password_path, class: "forgotPass", remote: true do %>
                : &nbsp;&nbsp;&nbsp;&nbsp;Forgot Password?
              <% end %>
              </div>
            </div>
            <div class="popUpsBtns">
              <%= f.submit "Login", class: "loginBtnPops abtn" %>
              <!-- <span class="accounts">Don't have an account? <a href="javascript:;" class="signUpBtn">Sign Up Now!</a></span> -->
              <span class="accounts">Don't have an account? <%= link_to "Sign Up Now!", new_user_registration_path, class: "popUpLink", remote: true %></span>
            </div>
          <% end %>
        </div>
      </div>
      <div class="freeTrial">
        <span><%= link_to "Sign Up", "javascript:;" %>for a <strong>30 day</strong> free trial</span>
      </div>
      <div class="closebtn"><text>X</text></div>
    </div>
  </div>
  <!--End Login PopUp-->
  
  <!--Start Signup PopUp-->
  <div class="backBg" id="signuppopup">
    <div class="loginBox">
      <div class="loginCon">
      <div class="mainHeading visibility">Sign <strong> Up now!</strong></div>
      <div class="loginForm">
        <label>Enter Username or Enter Email Address</label>
        <input type="text" class="inputComn" value="" name="" placeholder="XYZ">
        <label>Enter Password</label>
        <input type="password" class="inputComn" value="" name="" placeholder="***********">
        <div class="cstmchkBox clearfix">
          <div class="checkboxLeft">
            <input type="checkbox" name="smoking" class="css-checkbox1" id="checkBox4"> 
            <label for="checkBox4" class="css-label1 radGroup1">I agree  to mycomplaince  Term & Services</label>
          </div>
        </div>
        <div class="popUpsBtns">
          <%= link_to "Login", "javascript:;", class: "loginBtnPops" %>
          <span class="accounts">Already have an account? <%= link_to "Sign In Now!", "javascript:;",class: "popUpLink LoginPoPUp" %></span>
        </div>
      </div>	
      </div>
      <div class="freeTrial">
        <span><%= link_to "Pay Now!", "javascript:;" %></span>
      </div>
      <div class="closebtn closebtn2"><text>X</text></div>
    </div>
  </div>
  <!--End Signup PopUp-->
<% end %>

<div class="ajax-loading">
  <span>
    <p id="please_wait"><strong>Please wait..</strong></p>
    <p><i class="glyphicon glyphicon-refresh gly-spin" aria-hidden="true"></i></p>
  </span>
</div>

<!-- Validation -->
<script type="text/javascript">
  $(document).ready(function(){
    $("#new_newsletter").validate({
      errorPlacement: function(error, element) {
        error.insertAfter( element );
      },
      rules: {
        "newsletter[email]": {
          required: true,
          email: true,
          noSpace: true,
          maxlength: 255
        }
      },
      messages: {   
        "newsletter[email]": {
          required: "Please enter your Email Address.",
          email: "Please enter valid Email Address.",
          noSpace: "Please enter valid Email Address.",
          maxlength: "Your Email must be of maximum {0} characters."
        }
      },
    });
  });
</script>

<%= analytics_init if GoogleAnalytics.valid_tracker? %>
