<!--Start Header-->
<header>
  <div class="container clearfix">
    <!--Start Logo-->
    <div class="logo fl">
      <%= link_to root_path do %>
        <%= image_tag("logo.png", alt: "")%>
      <% end %>
    </div>
    <!--End Logo-->
    <!--Start MenuBar-->
    <% if user_signed_in? %>
      <div class="menuBar fr">
        <ul>
          <li class="active">
              <%= link_to "Sites", root_path, remote: true %>
          </li>
          <li>
            <% if user_permission("manage_item_template") %>
              <%= link_to "Item Templates", item_templates_path, remote: true %>
            <% else %>
              <%= link_to "Item Templates", item_templates_path, remote: true, class: "disable" %>
            <% end %>
          </li>
          <li>
            <% if user_permission("preferred_emails") %>
              <%= link_to "Preferred EL", user_preferred_emails_path, remote: true %>
            <% else %>
              <%= link_to "Preferred EL", user_preferred_emails_path, remote: true, class: "disable" %>
            <% end %>
          </li>
          <li>
            <% if user_permission("user_settings") %>
              <%= link_to "Settings", my_settings_path, remote: true %>
            <% else %>
              <%= link_to "Settings", my_settings_path, remote: true, class: "disable" %>
            <% end %>
          </li>
          <li><%= link_to "Employee UM", users_management_path, remote: true if current_role.include?("company") %></li>
          <li><%= link_to "News", news_path, remote: true %></li>
          <li><%= link_to "Teams", teams_path, remote: true %></li>
        </ul>
      </div>
      <%= link_to t('links.logout'), destroy_user_session_path, method: :delete, class: "loginBtn LoginPoPUp" %>
    <% else %>
      <div class="menuBar fr">
        <ul>
          <li class="active"><%= link_to "Home", root_path, remote: true %></li>
          <li><%= link_to "Plans", pricing_path%></li>
          <li><%= link_to "Why Us", why_us_path, remote: true %></li>
          <li><%= link_to "Instant ROI", "javascript:;", remote: true %></li>
          <li><%= link_to "Contact", contact_us_path, remote: true %></li>
          <li><%= link_to "Support", "javascript:;", remote: true %></li>
        </ul>
      </div>
      <%= link_to "Login", "javascript:;", class: "loginBtn LoginPoPUp" %>
    <% end %>
    <!--End MenuBar-->
    <!--Start MonileNav-->
    <%= link_to "javascript:;", class: "mobnav" do %>
      <i></i><i></i><i></i><i></i>
    <% end %>

    <!--End MonileNav-->
  </div>
</header>
<!--End Header-->
<!-- 
<% if user_signed_in? %>
  <%= t('links.signed_as', user: current_user.email) %>
  <%= link_to t('links.logout'), destroy_user_session_path, method: :delete, class: "signIn logout" %>
<% else %>
  <%= link_to t('links.sign_in'), new_user_session_path, class: "signIn" %> 
  <%#= link_to t('links.sign_up'), new_user_registration_path, class: "signIn" %><br>
  <% plans = Plan.all %>
  <table>
    <tr>
  	  <% plans.each do |plan|%>
  	   <td>Name::<%=plan.name %></td>
  	  <% end %>
    </tr>
    <tr>
  	  <% plans.each do |plan|%>
  	   <td>Price::<%= plan.price %></td>
  	  <% end %>
    </tr>
    <tr>
  	  <% plans.each do |plan|%>
  	   <td><%=link_to "Sign up",new_user_registration_path(plan_id: plan.id)%></td>
  	  <% end %>
    </tr>
  </table>
<% end %> -->

