<% content_for(:title) do %>
  About Us
<% end %>

<!--Start About us-->
<% if static_page.present? && static_page.about_us.present? %>
  <%= static_page.about_us.html_safe %>
<% else %>
<% end %>
<!--End About us-->
