<div class="item" style="background:url('<%= banner.image.try(:url) %>') no-repeat center center;background-size:cover;">
  <div class="container">
    <div class="sliderCaption">
      <%= banner.heading.html_safe %>
      <%= banner.description.html_safe %>
      <%= banner.link.html_safe %>
    </div>
  </div>
</div>