<!-- <div id="comment_<%#= comment.id %>">
	Username: <%#= comment.user_name %>, Date: <%#= comment.created_at %>, Message: <%#= comment.message %>
	<div id="comment_<%#= comment.id %>_reply">
		<%#= link_to "Add reply", new_reply_path(comment.id), remote: true %>
	</div>
</div>
 -->
<div class="discussionBox">
  <%= image_tag("reply1.png", alt: "", class: "replyImg") %>
  <strong><%= comment.user_name %></strong>
  <span><%= comment.created_at.in_time_zone.strftime("%b %d, %Y at %H:%M %p") %></span>
  <p><%= comment.message %></p>
  <div id="comment_<%= comment.id %>_reply">
		<%= link_to new_reply_path(comment.id), remote: true do %>
			Reply <%= image_tag("line.png", alt: "") %>
		<% end %>
	</div>
</div>