<% content_for(:title) do %>
  Contact Us
<% end %>

<!--Start Why Banner-->
<div class="whyBanner contactbanner">
  <div class="container">
    <div class="whyBannerCaption contactCaption wow fadeInUp"><h1>Space For TAg Line<br> That You Can Trust</h1></div>
  </div>
</div>
<!--End Why Banner-->

<!--Start Breadcrumbs-->
<div class="breadcrumbs">
  <div class="container">
    <ul>
      <li>
        <%= link_to root_path, remote: true do %>
          Home <%= image_tag("rightSignarrow.png", alt: "")%>
        <% end %>
      </li>
      <li class="active"><%= link_to "Contact Us", "javascript:;" %></li>
    </ul>
  </div>
</div>
<!--End Breadcrumbs-->

<!--Start get in touch-->
<div class="getinTouch clearfix">
  <div class="container">
    <div class="touchLeft fl">
      <div class="mainHeading wow fadeInUp visibility">Get<strong>In Touch</strong></div>
      <p class="wow fadeInUp">Lorem ipsum consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis. Nunc consectetur odio sed dolor tincidunt porttitor.
      </p>

      <%= form_for(@contact, url: contact_us_path(@contact), method: :post, remote: true)  do |f| %>
        <% if static_page.present? && static_page.contact_us.present? %>
          <%= static_page.contact_us.html_safe %>
          <% else %>
            <div class="getinTouchForm">
          <%= f.text_field :name, class: "inputComn", placeholder: "Name" %>
          <%= f.email_field :email, class: "inputComn", placeholder: "Email" %>
          <%= f.text_field :contact_number, class: "inputComn", placeholder: "Contact" %>
          <%= f.text_area :message, rows: "4", cols: "50", class: "inputComn", placeholder: "Message" %>
          <%=f.submit "Submit" ,class: "submtBtn abtn" %>
            </div>
        <% end %>
      <% end %>
    </div>
    <div class="touchRight wow fadeInUp fr">
      <div class="mainHeading wow fadeInUp visibility">office<strong>In</strong></div>
      <ul class="addressContactList">
        <li>
          <%= link_to "javascript:;" do %>
           <%= image_tag("phone.png", alt: "")%><text>+11 (0) 200 1111 001</text>
          <% end %>
        </li>
        <li>
          <%= link_to "javascript:;" do %>
           <%= image_tag("phone.png", alt: "")%><text>+11 (0) 200 1111 001</text>
          <% end %>
        </li>
        <li>
          <%= link_to "javascript:;" do %>
            <%= image_tag("support.png", alt: "")%><text>support@tmy-compliance.com</text>
          <% end %>
        </li>
        <li>
          <%= link_to "javascript:;" do %>
            <%= image_tag("place.png", alt: "")%><text>Ipsum Lorem, place nice, RD nice <br>Lorem, state pace <br>78666</text>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--End Welcome-->

<!--Start locationin Map-->
<div class="locationMap clearfix">
  <div class="container">
    <div class="mainHeading wow fadeInUp visibility">Location<strong>In Map</strong></div>
    <div class="mapViews">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12607.20594710062!2d144.92926922828806!3d-37.81811852521498!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d674616d46f%3A0x5045675218cfdf0!2sDocklands+VIC+3008%2C+Australia!5e0!3m2!1sen!2sin!4v1470397790310" width="100%" height="365" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
<!--End locationin Map-->

<script type="text/javascript">
$(document).ready(function(){
  $("#new_contact_us").validate({
    errorPlacement: function(error, element) {
      error.insertAfter( element );
    },
    rules: {
      "contact_us[name]": {
        required: true,
        noSpace: true,
        maxlength: 125
      },
      "contact_us[email]": {
        required: true,
        email: true,
        noSpace: true,
        maxlength: 255
      },
      "contact_us[contact_number]": {
        required: true,
        phone: true,
        minlength: 8,
        maxlength: 15
      },
      "contact_us[message]": {
        required: true,
        noSpace: true,
        minlength: 4,
        maxlength: 65000
      }
    },
    messages: {
      "contact_us[name]": {
        required: "Please enter your Name.",
        noSpace: "Please enter valid Name.",
        maxlength: "Your Name must be of maximum 125 digits."
      },
      "contact_us[email]": {
        required: "Please enter your Email Address.",
        email: "Please enter valid Email Address.",
        noSpace: "Please enter valid Email Address.",
        maxlength: "Your Email must be of maximum 255 digits."

      },
      "contact_us[contact_number]": {
        required: "Please enter your Contact Number.",
        phone: "Please enter valid Contact Number.",
        minlength: "Your Contact Number must be of minimum 8 digits.",
        maxlength: "Your Contact Number must be of maximum 15 digits."
      },
      "contact_us[message]": {
        required: "Please enter your Message.",
        noSpace: "Please enter valid Message.",
        minlength: "Your Message must contain minimum 4 characters.",
        maxlength: "Your Message must be of maximum 65000 digits."
      }
    },
  });
});
</script>
