<% content_for(:title) do %>
  Faq
<% end %>
<!--Start faq Banner-->
		<div class="faqBanner">
			<div class="container">
				<div class="faqBannerCaption wow fadeInUp"><h1>Space For TAg Line<br> That You Can Trust</h1></div>
			</div>
		</div>
	<!--End faq Banner-->
	
	<!--Start Breadcrumbs-->
		<div class="breadcrumbs">
			<div class="container">
				<ul>
					<li>
						<%= link_to root_path, remote: true do %>
							Home <%= image_tag("rightSignarrow.png", alt: "")%>
					  <% end %>
					</li>
					<li class="active"><%= link_to "FAQ", "javascript:;" %></li>                 
				</ul>
			</div>
		</div>
	<!--End Breadcrumbs-->
	
	<!--Start faqMain-->
		<div class="faqMain clearfix">
			<div class="container">
				<div class="faqLeft fl">
					<ul class="menuList">
						<li class="active">
							<%= link_to "javascript:;" do %>
								About <%= image_tag("abouticon.png", alt: "", class: "fr") %>
							<% end %>
						</li>
						<li>
							<%= link_to "javascript:;" do %>
								Payment <%= image_tag("abouticon.png", alt: "", class: "fr") %>
							<% end %>
						</li>
						<li>
							<%= link_to "javascript:;" do %>
								HOw it works <%= image_tag("abouticon.png", alt: "", class: "fr") %>
							<% end %>
						</li>
						<li>
							<%= link_to "javascript:;" do %>
								Events  <%= image_tag("abouticon.png", alt: "", class: "fr") %>
							<% end %>

						</li>
						<li><%= link_to "javascript:;" do %>
								Lorem ipsum  <%= image_tag("abouticon.png", alt: "", class: "fr") %>
							<% end %>
						</li>
						<li>
							<%= link_to "javascript:;" do %>
								Dummy Text <%= image_tag("abouticon.png", alt: "", class: "fr") %>
							<% end %>
						</li>
						<li>
							<%= link_to "javascript:;" do %>
								Lorem Dummy <%= image_tag("abouticon.png", alt: "", class: "fr") %>
							<% end %>
						</li>
						<li>
							<%= link_to "javascript:;" do %>
								Ipsum Text <%= image_tag("abouticon.png", alt: "", class: "fr") %>
							<% end %>
						</li>
					</ul>
				</div>
				<div class="faqRight fr">
					<div class="faqBox">
						<div class="imgBox"><%= image_tag("faq1.png", alt: "", class: "faqImg") %></div>
						<h1 class="wow fadeInUp">About us</h1>
						<p class="wow fadeInUp">Lorem Ipsum is simply dummy. It has survived not only five. Letraset sheets containing</p>
						<%= link_to "javascript:;" do %>
							More <%= image_tag("rightarrowP.png", alt: "", class: "arrowImg") %>
						<% end %>					
					</div>
					<div class="faqBox">
						<div class="imgBox"><%= image_tag("faq2.png", alt: "", class: "faqImg") %></div>
						<h1 class="wow fadeInUp">Payment</h1>
						<p class="wow fadeInUp">Lorem Ipsum is simply dummy. It has survived not only five. Letraset sheets containing</p>
						<%= link_to "javascript:;" do %>
							More <%= image_tag("rightarrowP.png", alt: "", class: "arrowImg") %>
						<% end %>						
					</div>
					<div class="faqBox">
						<div class="imgBox"><%= image_tag("faq3.png", alt: "", class: "faqImg") %></div>
						<h1 class="wow fadeInUp">How it works</h1>
						<p class="wow fadeInUp">Lorem Ipsum is simply dummy. It has survived not only five. Letraset sheets containing</p>
						<%= link_to "javascript:;" do %>
							More <%= image_tag("rightarrowP.png", alt: "", class: "arrowImg") %>
						<% end %>						
					</div>
					<div class="faqBox">
						<div class="imgBox"><%= image_tag("faq4.png", alt: "", class: "faqImg") %></div>
						<h1 class="wow fadeInUp">Events</h1>
						<p class="wow fadeInUp">Lorem Ipsum is simply dummy. It has survived not only five. Letraset sheets containing</p>
						<%= link_to "javascript:;" do %>
							More <%= image_tag("rightarrowP.png", alt: "", class: "arrowImg") %>
						<% end %>						
					</div>
					<div class="faqBox">
						<div class="imgBox"><%= image_tag("faq5.png", alt: "", class: "faqImg") %></div>
						<h1 class="wow fadeInUp">Lorem Ipsum</h1>
						<p class="wow fadeInUp">Lorem Ipsum is simply dummy. It has survived not only five. Letraset sheets containing</p>
						<%= link_to "javascript:;" do %>
							More <%= image_tag("rightarrowP.png", alt: "", class: "arrowImg") %>
						<% end %>						
					</div>
					<div class="faqBox">
						<div class="imgBox"><%= image_tag("faq1.png", alt: "", class: "faqImg") %></div>
						<h1 class="wow fadeInUp">Dummy Text</h1>
						<p class="wow fadeInUp">Lorem Ipsum is simply dummy. It has survived not only five. Letraset sheets containing</p>
						<%= link_to "javascript:;" do %>
							More <%= image_tag("rightarrowP.png", alt: "", class: "arrowImg") %>
						<% end %>						
					</div>
					<div class="faqBox">
						<div class="imgBox"><%= image_tag("faq1.png", alt: "", class: "faqImg") %></div>
						<h1 class="wow fadeInUp">Lorem Dummy</h1>
						<p class="wow fadeInUp">Lorem Ipsum is simply dummy. It has survived not only five. Letraset sheets containing</p>
						<%= link_to "javascript:;" do %>
							More <%= image_tag("rightarrowP.png", alt: "", class: "arrowImg") %>
						<% end %>						
					</div>
					<div class="faqBox">
						<div class="imgBox"><%= image_tag("faq1.png", alt: "", class: "faqImg") %></div>
						<h1 class="wow fadeInUp">Ipsum Text</h1>
						<p class="wow fadeInUp">Lorem Ipsum is simply dummy. It has survived not only five. Letraset sheets containing</p>
						<%= link_to "javascript:;" do %>
							More <%= image_tag("rightarrowP.png", alt: "", class: "arrowImg") %>
						<% end %>						
					</div>
				</div>
			</div>
		</div>
	<!--End faqmain-->