<div class="teamBoxMain">
  <div class="teamBox">
    <%= image_tag(feature.image.url, alt: "")%>
    <div class="teamCon">
		  <%= link_to "#{feature.description.truncate(50)}", feature_show_path(feature), remote: true %>
      <div class="borderImg"><%= image_tag("borderBottomLine.png", alt: "", class: "plusSign") %></div>
      <p></p>
    </div>
  </div>
  <%= link_to "READ MORE", feature_show_path(feature),remote: true,  class: "readMoreBtn" %>
</div>


