

 <% content_for(:title) do %>
  Features
<% end %>

<!--Start Why Banner-->
<div class="whyBanner">
	<div class="container">
		<div class="whyBannerCaption wow fadeInUp"><h1>Space For TAg Line<br> That You Can Trust</h1></div>
	</div>
</div>
<!--End Why Banner-->
	
<!--Start Breadcrumbs-->
<div class="breadcrumbs">
	<div class="container">
		<ul>
			<li>
				<%= link_to root_path, remote: true do %>
					Home <%= image_tag("rightSignarrow.png", alt: "")%>
				<% end %>
			</li>
				<li class="active"><%= link_to "Feature", "javascript:;" %></li>
			</ul>
	</div>
</div>
<!--End Breadcrumbs-->

	
<!--Start Related Team-->
<div class="ourTeam relatedTeam">
	<div class="container">
		<div class="mainHeading wow fadeInUp visibility">Related<strong>Feature</strong></div>
		<p class="headPara wow fadeInUp visibility">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
		<div class="teamMain clearfix wow fadeInUp visibility">
		<% features.each do |feature| %>
			<%= render partial: "feature", locals: { feature: feature } %>
		<% end %>
		</div>
	</div>
</div>
<!--End Related Team-->