<% content_for(:title) do %>
  My Compliance
<% end %>

<!--Start Banner-->
<div class="homeBanner">
  <div class="homeSlider">
    <% banners.each do |banner| %>
      <%= render partial: "banner", locals: {banner: banner} %>
    <% end %>
  </div>
  
  <!--Start Sign me up-->
  <div class="signupForm">
    <button type="button" class="signmeupBtn"> Sign me up <%= image_tag("down-arrow.png", alt: "", class: "transition") %></button>
    <div class="signupMain clearfix">
      <div class="trail">
        <h2>Free 30 Day <br>Trail</h2> 
      </div>
      <div class="fillForms">
        <div class="formRow">
          <input type="text" name="" placeholder="Name" class="inputComn">
          <input type="text" name="" placeholder="Contact Number" class="inputComn">
        </div>
        <div class="formRow">
          <input type="text" name="" placeholder="Email Address" class="inputComn">
          <input type="text" name="" placeholder="Company" class="inputComn">
        </div>
        <div class="formRow">
          <input type="password" name="" placeholder="Password" class="inputComn">
          <input type="password" name="" placeholder="Confirm Password" class="inputComn">
        </div>
      </div>
      <div class="terms">
        <span>I Agree To My compliance</span>
        <div class="termsCon clearfix">
          <%= link_to "javascript:;" , class: "termsBtn fl" do %>
              Terms &amp; Conditions
            <% end %>

          <input type="checkbox" name="vehicle" value="Bike" class="fr"><br>
        </div>
        <button type="button" class="goBtn">GO</button>
      </div>
    </div>
  </div>
  <!--End Sign me up-->
</div>
<!--End Banner-->

<!--Start Our Services-->
<div class="ourServices clearfix">
  <div class="container">
    <div class="ourServicesLeft fl">
      <h1 class="wow fadeInUp">Our Services</h1>
      <span class="wow fadeInUp">Lorem ipsum</span>
      <p class="wow fadeInUp">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>     
      <%= link_to "View Our Services", "javascript:;", class: "viewBtn" %>
    </div>
    <div class="ourServicesRight wow fadeInUp fr">
      <% services.each.with_index(1) do |service, index| %>
        <%= render partial: "service", locals: {service: service, index: index} %>
      <% end %>
    </div>
  </div>
</div>
<!--End Our Services-->

<!--Start Our Team-->
<div class="ourTeam">
  <div class="container">
    <div class="mainHeading wow fadeInUp">Our<strong>Team</strong></div>
    <p class="headPara wow fadeInUp">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
    <div class="teamMain clearfix wow fadeInUp">
      <% teams.each do |team| %>
        <%= render partial: "team", locals: {team: team} %>
      <% end %>
    </div>
  </div>
</div>
<!--End Our Team-->

<!--Start My Compliance-->
<div class="myCompliance">
  <div class="container">
    <div class="mainHeading wow fadeInUp">Latest News from <strong>My Compliance</strong></div>
    <p class="headPara wow fadeInUp">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
    <div class="ComplianceMain clearfix">
      <% news.each do |news| %>
        <%= render partial: "news_home", locals: { news: news }%>
      <% end %>
    </div>
  </div>
</div>
<!--End My Compliance-->

<!--Start Clients say-->
<div class="clientSay">
  <div class="container">
    <div class="mainHeading wow fadeInUp">What Clients say<strong>About My Compliance</strong></div>
    <p class="headPara wow fadeInUp">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
    <div class="testmonial">
      <div class="testmonialSlider">
        <% testimonials.each do |testimonial| %>
          <%= render partial: "testimonial", locals: { testimonial: testimonial }%>
        <% end %>
      </div>
      <div class="LeftArrow"><%= image_tag("leftarrow.png", alt: "")%></div>
      <div class="RightArrow"><%= image_tag("rightArrow.png", alt: "")%></div>
    </div>
  </div>
</div>
<!--End Clients say-->
