<%= form_for(inquiry, url: create_inquiry_path(inquiry), method: :post, remote: true) do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name%><br>
	<%= f.label :email %>
	<%= f.email_field :email%><br>
	<%= f.label :contact_number %>
	<%= f.text_field :contact_number%><br>
	<%= f.label :message %>
	<%= f.text_area :message%><br>
	<%= f.submit "Send Inquiry" %>
<% end %>

<!--  Slider Outer End-->

<script type="text/javascript">
  $(document).ready(function(){
    $("#new_inquiry").validate({
      rules: {
        "inquiry[name]": {
          required: true,
          noSpace: true,
          maxlength: 125
        },
       "inquiry[email]": {
					required: true,
					noSpace: true,
					email: true,
					maxlength: 255
        },
        "inquiry[contact_number]": {
					required: true,
					phone: true,
					minlength: 8,
					maxlength: 15
        },
        "inquiry[message]": {
          required: true,
          minlength: 8,
          maxlength: 1000
        }
      },
      messages: {
        "inquiry[name]": {
          required: "Please enter your Name.",
          noSpace: "Please enter valid Name.",
          maxlength: "Your Name must be of maximum 155 digits."
        },
        "inquiry[email]": {
          required: "Please enter your Email Address.",
          noSpace: "Please enter valid Email Address.",
          email: "Please enter valid Email Address.",
          maxlength: "Your Email must be of maximum 255 digits."
        },
        "inquiry[contact_number]": {
          required: "Please enter your Contact Number.",
          noSpace: "Please enter valid Contact Number.",
          minlength: "Your Contact number must be of minimum 8 digits.",
          maxlength: "Your Contact number must be of maximum 15 digits."
        },
        "inquiry[message]": {
          required: "Please enter Message.",
          minlength: "Your Message must be of minimum 8 digits.",
          maxlength: "Your Message must be of maximum 1000 digits."
        }
      },
      // highlight: function (element) {
      //   $(element).parent().removeClass("has-success").addClass("has-error");
      //   set_footer();
      // },
      // success: function (element) {
      //   $(element).parent().removeClass("has-error").addClass("has-success");
      //   $(element).removeClass("error");
      //   $(element).addClass("display-table margin-0");
      // }
    });
    $("#new_newsletter").validate({
      errorPlacement: function(error, element) {
        if(element.attr("name") == "user[terms_and_conditions]") {
          error.appendTo($("#terms_and_conditions_error"));
        } else {
          error.insertAfter(element);
        }
      },
      rules: {
        "newsletter[name]": {
          required: true,
          noSpace: true,
          maxlength: 125
        },
       "newsletter[email]": {
					required: true,
					noSpace: true,
					email: true,
					maxlength: 255
        }
      },
      messages: {
        "newsletter[name]": {
          required: "Please enter your Name.",
          noSpace: "Please enter valid Name."
        },
        "newsletter[email]": {
          required: "Please enter your Email Address.",
          noSpace: "Please enter valid Email Address.",
          email: "Please enter valid Email Address.",
          remote: "This Email Address is taken."
        }
      },
      // highlight: function (element) {
      //   $(element).parent().removeClass("has-success").addClass("has-error");
      //   set_footer();
      // },
      // success: function (element) {
      //   $(element).parent().removeClass("has-error").addClass("has-success");
      //   $(element).removeClass("error");
      //   $(element).addClass("display-table margin-0");
      // }
    });
  });
</script>
