<div class="ComplianceBoxMain wow fadeInUp">
	<div class="ComplianceBox">
		<img src="<%= news.image.url %>" alt="">
		<div class="ComplianceCon">
		  <%= link_to "#{news.title.html_safe}", news_show_path(news), remote: true %>
			<span><%= news.created_at.in_time_zone.strftime("%C %B, %G ") %> <%= link_to "", "javascript:;" %></span>
			<div class="borderImg"><%= image_tag("borderBottomLine.png", alt: "", class: "plusSign") %></div>
			<p><%= news.description.html_safe %></p>
		</div>
	</div>
  <%= link_to "READ MORE", news_show_path(news), remote: true, class: "readMoreBtn" %>
</div>
