<div class="getinTouchForm">
  <%= form_for(comment, url: create_reply_path(comment), html: {remote: true, method: :post, id: "create_reply"}) do |f| %>
    <%= f.hidden_field :news_id, value: comment.news.id %>
    <%= f.hidden_field :parent_id, value: comment.id %>
    <%= f.text_field :user_name, placeholder: "Name", value: "", required: true, class: "inputComn" %><br/>
    <%= f.email_field :email, placeholder: "Email", value: "", required: true, class: "inputComn" %><br/>
    <%= f.text_area :message, placeholder: "Message", value: "", required: true, class: "inputComn", cols: "50", rows: "4" %><br/>
    <%= f.submit "Reply", class: "submtBtn abtn" %>
  <% end %>
</div>

<!-- validation -->
<script type="text/javascript">
  $(document).ready(function(){
    $("#create_reply").validate({
      rules: {
        "comment[user_name]": {
          required: true,
          noSpace: true,
          maxlength: 125
        },
       "comment[email]": {
					required: true,
					noSpace: true,
					email: true,
					maxlength: 255
        },
        "comment[message]": {
          required: true,
          minlength: 8,
          maxlength: 1000
        }
      },
      messages: {
        "comment[name]": {
          required: "Please enter your Name.",
          noSpace: "Please enter valid Name.",
          maxlength: "Your Name must be of maximum 1000 digits."
        },
        "comment[email]": {
          required: "Please enter your Email Address.",
          noSpace: "Please enter valid Email Address.",
          email: "Please enter valid Email Address.",
          maxlength: "Your Email must be of maximum 1000 digits."          
        },
        "comment[message]": {
          required: "Please enter Message.",
          minlength: "Your Message must be of minimum 8 digits.",
          maxlength: "Your Message must be of maximum 1000 digits."
        }
      },
    });
  });
</script>