<% content_for(:title) do %>
  <%= news.title %>
<% end %>
<!--Start Why Banner-->
<div class="whyBanner contactbanner newsbanner">
  <div class="container">
    <div class="whyBannerCaption contactCaption wow fadeInUp"><h1>Space For TAg Line<br> That You Can Trust</h1></div>
  </div>
</div>
<!--End Why Banner-->
  
<!--Start Breadcrumbs-->
<div class="breadcrumbs">
  <div class="container">
    <ul>
      <li>
        <%= link_to root_path, remote: true do %>
        Home <%= image_tag("rightSignarrow.png", alt: "")%>

        <% end %>
      </li>
      <li class="active">
        <%= link_to news_path, remote: true, class: "clr" do %>
        News <%= image_tag("rightSignarrow.png", alt: "")%>
        <% end %>
      </li>

      <li class="active"><%= link_to "#{news.title}", remote: true %></li> 
    </ul>
  </div>
</div>
<!--End Breadcrumbs-->
  
<!--Start News-->
<div class="News NewsDetails clearfix">
  <div class="container">
    <div class="newsLeft fl">
      <div class="tittleBox">
        <div class="date">
          <h1><%= news.created_at.in_time_zone.strftime("%B") %><br> <b><%= news.created_at.in_time_zone.strftime("%d") %></b></h1>
          <div class="message"><%= image_tag("Message.png", alt: "")%><b id="comment_count"><%=news.comments.count %></b></div>
        </div>
        <div class="tittleCon">
          <%= image_tag(news.image.url, alt: "")%>
          <h1><%= news.title %></h1>
          <span>Posted by <%= link_to "John", "javascript:;" %></span>
          <p><%= news.description %></p>
          <p class="topSpace">Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
          </p>
        <!--Start List-->
          <div class="ListView clearfix">
          <div class="listLeft fl">
            <ul class="NewsList">
              <li><%= link_to "Feature Point 1 will appear here", "javascript:;" %></li>
              <li><%= link_to "Some Poiner goes here", "javascript:;" %></li>
              <li><%= link_to "Lorem ipsum text will apprear here", "javascript:;" %></li>
              <li><%= link_to "You dont need to worry about the payment", "javascript:;" %></li>
            </ul>
          </div>
          <div class="listRight fr">
            <ul class="NewsList">
              <li><%= link_to "Feature Point 1 will appear here", "javascript:;" %></li>
              <li><%= link_to "Some Poiner goes here", "javascript:;" %></li>
              <li><%= link_to "Lorem ipsum text will apprear here", "javascript:;" %></li>
              <li><%= link_to "You dont need to worry about the payment", "javascript:;" %></li>
            </ul>
          </div>
        </div>



        <!--End List-->
        <!--Start Join Discussion-->
          <div class="joinDiscussion">
            <h1>Join Discussion </h1>
            <span id="comments_count"><%= pluralize(news.comments.count, 'Comment') %></span>
            <div id="comments_<%= news.id %>">
              <% if comments.present? %>
                <%= comments_tree_for @comments %>
              <% end %>
            </div>
          </div>
        <!--End Join Discussion-->
        <!--Start Form-->
        <div class="teamDetailsForm">
          <h1>Leave a Reply </h1>
          <div class="getinTouchForm">
            <%= form_for(comment, url: create_comment_path(news), html: {remote: true, method: :post, id: "create_comment"}) do |f| %>
              <%= f.text_field :user_name, placeholder: "Name", required: true, class: "inputComn" %><br/>
              <%= f.email_field :email, placeholder: "Email", required: true, class: "inputComn" %><br/>
              <%= f.text_area :message, placeholder: "Message", required: true, class: "inputComn", cols: "50", rows: "4" %><br/>
              <%= f.submit "Post A Comment", class: "submtBtn abtn" %>
            <% end %>
          </div>
        </div>
        <!--End Form-->
        </div>
      </div>
    </div>
    <div class="newsRight fr">
      
      <div class="search">
        <%= form_tag news_path, :method => :get, id: "news_show_search" do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search", class: "inputComn" %>
          <%= link_to "javascript:;", id: "search_news" do %>
            <%= image_tag("searchIcons.png", alt: "", class: "searchImgs") %>
          <% end %>
        <% end %>
      </div>
      <!--Start TabMain-->
        <div class="TabMain">
          <!--Start Tabs-->
          <div class="tabs">
            <ul class="tabList">
              <li><%= link_to "Popular", "#tab1", class: "active" %></li>
              <li><%= link_to "Latest", "#tab2", class: "active" %></li>
            </ul>
          </div>
          <!-- End Tabs-->
          <!--Start TabContent-->
          <div class="tabsContent clearfix" id="tab1">
            <%= render partial: "popular_comments", locals: { popular_news: popular_news, latest_popular_news: latest_popular_news } %>
          </div>
          <!--End TabContent-->
          
          <!--Start TabContent-->
          <div class="tabsContent clearfix display-none" id="tab2">
            <% latest_news.each do |news| %>
              <div class="tabBox clearfix">
                <%= image_tag(news.image.url, alt: "", size: "80x50") %>
                <div class="tabCon">
                  <%= link_to news.title, news_show_path(news), remote: true %>
                  <span><%= news.created_at.in_time_zone.strftime("%b %d %Y")%></span>
                </div>
              </div>
            <% end %> 
          </div>
          <!--End TabContent-->
          <!--Start TabContent-->

          <!--End TabContent-->
        </div>
      <!--End TabMain-->
      <!--Start Categories-->
        <!-- <div class="categoriesMain">
          <h1>Categories</h1>
          <ul>
            <li><a href="javascript:;">Lorem ipsum consectetur</a></li> 
            <li><a href="javascript:;">Lorem ipsum</a></li>
            <li><a href="javascript:;">Lorem ipsum consectetur</a></li> 
            <li><a href="javascript:;">Lorem ipsum consectetur dummy</a></li>
            <li><a href="javascript:;">Lorem ipsum consectetur dummy</a></li>
            <li><a class="bordrNone" href="javascript:;">Lorem ipsum consectetur dummy</a></li>
          </ul>
        </div> -->
      <!--End Categories-->
      <!--Start Categories-->
        <div class="categoriesMain">
          <h1>Archives</h1>
          <ul>
            <% archive.each.with_index(1) do |date, index|%>
              <li><%= link_to "#{ date.in_time_zone.strftime("%B %Y")}", news_path(archive: date.strftime("%Y-%m-%d")),  class: "#{index == archive.size ? 'bordrNone' : ''}", remote: true %></li>
            <% end %>
          </ul>
        </div>
      <!--End Categories-->
      <!--Start Tags-->
         <!-- <div class="categoriesMain tags">
          <h1 class="tagsHead">TAgs</h1>
          <a href="javascript:;">Lorem Text</a>
          <a href="javascript:;">Lorem</a>
          <a href="javascript:;">Text</a>
          <a href="javascript:;">Lorem Text</a>
          <a href="javascript:;">Lorem Text</a>
          <a href="javascript:;">Lorem Text</a>
          <a href="javascript:;">Lorem</a>
          <a href="javascript:;">Text</a>
          <a href="javascript:;">Lorem Text</a>
          <a href="javascript:;">Lorem Text</a>
          <a href="javascript:;">Lorem Text</a>
          <a href="javascript:;">Lorem Text</a>
        </div> -->
      <!--End Tags
    </div> -->
  </div>
</div>
<!--End News-->

<!-- validation -->
<script type="text/javascript">
  $(document).ready(function(){
    $("#create_comment").validate({
      errorPlacement: function(error, element) {
        if(element.attr("name") == "user[terms_and_conditions]") {
          error.appendTo($("#terms_and_conditions_error"));
        } else {
          error.insertAfter(element);
        }
      },
      rules: {
        "comment[user_name]": {
          required: true,
          noSpace: true,
          maxlength: 125
        },
       "comment[email]": {
          required: true,
          noSpace: true,
          email: true,
          maxlength: 255
        },
        "comment[message]": {
          required: true,
          minlength: 8,
          maxlength: 1000
        }
      },
      messages: {
        "comment[name]": {
          required: "Please enter your Name.",
          noSpace: "Please enter valid Name.",
          maxlength: "Your Name must be of maximum {0} characters."
        },
        "comment[email]": {
          required: "Please enter your Email Address.",
          noSpace: "Please enter valid Email Address.",
          email: "Please enter valid Email Address.",
          email: "Please enter valid Email Address.",
          remote: "This Email Address is taken."
        },
        
        "comment[message]": {
          required: "Please enter Message.",
          minlength: "Your Message must be of minimum 8 digits.",
          maxlength: "Your Message must be of maximum 1000 digits."
        }
      },
      // highlight: function (element) {
      //   $(element).parent().removeClass("has-success").addClass("has-error");
      //   set_footer();
      // },
      // success: function (element) {
      //   $(element).parent().removeClass("has-error").addClass("has-success");
      //   $(element).removeClass("error");
      //   $(element).addClass("display-table margin-0");
      // }
    });
  });
  $(function() {
    $("#search_news").click(function(){
      if($("#search").length > 0) {
        $("#news_show_search").submit();
      }
    });
    $(".tabList li a").on("click" , function(e){
      e.preventDefault();
      var weddInd = $(this).attr('href');
      $(".tabsContent").hide(0);
      $(weddInd).show(0);
      $(".tabList li a").removeClass('active');
      $(this).addClass('active');
    });
  });
</script>

