<div class="tittleBox">
	<div class="date">
		<h1><%= news.created_at.in_time_zone.strftime("%B") %><br> <b><%= news.created_at.in_time_zone.strftime("%d") %></b></h1>
		<div class="message"><%= image_tag("Message.png", alt: "")%><b><%= news.comments.count %></b></div>
	</div>
	<div class="tittleCon">
		<%= image_tag(news.image.url, alt: "")%>
		<h1><%= news.title %></h1>
		<span>Posted by <%= link_to "John", "javascript:;" %></span>
		<p><%= news.description %></p>
		<%= link_to "Read more", news_show_path(news),remote: true, class: "rdMore" %>
	</div>
</div>
