<% content_for(:title) do %>
  News
<% end %>
<!--Start Why Banner-->
<div class="whyBanner contactbanner newsbanner">
	<div class="container">
		<div class="whyBannerCaption contactCaption wow fadeInUp"><h1>Space For TAg Line<br> That You Can Trust</h1></div>
	</div>
</div>
<!--End Why Banner-->

<!--Start Breadcrumbs-->
<div class="breadcrumbs">
	<div class="container">
		<ul>
			<li>
			<%= link_to root_path, remote: true do %>
			Home <%= image_tag("rightSignarrow.png", alt: "")%>
			<% end %>
			</li>
			<li class="active"><%= link_to "News", "javascript:;" %></li>
		</ul>
	</div>
</div>
<!--End Breadcrumbs-->

<!--Start News-->
<div class="News clearfix">
	<div class="container">
		<div class="newsLeft fl">
			<% news.each do |news| %>
				<%= render partial: "news_home_show", locals: { news: news }%>
			<% end %>
		</div>
		<div class="newsRight fr">
			<!--Search-->
			<div class="search">
			<%= form_tag news_path, method: :get, id: "search_form", remote: true do %>
				<%= text_field_tag :search, params[:search], placeholder: "Search", class: "inputComn" %>
				<%= link_to "javascript:;", id: "search_news" do %>
					<%= image_tag("searchIcons.png", alt: "", class: "searchImgs") %>
				<% end %>
			<% end %>
			</div>

			<!--Start TabMain-->
				<div class="TabMain">
					<!--Start Tabs-->
					<div class="tabs">
						<ul class="tabList">
							<li><%= link_to "Popular", "#tab1", class: "active" %></li>
							<li><%= link_to "Latest", "#tab2", class: "active" %></li>
							<!-- <li><a href="#tab3">Comments</a></li>                   -->
						</ul>
					</div>
					<!-- End Tabs-->
					<!--Start TabContent-->
					<div class="tabsContent clearfix" id="tab1">
						<%= render partial: "popular_comments", locals: { popular_news: popular_news, latest_popular_news: latest_popular_news } %>
					</div>
					<!--End TabContent-->
					<!--Start TabContent-->
					<div class="tabsContent clearfix display-none" id="tab2">
						<% latest_news.each do |news| %>
							<div class="tabBox clearfix">
								<%= image_tag(news.image.url, alt: "", size: "80x50") %>
								<div class="tabCon">
                  <%= link_to news.title, news_show_path(news), remote: true %>
									<span><%= news.created_at.in_time_zone.strftime("%b %d %Y")%></span>
								</div>
							</div>
            <% end %>	
					</div>
					<!--End TabContent-->
				</div>
			<!--End TabMain-->
			<!--Start Categories-->
<!-- 				<div class="categoriesMain">
					<h1>Categories</h1>
					<ul>
						<li><a href="javascript:;">Lorem ipsum consectetur</a></li> 
						<li><a href="javascript:;">Lorem ipsum</a></li>
						<li><a href="javascript:;">Lorem ipsum consectetur</a></li> 
						<li><a href="javascript:;">Lorem ipsum consectetur dummy</a></li>
						<li><a href="javascript:;">Lorem ipsum consectetur dummy</a></li>
						<li><a class="bordrNone" href="javascript:;">Lorem ipsum consectetur dummy</a></li>
					</ul>
				</div> -->
			<!--End Categories-->
			<!--Start Categories-->
				<div class="categoriesMain">
					<h1>Archives</h1>
					<ul>
						<% archive.each.with_index(1) do |date, index|%>
							<li><%= link_to "#{ date.in_time_zone.strftime("%B %Y")}", news_path(archive: date.strftime("%Y-%m-%d")),  class: "#{index == archive.size ? 'bordrNone' : ''}", remote: true %></li>
						<% end %>
					</ul>
				</div>
			<!--End Categories-->
			<!--Start Tags-->
				<!-- <div class="categoriesMain tags">
					<h1 class="tagsHead">TAgs</h1>
					<a href="javascript:;">Lorem Text</a>
					<a href="javascript:;">Lorem</a>
					<a href="javascript:;">Text</a>
					<a href="javascript:;">Lorem Text</a>
					<a href="javascript:;">Lorem Text</a>
					<a href="javascript:;">Lorem Text</a>
					<a href="javascript:;">Lorem</a>
					<a href="javascript:;">Text</a>
					<a href="javascript:;">Lorem Text</a>
					<a href="javascript:;">Lorem Text</a>
					<a href="javascript:;">Lorem Text</a>
					<a href="javascript:;">Lorem Text</a>
				</div> -->
			<!--End Tags-->
		</div>
	</div>
</div>
<!--End News-->	

<script type="text/javascript">
	$(function() {
		$("#search_news").click(function(){
			if($("#search").length > 0) {
				$("#search_form").submit();
			}
		});
		$(".tabList li a").on("click" , function(e){
		  e.preventDefault();
			var weddInd = $(this).attr('href');
			$(".tabsContent").hide(0);
			$(weddInd).show(0);
			$(".tabList li a").removeClass('active');
			$(this).addClass('active');
		});
	});
</script>