<% popular_news.each do |news|%>
  <div class="tabBox clearfix" >
    <%= image_tag(news.image.url, alt: "", size: "80x50") %>
    <div class="tabCon">
      <%= link_to news.title,news_show_path(news), remote: true %>
      <span><%= news.created_at.in_time_zone.strftime("%b %d %Y")%></span>
    </div>
  </div>
<% end %>
<% if latest_popular_news.present? %>
  <% latest_popular_news.each do |news|%>
    <div class="tabBox clearfix" >
      <%= image_tag(news.image.url, alt: "", size: "80x50") %>
      <div class="tabCon">
        <%= link_to news.title,news_show_path(news), remote: true %>
        <span><%= news.created_at.in_time_zone.strftime("%b %d %Y")%></span>
      </div>
    </div>
  <% end %>
<% end %>

