<% content_for(:title) do %>
  Pricing
<% end %>

<% if static_page.present? && static_page.pricing.present? %>
	<%= static_page.pricing.html_safe %>
<% else %>
  <% plans = Plan.all %>
  <table>
    <tr>
  	  <% plans.each do |plan|%>
  	   <td>Name::<%=plan.name %></td>
  	  <% end %>
    </tr>
    <tr>
  	  <% plans.each do |plan|%>
  	   <td>Price::<%= plan.price %></td>
  	  <% end %>
    </tr>
    <tr>
  	  <% plans.each do |plan|%>
        <td>
          <% unless user_signed_in? %>
            <%= link_to "Sign up",new_user_registration_path(plan_id: plan.id) %>
          <% end %>
        </td>
  	  <% end %>
    </tr>
  </table>
<% end %>
