<% content_for(:title) do %>
  Privacy Policy
<% end %>

<!--Start Privacy policy container-->
<% if static_page.present? && static_page.privacy_policy.present? %>
  <%= static_page.privacy_policy.html_safe %>
<% else %>
<% end %>
<!--End Privacy policy container-->