<div class="servicesBox <%= (index == 1 || index == 2) ? 'marginSpace' : '' %>">
  <%= image_tag(service.image.url, alt: "", class: "wow fadeInUp") %>
  <div class="servicesCon">
    <%= service.name.html_safe %>
    <%= service.description.html_safe %>
  </div>
</div>
