<% content_for(:title) do %>
  Service
<% end %>

<% services.each do |service| %>
  <table>
    <mark>Image: </mark>   
    <%= link_to image_tag(service.image_url, class: 'image-preview-small'), service_show_path(service), remote: true %><br>
    <mark>Name: </mark><%= link_to "#{service.name}", service_show_path(service), remote: true %><br>
    <mark>Description: </mark><%= service.description.truncate(100)%>
    <%= link_to "Read more", service_show_path(service), remote: true %><br>
  </table>
<% end %>
