<% content_for(:title) do %>
  <%= service.name %>
<% end %>

<mark>Image</mark><%=image_tag(service.image_url, class: 'image-preview-small')%><br>
<mark>Name</mark><%=service.name%><br>
<mark>Description</mark><%=service.description%><br>