<div class="teamBoxMain">
  <div class="teamBox">
    <%= image_tag(team.image.url, alt: "")%>
    <div class="teamCon">
		  <%= link_to "#{team.name.html_safe}", team_show_path(team), remote: true %>
      <div class="borderImg"><%= image_tag("borderBottomLine.png", alt: "", class: "plusSign") %></div>
      <p><%= team.description.html_safe %></p>
    </div>
  </div>
  <%= link_to "READ MORE", team_show_path(team),remote: true,  class: "readMoreBtn" %>
</div>
