<% content_for(:title) do %>
  <%= team.name %>
<% end %>

<!--Start Why Banner-->
<div class="whyBanner">
	<div class="container">
		<div class="whyBannerCaption wow fadeInUp"><h1>Space For TAg Line<br> That You Can Trust</h1></div>
	</div>
</div>
<!--End Why Banner-->
	
<!--Start Breadcrumbs-->
<div class="breadcrumbs">
	<div class="container">
		<ul>
			<li>
				<%= link_to root_path, remote: true do %>
      	Home <%= image_tag("rightSignarrow.png", alt: "")%>
      	<% end %>
			</li>
			<li class="active">
				<%= link_to teams_path, remote: true, class: "clr" do %>
      	Team <%= image_tag("rightSignarrow.png", alt: "")%>
      	<% end %>
			</li>
			<li class="active"><%= link_to "#{team.name}", remote: true %></li>
		</ul>
	</div>
</div>
<!--End Breadcrumbs-->
<!--Start Team Person-->	
<div class="teamPerson">
	<div class="container">
		<div class="teamPersonLeft fl">
			 <%= image_tag(team.image.url, alt: "", class: "wow fadeInUp") %>
			<h1 class="wow fadeInUp"><%= team.name %></h1>
			<span class="wow fadeInUp">Lorem ipsum consectetur adipiscing</span>
			<ul class="social socialNew">
				<li><%= link_to "", "#{team.facebook}" , class: "facebook"%></li>
				<li><%= link_to "", "#{team.twitter}" , class: "twitter"%></li>
				<li><%= link_to "", "#{team.linkedin}" , class: "linkedin"%></li>
				<li><%= link_to "", "#{team.gmail}" , class: "gmail"%></li>
			</ul>
		</div>
		<div class="teamPersonRight fr">
			<h1 class="wow fadeInUp"><%= team.name.html_safe %></h1>
			<p class="wow fadeInUp"><%= team.description.html_safe%></p>
			<h1 class="wow fadeInUp">LOrem heading</h1>
			<p class="wow fadeInUp">Lorem ipsum consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis. Nunc consectetur odio sed dolor tincidunt porttitor. Suspendisse cursus malesuada facilisis. Nunc consectetur odio sed dolor Suspendisse cursus malesuada facilisis. tincidunt porttitor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerc.</p>
			<h1 class="wow fadeInUp">LOrem heading</h1>
			<p class="wow fadeInUp">Lorem ipsum consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis. Nunc consectetur odio sed dolor tincidunt porttitor. Suspendisse cursus malesuada facilisis. Nunc consectetur odio sed dolor Suspendisse cursus malesuada facilisis. tincidunt porttitor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerc.</p>
		</div>
	</div>
</div>
<!--End Team Person-->
	
<!--Start Related Team-->
<div class="ourTeam relatedTeam">
	<div class="container">
		<div class="mainHeading wow fadeInUp visibility">Related<strong>Team</strong></div>
		<p class="headPara wow fadeInUp visibility">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
		<div class="teamMain clearfix wow fadeInUp visibility">
		<% teams.each do |team| %>
			<%= render partial: "team", locals: { team: team } %>
		<% end %>
		</div>
	</div>
</div>
<!--End Related Team-->