<% content_for(:title) do %>
  Terms of Use
<% end %>

<!--Start Terms and Conditions container-->
<% if static_page.present? && static_page.terms_and_conditions.present? %>
  <%= static_page.terms_and_conditions.html_safe %>
<% else %>
<% end %>
<!--End Terms and Conditions container-->