<div class="item">
  <div class="clientCon">
    <%= image_tag(testimonial.image.url, alt: "", class: "clientImg wow fadeInUp") %>
    <p><%= testimonial.message %></p>
    <span><%= testimonial.name %></span>
    <div class="borderImg"><%= image_tag("borderBottomLine.png", alt: "", class: "plusSign") %>
    </div>
    <text><%= testimonial.location %></text>
  </div>
</div>
