<% content_for(:title) do %>
	Why Us
<% end %>
<!--Start Why Banner-->
		<div class="whyBanner">
			<div class="container">
				<div class="whyBannerCaption wow fadeInUp"><h1>Space For TAg Line<br> That You Can Trust</h1></div>
			</div>
		</div>
	<!--End Why Banner-->
	
	<!--Start Breadcrumbs-->
		<div class="breadcrumbs">
			<div class="container">
				<ul>
					<li>
						<%= link_to root_path, remote: true do %>
		          Home  <%= image_tag("rightSignarrow.png", alt: "")%>
		        <% end %>
					</li>
					<li class="active"><%= link_to "Why Us", "javascript:;" %></li>
				</ul>
			</div>
		</div>
	<!--End Breadcrumbs-->
	
	<!--Start welcome-->
		<div class="welcome clearfix">
			<div class="container">
				<div class="welLeft fl">
					<div class="mainHeading wow fadeInUp visibility">Welcome to<strong>My Compliance</strong></div>
					<p class="wow fadeInUp">Lorem ipsum consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis. Nunc consectetur odio sed dolor tincidunt porttitor. Suspendisse cursus malesuada facilisis. Nunc consectetur odio sed dolor Suspendisse cursus malesuada facilisis. tincidunt porttitor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerc.</p>
<p class="wow fadeInUp">Lorem ipsum consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis. Nunc consectetur odio sed dolor tincidunt porttitor. Suspendisse cursus malesuada facilisis. Nunc consectetur odio sed dolor Suspendisse cursus malesuada facilisis. tincidunt porttitor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerc.</p>
				</div>
				<div class="welRight wow fadeInUp fr"><%= image_tag("welcomeRight.jpg", alt: "")%></div>
			</div>
		</div>
	<!--End Welcome-->
	
	<!--Start why chosse us-->
		<div class="whyChosseus clearfix">
			<div class="container">
				<div class="mainHeading wow fadeInUp visibility">Why <strong>Choose US?</strong></div>
				<p class="wow fadeInUp">Lorem ipsum consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis. Nunc consectetur odio sed dolor tincidunt porttitor. Suspendisse cursus malesuada facilisis. Nunc consectetur odio sed dolor Suspendisse cursus malesuada facilisis. tincidunt porttitor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit,</p>
				<div class="chooseList">
					<div class="chosseBox wow fadeInUp">
						<%= image_tag("choose1.jpg", alt: "")%>
						<span>65 %</span>
						<p>Worked with unde omnis iste natus sit volupt tem Fortune 500</p>
					</div>
					<div class="chosseBox  wow fadeInUp">
						<%= image_tag("choose2.jpg", alt: "")%>
						<span>1000 +</span>
						<p>Projects unde omnis iste natus sit volupt tem accusandoloremque.</p>
					</div>
					<div class="chosseBox  wow fadeInUp">
						<%= image_tag("choose3.jpg", alt: "")%>

						<span>50</span>
						<p>Projects unde omnis iste natus sit volupt tem accusandoloremque.</p>
					</div>
					<div class="chosseBox  wow fadeInUp">
						<%= image_tag("choose4.jpg", alt: "")%>
						<span>8 Years</span>
						<p>Perspiciatis unde omnis iste natus sit volupt tem accusandoloremque.</p>
					</div>
				</div>
				
				<p class="wow fadeInUp">Lorem ipsum consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis. Nunc consectetur odio sed dolor tincidunt porttitor. Suspendisse cursus malesuada facilisis. Nunc consectetur odio sed dolor Suspendisse cursus malesuada facilisis. tincidunt porttitor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
Lorem ipsum consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis. Nunc consectetur odio sed dolor tincidunt porttitor.</p>
			</div>
		</div>
	<!--End why chosse us-->