<% if @saved %>
  $("#create_comment")[0].reset();
  $("#comments_<%= @news.id %>").append("<%= j(render partial: 'comment', locals: { comment: @comment, news: @news }) %>");
	$("#comment_count").html("<%= @news.comments.count %>");
	$("#comments_count").html("<%= pluralize(@news.comments.count, 'Comment') %>");
	$("#tab1").html("<%= j(render partial: 'popular_comments', locals: { popular_news: @popular_news, latest_popular_news: @latest_popular_news }) %>");
  $('html,body').animate({
    scrollTop: $("#comments_<%= @news.id %>").offset().top
  }, 'slow');
<% end %>

