$("#container_content").html("<%= j(render partial: 'feature_show', locals: { static_page: @static_page, feature: @feature, features: @features }) %>");
document.title = "Feature"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= feature_show_path %>");
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}

set_footer();
$('html').scrollTop(0);