$("#container_content").html("<%= j(render partial: 'features', locals: { static_page: @static_page, features: @features }) %>");
document.title = "Features"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= features_path %>");
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}

set_footer();
$('html').scrollTop(0);