<%= render partial: 'index', locals: { static_page: @static_page, banners: @banners, services: @services, teams: @teams, news: @news, testimonials: @testimonials } %>

<script type="text/javascript">
	$(function(){
  	$('html').scrollTop(0);
  });
</script>