$("#container_content").html("<%= j(render partial: 'index', locals: { static_page: @static_page, banners: @banners, services: @services, teams: @teams, news: @news, testimonials: @testimonials }) %>");
document.title = "My Compliance"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= root_path %>");
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}

// set_footer();
$('html').scrollTop(0);

$('.homeSlider').owlCarousel({
  loop:true,
  margin:0,
  nav:true,
	items:1,
	smartSpeed:1500,
	autoplay:true,
})

/**testmonialSlider**/
var test = $('.testmonialSlider');
test.owlCarousel({
  loop:true,
  margin:0,
  nav:true,
	items:1,
	smartSpeed:1500,
	autoplay:true,
	animateIn: 'fadeIn',
	animateOut: 'fadeOut'
})
$('.LeftArrow').click(function() {
  test.trigger('next.owl.carousel');
})
$('.RightArrow').click(function() {
  test.trigger('prev.owl.carousel', [300]);
})