$("#container_content").html("<%= j(render partial: 'inquiry', locals: { static_page: @static_page, inquiry: @inquiry }) %>");
document.title = " Send inquiry"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= inquiry_path %>");
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}

set_footer();
$('html').scrollTop(0);