<%= render partial: 'news_show', locals: { static_page: @static_page, news: @news, comment: @comment, comments: @comments, popular_news: @popular_news, latest_news: @latest_news, news_search: @news_search, archive: @archive, latest_popular_news: @latest_popular_news }%>