$("#container_content").html("<%= j(render partial: 'news', locals: { static_page: @static_page, news: @news, popular_news: @popular_news, latest_news: @latest_news, news_search: @news_search, archive: @archive, latest_popular_news: @latest_popular_news }) %>");
document.title = "News"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= news_path %>");
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}

set_footer();
$('html').scrollTop(0);