<%= render partial: 'news', locals: { static_page: @static_page, comment: @comment, news: @news, popular_news: @popular_news, latest_news: @latest_news, news_search: @news_search, archive: @archive, latest_popular_news: @latest_popular_news } %>
