<% if @news %>
  $("#container_content").html("<%= j(render partial: 'news_show', locals: { static_page: @static_page, news: @news, comment: @comment, comments: @comments,popular_news: @popular_news, latest_news: @latest_news, news_search: @news_search, archive: @archive, latest_popular_news: @latest_popular_news }) %>");
<% end %>
document.title = "<%= @news.title %>"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= news_show_path(@news) %>");
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}

set_footer();
$('html').scrollTop(0);