$("#message").show();
$("#return_message").html("<%= @message %>");
<% if @saved %>
	$("#contact_us_name").val("");
	$("#contact_us_email").val("");
	$("#contact_us_contact_number").val("");
	$("#contact_us_message").val("");
<% end %>

set_footer();