<% if @service %>
  $("#container_content").html("<%= j(render partial: 'service_show', locals: { static_page: @static_page, service: @service }) %>");
<% end %>
document.title = "<%= @service.name %>"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= service_show_path(@service) %>");
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}

set_footer();
$('html').scrollTop(0);