$("#container_content").html("<%= j(render partial: 'services', locals: { static_page: @static_page, services: @services }) %>");
document.title = "Service"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= services_path %>");
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}

set_footer();
$('html').scrollTop(0);