<% if @team %>
  $("#container_content").html("<%= j(render partial: 'team_show', locals: { static_page: @static_page, team: @team, teams: @teams }) %>");
<% end %>
document.title = "<%= @team.name %>"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= team_show_path(@team) %>");
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}

set_footer();
$('html').scrollTop(0);