$("#container_content").html("<%= j(render partial: 'teams', locals: { static_page: @static_page, teams: @teams }) %>");
document.title = "Teams"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= teams_path %>");
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}

set_footer();
$('html').scrollTop(0);