<% if @email_template.present? && @email_template.admin_account_created.present? %>
	<%= @email_template.admin_account_created.gsub("{{email}}","#{@admin_user.email}").gsub("{{password}}","#{@password}").gsub("{{link}}","#{link_to 'here', new_session_url(@admin_user)}").html_safe %>
<% else %>
	<p>Dear <%= @admin_user.email %>,</p>
	<p>Your MyCompliance account has been created.</p>
	<p>Password: <%= @password %></p>
	<p>Please click <%= link_to 'here', new_session_url(@admin_user) %> to login.</p>

	<p>
		Thanks,<br />
		MyCompliance Team
	</p>
<% end %>
