<% if @email_template.present? && @email_template.admin_confirmation_instruction.present? %>
	<%= @email_template.admin_confirmation_instruction.gsub("{{email}}","#{@admin_user.email}").gsub("{{link}}","#{link_to 'Confirm my account', confirmation_url(@admin_user, confirmation_token: @admin_user.confirmation_token)}").html_safe %>
<% else %>
	<p>Hello, <%= @admin_user.email %>,</p>
	<p>Congratulations, your MyCompliance account has been created, please click here to activate your account.</p>
	<p>Need the raw link? <%= link_to 'Confirm my account', confirmation_url(@admin_user, confirmation_token: @admin_user.confirmation_token) %></p>
	<p>
    Thanks,<br />
    MyCompliance Team
  </p>
<% end %>