<% if @email_template.present? && @email_template.admin_contact_us.present?  %>
	<%= @email_template.admin_contact_us.gsub("{{email}}","#{@email_template.admin_email}").gsub("{{contact_us}}","<p>Name: #{@contact.name}</p><p>Email: #{@contact.email}</p><p>Contact number: #{@contact.contact_number}</p><p>Message: #{@contact.message}</p>").html_safe %>
<% else %>
	<p>Dear <%= @email_template.admin_email %>,</p>
	<p>Contact us form is submitted.</p>
	<p> Name: <%=@contact.name  %>,</p>
	<p> Email :<%=@contact.email  %>,</p>
	<p> contact Number :<%=@contact.contact_number  %>,</p>
	<p> Message :<%=@contact.message  %>,</p>
	<p>Thanks,Our team will contact you shortly.<br />
	MyCompliance Team
	</p>
<% end %>