<% if @email_template.present? && @email_template.admin_inquiry.present? %>
	<%= @email_template.admin_inquiry.gsub("{{email}}","#{@email_template.admin_email}").gsub("{{inquiry}}","<p>Name: #{@inquiry.name}</p><p>Email: #{@inquiry.email}</p><p>Contact Number: #{@inquiry.contact_number}</p><p>Message: #{@inquiry.message}</p>").gsub("{{link}}","#{link_to 'here', new_admin_user_session_url}").html_safe %>
<% else %>
	<p>Dear <%= @email_template.admin_email %>,</p>
	<p>Inquiry form is submitted.</p>
	<p>Name: <%= @inquiry.name %></p>
	<p>Email: <%= @inquiry.email %></p>
	<p>Contact Number: <%= @inquiry.contact_number %></p>
	<p>Message: <%= @inquiry.message %></p>
	<p>Thanks,Our team will contact you shortly.<br />
	<p>Please click <%= link_to 'here', new_admin_user_session_url %> to login.</p>
		MyCompliance Team
	</p>
<% end %>

