<% if @email_template.present? && @email_template.admin_newsletter.present?  %>
	<%= @email_template.admin_newsletter.gsub("{{email}}","#{@email_template.admin_email}").gsub("{{newsletter}}","#{@newsletter.email}").html_safe %>
<% else %>
	<p>Dear <%= @email_template.admin_email %>,</p>
	<p>Newsletter form is submitted.</p>
	<p> Email: <%=@newsletter.email  %>,</p>
	<p>Thanks,Our team will contact you shortly.<br />
		MyCompliance Team
	</p>
<% end %>