<% if @user_notification_template.present? && @user_notification_template.invitee_template.present? %>
	<%= @user_notification_template.invitee_template.gsub("{{invitee_email}}","#{@site_item_invitation.upload_access_email}").gsub("{{user_email}}","#{@user.email}").gsub("{{site_name}}","#{@site.name}").gsub("{{item_name}}","#{@site_item.title}").gsub("{{comment}}","#{@site_item_invitation.comment}").gsub("{{authentication_link}}","#{@token.present? ? '<p>Please find the authentication link to access the site: ' + link_to(t('devise.mailer.invitation_instructions.accept'), accept_user_invitation_url(invitation_token: @token)) + '</p>' : ''}").gsub("{{access_active}}","#{@site_item_invitation.access_expires.present? ? (@site_item_invitation.access_expires == 'never' ? 'always' : @site_item_invitation.access_expires) : ''} #{@site_item_invitation.access_expires_date.present? ? @site_item_invitation.access_expires_date : ''}").html_safe %>
<% else %>
	<p>Hello, <%= @site_item_invitation.upload_access_email %></p>
	<p><%= @user.email %> has invited you to upload documenting for Site: <%= @site.name %>, Item: <%= @site_item.title %>.</p>
	<p><%= @site_item_invitation.comment %></p>
	<% if @token.present? %>
		<p>Please find the authentication link to access the site: <%= link_to t("devise.mailer.invitation_instructions.accept"), accept_user_invitation_url(invitation_token: @token) %></p>
	<% end %>
	<p>
		Site Item Access will be active for 
		<%= @site_item_invitation.access_expires.present? ? (@site_item_invitation.access_expires == "never" ? "always" : @site_item_invitation.access_expires) : "" %>
		<%= @site_item_invitation.access_expires_date.present? ? @site_item_invitation.access_expires_date : "" %>
	</p>
	<p>
		Thanks,<br />
		MyCompliance Team
	</p>
<% end %>