<% if @email_template.present? && @email_template.invitation_confirmation.present? %>
	<%= @email_template.invitation_confirmation.gsub("{{email}}","#{@user.email}").gsub("{{invitation_confirmation}}", "#{@site_item_invitation.upload_access_email}").html_safe %>
<% else %>
	<p>Hello, <%= @user.email %></p>
	<p>An invitation letter has been sent to <%= @site_item_invitation.upload_access_email %> for uploading document for Site: <%= @site.name %>, Item: <%= @site_item.title %>.</p>
	<p>
		Thanks,<br />
		MyCompliance Team
	</p>
<% end %>