<p>Hello, <%= @site_item_document.contractor_email %></p>
<p>Congratulations, a new document has been uploaded on your behalf. Please find the detailed information below:</p>
<p>Document Up-loader Information:</p>
<p>Name: <%= @user.full_name %></p>
<p>Email ID: <%= @user.email %></p>
<p>Date &amp; Time of upload: <%= @site_item_document.created_at.in_time_zone %></p>

<p>Document Information:</p>
<p>Site Name: <%= @site.name %></p>
<p>Item Name: <%= @site_item.title %></p>
<p>Document version: </p>

<p>Token Uses:</p>
<p>"X" token has been used. Total toke left is "XXX"</p>

<p>Url to access the document: <%= link_to @site_item_document.file_identifier, ENV['DOMAIN'] + @site_item_document.file.url %></p>

<p>
  Thanks,<br />
  MyCompliance Team
</p>