<% if @user_notification_template.present? && @user_notification_template.document_feedback_rejected_template.present? %>
  <%= @user_notification_template.document_feedback_rejected_template.gsub("{{contractor_email}}","#{@site_item_document.contractor_email}").gsub("{{full_name}}","#{@user.full_name}").gsub("{{email}}","#{@user.email}").gsub("{{date_time_of_reject}}","#{@site_item_document.updated_at.in_time_zone}").gsub("{{site_name}}","#{@site.name}").gsub("{{item_name}}","#{@site_item.title}").gsub("{{document_name}}","#{@site_item_document.file_identifier}").gsub("{{feedback}}","#{@site_item_document.feedback}").html_safe %>
<% else %>
  <p>Hello, <%= @site_item_document.contractor_email %></p>
  <p>Document has been rejected. Please find the detailed information below:</p>

  <p>Document Rejector Information:</p>
  <p>Name: <%= @user.full_name %></p>
  <p>Email ID: <%= @user.email %></p>
  <p>Date &amp; Time of Reject: <%= @site_item_document.updated_at.in_time_zone %></p>

  <p>Document Information:</p>
  <p>Site Name: <%= @site.name %></p>
  <p>Item Name: <%= @site_item.title %></p>
  <p>Document Name: <%= @site_item_document.file_identifier %></p>
  <p>Feedback: <%= @site_item_document.feedback %></p>

  <p>
    Thanks,<br />
    MyCompliance Team
  </p>
<% end %>