// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "active_admin/select2/base";

$skinLogo: url("/assets/logo.png") no-repeat scroll 0 0 / contain;
$skinActiveColor: #0170C1;
$skinHeaderBck: #002744;
$panelHeaderBck: #002744;

@import "active_skin";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

#header h1.site_title {
  padding-left: 200px !important;
}
#title_bar .action_items a > a:hover, #title_bar .action_items a > .dropdown_menu > a:hover, #title_bar .action_items span.action_item > a:hover, #title_bar .action_items span.action_item > .dropdown_menu > a:hover {
  background: #0790F2 none repeat scroll 0% 0% !important;
}
form input[type="submit"]:hover, a.button:hover, a.button:link:hover, a.button:visited:hover {
  background: #0790F2 none repeat scroll 0% 0% !important;
}
.panel_contents {
	padding: 25px 15px 15px !important;
}
.list-none {
  list-style-type: none !important;
  margin: 0 !important;
}
.panel_contents ul.list-none li a {
  background: #4C9ED9 none repeat scroll 0 0;
  color: #fff !important;
  text-decoration: none !important;
  padding: 6px 10px;
  font-size: 1.1em;
  border-radius: 10px;
}
.panel_contents ul.list-none li a:hover {
  background-color: #0170C1;
}
.panel_contents ul.list-none li {
	display: inline-block;
  margin-right: 5px;
  padding-bottom: 20px;
}
.attributes_table table th {
  width: 250px;
  padding-right: 15px;
}
.attributes_table table th, .attributes_table table td {
  color: #4c5b5d;
}
.breadcrumb a, .breadcrumb a:link, .breadcrumb a:visited, .breadcrumb a:active {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
}
.breadcrumb .breadcrumb_sep {
  color: #fff;
  font-size: 13px;
}
table.index_table td {
  color: #4c5b5d;
}
#footer {
  font-size: 1em;
}
.image-preview {
  max-height: 150px;
  max-width: 300px;
}
.image-preview-small {
  max-height: 50px;
  max-width: 100px;
}
form input[type="text"], form input[type="password"], form input[type="email"], form input[type="number"], form input[type="url"], form input[type="tel"], form input[type="date"], form textarea {
  font-size: 14px; 
}
body.active_admin .select2-container {
  min-width: 400px;
}
body.active_admin #sidebar .select2-container {
  max-width: 300px;
  min-width: 100px;
}



tr.odd, tr.even {
  &.deleted {
    td.col {
      background-color:  #aed6f1;
    }
  }
}

.panel_contents table tr.even td {
  background: #ecedee none repeat scroll 0 0;
  background-color:  #aed6f1 !important;

}

.panel_contents table tr.odd td {
  background: #ecedee none repeat scroll 0 0;
  background-color:  #aed6f1 !important;

}
