<p>Hello,</p>
<p>Your MyCompliance report.</p>

<% @report.report_documents.each do |report_document| %>
  <p><%= link_to report_document.document.file.file.split("/").last, ENV["DOMAIN"] + report_document.document.url, download: '' %></p>
<% end %>

<p>
	Thanks,<br />
	MyCompliance Team
</p>