<%= form_for(notification_template, remote: true) do |f| %>
  <div class="myreportCon clearfix">
    <div class="myUserSettRow clearfix">
      <div class="settingBox fl">
        <div class="siteFormRow">
          <label class="siteLabel mobHide o0">What would you like to say to invitees when sending an invite to upload label</label>
          <div class="addsiteHd smallHd blueBg">Invitee Template</div>
        </div>
      </div>
      <div class="settingBox fl last">
        <div class="siteFormRow">
          <label class="siteLabel">What would you like to say to invitees when sending an invite to upload</label>
          <%= f.text_area :invitee_template, class: "popInput p10", placeholder: "Dear Invitee, you have......." %>
        </div>
      </div>
    </div>

    <div class="myUserSettRow clearfix">
      <div class="settingBox fl">
        <div class="siteFormRow">
          <div class="addsiteHd smallHd blueBg">Email Templates</div>
          <div class="addsiteHd smallHd grayheaderBg mt7">My Notifications</div>
        </div>
      </div>
      <div class="settingBox fl">
        <div class="siteFormRow">
          <label class="siteLabel">Content of Due Soon emails be sent to myself</label>
          <%= f.text_area :email_due_soon_template, class: "popInput p10", placeholder: "Dear FM, Your site is....." %>
        </div>
      </div>
      <div class="settingBox fl last">
        <div class="siteFormRow">
          <label class="siteLabel">Content of overdue emails sent to myself</label>
          <%= f.text_area :email_overdue_template, class: "popInput p10", placeholder: "Dear FM, Your site is....." %>
        </div>
      </div>
    </div>

    <div class="myUserSettRow clearfix">
      <div class="settingBox fl">
        <div class="siteFormRow">
          <div class="addsiteHd smallHd blueBg mobHide vh">Invitee Notification</div>
          <div class="addsiteHd smallHd grayheaderBg mt7">Invitee Notifications</div>
        </div>
      </div>
      <div class="settingBox fl">
        <div class="siteFormRow">
          <label class="siteLabel">Content of Due Soon emails be sent to invitees</label>
          <%= f.text_area :email_due_soon_invitee_template, class: "popInput p10", placeholder: "Dear Invitee, Your site is....." %>
        </div>
      </div>
      <div class="settingBox fl last">
        <div class="siteFormRow">
          <label class="siteLabel">Content of Overdue emails be sent to invitees</label>
          <%= f.text_area :email_overdue_invitee_template, class: "popInput p10", placeholder: "Dear Invitee, Your site is....." %>
        </div>
      </div>
    </div>

    <div class="myUserSettRow clearfix">
      <div class="settingBox fl">
        <div class="siteFormRow">
          <div class="addsiteHd smallHd blueBg mobHide vh">Report Notification</div>
          <div class="addsiteHd smallHd grayheaderBg mt7">Report Notifications</div>
        </div>
      </div>
      <div class="settingBox fl last">
        <div class="siteFormRow">
          <label class="siteLabel">Content of emails sent to Report Recipients</label>
            <%= f.text_area :email_report_recipients_template, class: "popInput p10", placeholder: "Dear <name> ,please..." %>
        </div>
      </div>
    </div>

    <div class="myUserSettRow clearfix">
      <div class="settingBox fl">
        <div class="siteFormRow">
          <div class="addsiteHd smallHd blueBg mt7">Document Feedback Templates</div>
        </div>
      </div>
      <div class="settingBox fl">
        <div class="siteFormRow">
          <label class="siteLabel">Content of "Approved" <br> Notification</label>
          <%= f.text_area :document_feedback_approved_template, class: "popInput p10", placeholder: "Dear Invitee, Your File......" %>
        </div>
      </div>
      <div class="settingBox fl">
        <div class="siteFormRow">
          <label class="siteLabel">Content of "Set as Pending" Notification</label>
          <%= f.text_area :document_feedback_pending_template, class: "popInput p10", placeholder: "Dear Invitee, Your File......" %>
        </div>
      </div>
      <div class="settingBox fl last">
        <div class="siteFormRow">
          <label class="siteLabel">Content of "Set as Pending" Notification</label>
          <%= f.text_area :document_feedback_rejected_template, class: "popInput p10", placeholder: "Dear Invitee, Your File......" %>
        </div>
      </div>
    </div>

    <div class="btnGrpRight clearfix">
      <%= link_to "#" , class: "saveBtn mt0" do %>
        Save Changes
      <% end %>

    </div>
  </div>
<% end %>

<!-- validation -->
<script type="text/javascript">
  $(document).ready(function(){
    $("#new_user_notification_template").validate({
      rules: {
        "user_notification_template[invitee_template]": {
          required: true,
          noSpace: true
        },
        "user_notification_template[email_due_soon_template]": {
          required: true,
          noSpace: true
        },
        "user_notification_template[email_overdue_template]": {
          required: true,
          noSpace: true
        },
        "user_notification_template[email_due_soon_invitee_template]": {
          required: true,
          noSpace: true
        },
        "user_notification_template[email_overdue_invitee_template]": {
          required: true,
          noSpace: true
        },
        "user_notification_template[email_report_recipients_template]": {
          required: true,
          noSpace: true
        },
        "user_notification_template[document_feedback_approved_template]": {
          required: true,
          noSpace: true
        },
        "user_notification_template[document_feedback_pending_template]": {
          required: true,
          noSpace: true
        },
        "user_notification_template[document_feedback_rejected_template]": {
          required: true,
          noSpace: true
        }
      },
      messages: {
        "user_notification_template[invitee_template]": {
          required: "Please enter your Invitee template.",
          noSpace: "Please enter valid Invitee template."
        },
        "user_notification_template[email_due_soon_template]": {
          required: "Please enter your Email due soon template.",
          noSpace: "Please enter Email due soon template."
        },
        "user_notification_template[email_overdue_template]": {
          required: "Please enter Email overdue template.",
          noSpace: "Please enter Email overdue template."
        },
        "user_notification_template[email_due_soon_invitee_template]": {
          required: "Please enter Email due soon invitee template.",
          noSpace: "Please enter email due soon invitee template."
        },
        "user_notification_template[email_overdue_invitee_template]": {
          required: "Please enter Email overdue invitee template.",
          noSpace: "Please enter Email overdue invitee template."
        },
        "user_notification_template[email_report_recipients_template]": {
          required: "Please enter Email report recipients template.",
          noSpace: "Please enter Email report recipients template."
        },
        "user_notification_template[document_feedback_approved_template]": {
          required: "Please enter Document feedback approved template.",
          noSpace: "Please enter Document feedback approved template.",
        },
        "user_notification_template[document_feedback_pending_template]": {
          required: "Please enter Document feedback pending template.",
          noSpace: "Please enter Document feedback pending template.",
        },
        "user_notification_template[document_feedback_rejected_template]": {
          required: "Please enter Document feedback rejected template.",
          noSpace: "Please enter Document feedback rejected template.",
        }
      }
    });
  });
</script>
