<div class="transparentBox">
  <div class="innerPopWhite">
    <div class="popbox">
      <div class="popHeader clearfix">
        <div class="popHd fl">My Notification Templates</div>
        <span class="closePop fr">X</span>
      </div>
      <div class="popdetails">
        <div id="template_list">
          <%= render partial: "form", locals: { notification_template: notification_template } %>
        </div>
      </div>
    </div>
  </div>
</div>
