<% if @saved %>
	$('#template_list').html("<%= escape_javascript (render partial: 'form', locals: { notification_template: @notification_template }) %>");
<% else %>
	$("#error_messages").html("Not saved!!!");
<% end %>

// set_footer();
// $('html').scrollTop(0);