$("#myUserNoti").html("<%= j(render partial: 'notification_templates', locals: { notification_template: @notification_template, static_page: @static_page }) %>");
$("#myUserNoti").fadeIn(300);
$("body").addClass("hiddens");

$(".closePop").click(function(){								 
  $(".popOverlay").fadeOut(300);
  $("body").removeClass("hiddens");
});

// document.title = "Notification Templates"
// if (history && history.pushState) {
// 	history.pushState(null, document.title, "<%= user_notification_templates_path %>");
// 	$(window).bind("popstate", function(){
//     $.getScript(location.href);
//   });
// }

// set_footer();
// $('html').scrollTop(0);