$("#container_content").html("<%= j(render partial: 'new', locals: { static_page: @static_page }) %>");
document.title = "Login"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= new_user_session_path %>");
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}

$("#user_login").focus();
// set_footer();
$('html').scrollTop(0);