<table border="1">
  <tr>
    <th>Email</th>
    <th>UserName</th>
    <th>Name</th>
    <th>Phone Number</th>
    <th>Job Title</th>
    <th>Mobile Number</th>
    <th>Employee ID</th>
    <th>Account Status</th>
    <th>Last Login Date and Time</th>
    <th>Access Permissions</th>
    <th>Actions</th>
  </tr>
  <% managers.each do |manager| %>
    <tr id="manager_<%= manager.id %>">
      <%= render partial: "manager", locals: { manager: manager } %>
    </tr>
  <% end %>
</table>