<%= form_for(manager, url: create_manager_path, html: { method: :post, id: "create_manager_form", remote: true }) do |f| %>
  <ul>
    <li>
    	<%= f.label "First Name"%>
      <%= f.text_field :first_name, placeholder: 'Enter First Name', required: true, class: "inputText" %>
    </li>
    <li>
    	<%= f.label "Last Name"%>
      <%= f.text_field :last_name, placeholder: 'Enter Last Name', required: true, class: "inputText" %>
    </li>
    <li>
    	<%= f.label "Phone Number"%>
      <%= f.text_field :landline_number, placeholder: 'Enter Phone Number', required: true, class: "inputText" %>
    </li>
    <li>
    	<%= f.label "Job Title"%>
      <%= f.text_field :job_title, placeholder: 'Enter Job Title', required: true, class: "inputText" %>
    </li>
    <li>
    	<%= f.label "Mobile Number"%>
      <%= f.text_field :mobile_number, placeholder: 'Enter Mobile Number', required: true, class: "inputText" %>
    </li>
    <li>
    	<%= f.label "Email ID"%>
      <%= f.email_field :email, placeholder: 'Enter Email ID', required: true, class: "inputText" %>
    </li>
    <li>
    	<%= f.label "UserName"%>
      <%= f.text_field :user_name, placeholder: 'Enter UserName', required: true, class: "inputText" %>
    </li>
    <div class="clearfix"></div>
    <li>
    	<%= f.label "Password"%>
      <%= f.password_field :password, autocomplete: "off", placeholder: 'Enter Password', class: "inputText mb5", required: true %>
    </li>
    <li>
    	<%= f.label "Re-enter password"%>
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Re-enter password', class: "inputText mb5", required: true %>
    </li>
    <li>
      <%= f.label "Permissions"%>
      <%= f.select :permissions, options_for_select([["My Account Settings", "my_account_settings"], ["Manage Documents","manage_documents"], ["Manage Templates","manage_templates"], ["Manage site","manage_site"],["Tabs","tabs"],["items","items"],["Notification","notification"],["Invitation","invitation"],["Add Site","add_site"],["Edit Site Information","edit_site_information"],["User Settings","user_settings"],["Manage Item Template","manage_item_template"],["Preferred Emails","preferred_emails"]],selected: manager.permissions), {}, multiple: true  %>  
    </li>
    <li>
    	<%= f.label "Employee ID"%>
      <%= f.text_field :employee_id, placeholder: 'Enter Employee ID', required: false, class: "inputText" %>
    </li>
    <li>
    	<%= f.label "Image"%>
      <%= f.file_field :avatar, required: false, class: "inputText" %>
    </li>
    <div class="clearfix"></div>
  </ul>
  <div class="btn_center">
    <%= f.submit "Add Manager", class: "btn_start piBtns" %>
  </div>
<% end %>

 <!-- validation -->

<script type="text/javascript">
  $(document).ready(function(){
    $("#create_manager_form").validate({
      onkeyup: false,
      rules: {
        "user[first_name]": {
          required: true,
          noSpace: true,
          maxlength: 125
        },
        "user[last_name]": {
          required: true,
          noSpace: true,
          maxlength: 125
        },
        "user[landline_number]": {
          required: true,
          phone: true,
          minlength: 8,
          maxlength: 15
        },
        "user[job_title]": {
          required: true,
          maxlength: 125
        },
        "user[mobile_number]": {
          required: true,
          phone: true,
          minlength: 8,
          maxlength: 15
        },
        "user[email]": {
          required: true,
          noSpace: true,
          email: true,
          maxlength: 255,
          remote: {
            url: "/check_email_unique",
            type: "get"
          }
        },
        "user[user_name]": {
          required: true,
          noSpace: true,
          pattern: "^[a-zA-Z0-9_\.]*$",
          maxlength: 255,
          remote: {
            url: "/check_username_unique",
            type: "get"
          }
        },
        "user[password]": {
          required: true,
          noSpace: true,
          minlength: 8,
          maxlength: 255
        },
        "user[password_confirmation]": {
          required: true,
          noSpace: true,
          minlength: 8,
          maxlength: 255,
          equalTo: "#user_password"
        },
        "user[employee_id]": {
          required: true,
          noSpace: true,
          maxlength: 125
        }
      },
      messages: {
        "user[first_name]": {
          required: "Please enter First Name.",
          noSpace: "Please enter valid First Name.",
          maxlength: "First Name must be of maximum {0} characters."
        },
        "user[last_name]": {
          required: "Please enter Last Name.",
          noSpace: "Please enter Last Name.",
          maxlength: "Last Name must be of maximum {0} characters."
        },
        "user[landline_number]": {
          required: "Please enter Phone Number.",
          phone: "Please enter valid Phone Number.",
          minlength: "Phone Number must be of minimum {0} digits.",
          maxlength: "Phone Number must be of maximum {0} digits."
        },
        "user[job_title]": {
          required: "Please enter Job Title.",
          noSpace: "Please enter valid Job Title.",
          maxlength: "Job Title must be of maximum {0} characters."
        },
        "user[mobile_number]": {
          required: "Please enter Mobile Number.",
          phone: "Please enter valid Mobile Number.",
          minlength: "Mobile Number must be of minimum {0} digits.",
          maxlength: "Mobile Number must be of maximum {0} digits."
        },
        "user[email]": {
          required: "Please enter Email Address.",
          noSpace: "Please enter valid Email Address.",
          email: "Please enter valid Email Address.",
          maxlength: "Email Address must be of maximum {0} characters.",
          remote: "This Email Address is taken."
        },
        "user[user_name]": {
          required: "Please enter User Name.",
          noSpace: "Please enter valid User Name.",
          pattern: "Please enter valid User Name.",
          maxlength: "User Name must be of maximum {0} characters.",
          remote: "This User Name is taken."
        },
        "user[password]": {
          required: "Please enter Password.",
          noSpace: "Please enter valid Password.",
          minlength: "Password must be of minimum {0} characters.",
          maxlength: "Password must be of maximum {0} characters."
        },
        "user[password_confirmation]": {
          required: "Please confirm Password.",
          noSpace: "Please enter valid Confirm Password.",
          minlength: "Confirm Password must be of minimum {0} characters.",
          maxlength: "Confirm Password must be of maximum {0} characters.",
          equalTo : "Confirm Password must be same as Password."
        },
        "user[employee_id]": {
          required: "Please enter Employee ID.",
          noSpace: "Please enter valid Employee ID.",
          maxlength: "Employee ID must be of maximum {0} characters."
        }
      },
      // highlight: function (element) {
      //   $(element).parent().removeClass("has-success").addClass("has-error");
      //   set_footer();
      // },
      // success: function (element) {
      //   $(element).parent().removeClass("has-error").addClass("has-success");
      //   $(element).removeClass("error");
      //   $(element).addClass("display-table margin-0");
      // }
    });
     });
</script>