<td><%= manager.email %></td>
<td><%= manager.user_name %></td>
<td><%= manager.full_name %></td>
<td><%= manager.landline_number %></td>
<td><%= manager.job_title %></td>
<td><%= manager.mobile_number %></td>
<td><%= manager.employee_id %></td>
<td><%= manager.active? ? "Active" : "Inactive" %></td>
<td><%= manager.current_sign_in_at.present? ? manager.current_sign_in_at.in_time_zone.strftime("%d-%b-%Y %I:%M:%S %p") : "" %></td>
<td><%=  manager.permissions %></td>
<td><%= link_to (manager.active? ? "Active" : "Inactive"), update_status_path(manager), method: :put, remote: true, data: { confirm: "Are you Sure?" } %> | <%= link_to "Edit", edit_manager_path(manager), remote: true %> | <%= link_to "Delete", delete_manager_path(manager), method: :delete, remote: true, data: { confirm: "Are you Sure?" } %></td>