$("#container_content").html("<%= j(render partial: 'manager_form', locals: { manager: @manager }) %>");
document.title = "Add Manager"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= add_manager_path %>");
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}

// set_footer();
$('html').scrollTop(0);