$("#container_content").html("<%= j(render partial: 'manager_edit_form', locals: { manager: @manager }) %>");
document.title = "Edit Manager"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= edit_manager_path(@manager) %>");
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}

// set_footer();
$('html').scrollTop(0);