$("#container_content").html("<%= j(render partial: 'index', locals: { managers: @managers }) %>");
document.title = "Users Management"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= users_management_path %>");
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}

// set_footer();
$('html').scrollTop(0);