<% content_for(:title) do %>
  <%= t 'devise.invitations.edit.header' %>
<% end %>

<h2><%= t 'devise.invitations.edit.header' %></h2>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put, id: "edit_invitation" } do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :invitation_token %>
  
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name, autofocus: true %>
  </div>
  
  <% if f.object.class.require_password_on_accepting %>
    <p><%= f.label :password %><br />
    <%= f.password_field :password, autofocus: true, autocomplete: "off", id: "new_password" %></p>

    <p><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></p>
  <% end %>

  <p><%= f.submit t("devise.invitations.edit.submit_button") %></p>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $("#edit_invitation").validate({
      errorPlacement: function(error, element) {
        error.insertAfter( element );
      },
      rules: {
        "user[first_name]": {
          required: true,
          noSpace: true,
          maxlength: 125
        },
        "user[last_name]": {
          required: true,
          noSpace: true,
          maxlength: 125
        },
        "user[user_name]": {
          required: true,
          noSpace: true,
          maxlength: 255,
          remote: { url: "/check_username_unique", type: "get" }
        },
        "user[password]": {
          required: true,
          noSpace: true,
          minlength: 8,
          maxlength: 255
        },
        "user[password_confirmation]": {
          required: true,
          noSpace: true,
          minlength: 8,
          maxlength: 255,
          equalTo: "#new_password"
        }
      },
      messages: {
        "user[first_name]": {
          required: "Please enter your First Name.",
          noSpace: "Please enter valid First Name.",
          maxlength: "Your First Name must be of maximum 125 characters."
        },
        "user[last_name]": {
          required: "Please enter your Last Name.",
          noSpace: "Please enter valid Last Name.",
          maxlength: "Your Last Name must be of maximum 125 characters."
        },
        "user[user_name]": {
          required: "Please enter your User Name.",
          noSpace: "Please enter valid User Name.",
          maxlength: "Your Full Name must be of maximum {0} characters.",
          remote: "This User Name is taken."
        },
        "user[password]": {
          required: "Please enter your Password.",
          noSpace: "Please enter valid Password.",
          minlength: "Your Password must be of minimum 8 characters.",
          maxlength: "Your Password must be of maximum 255 characters."
        },
        "user[password_confirmation]": {
          required: "Please confirm your password.",
          noSpace: "Please enter valid Confirm Password.",
          minlength: "Your Confirm Password must be of minimum 8 characters.",
          maxlength: "Your Confirm Password must be of maximum 255 characters.",
          equalTo: "Your Confirm Password must be equal to Password."
        }
      },
    });
  });
</script>
