<% content_for(:title) do %>
  <%= t "devise.invitations.new.header" %>
<% end %>

<h2><%= t "devise.invitations.new.header" %></h2>

<%= form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post, id: "new_invitation" } do |f| %>
  <%= devise_error_messages! %>

  <% resource.class.invite_key_fields.each do |field| -%>
    <p><%= f.label field %><br />
    <%= f.text_field field %></p>
  <% end -%>

  <p><%= f.submit t("devise.invitations.new.submit_button") %></p>
<% end %>

<!--  Validation-->
<script type="text/javascript">
  $(document).ready(function(){
    $("#new_invitation").validate({
      errorPlacement: function(error, element) {
        error.insertAfter( element );
      },
      rules: {
        // "user[full_name]": {
        //   required: true,
        //   noSpace: true,
        //   maxlength: 125
        // },
        // "user[user_name]": {
        //   required: true,
        //   noSpace: true,
        //   maxlength: 255,
        //   remote: { url: "/check_username_unique", type: "get" }
        // },
        "user[email]": {
          required: true,
          noSpace: true,
          email: true,
          maxlength: 255,
          remote: { url: "/check_email_unique", type: "get" }
        }
      },
      messages: {
        // "user[full_name]": {
        //   required: "Please enter your Full Name.",
        //   noSpace: "Please enter valid Full Name.",
        //   maxlength: "Your Full Name must be of maximum 125 characters."
        // },
        // "user[user_name]": {
        //   required: "Please enter your User Name.",
        //   noSpace: "Please enter valid User Name.",
        //   remote: "This User Name is taken."
        // },
        "user[email]": {
          required: "Please enter your Email Address.",
          noSpace: "Please enter valid Email Address.",
          email: "Please enter valid Email Address.",
          maxlength: "Your Email must be of maximum {0} characters."
          remote: "This Email Address is taken."
        }
      },
      // highlight: function (element) {
      //   $(element).parent().removeClass("has-success").addClass("has-error");
      //   set_footer();
      // },
      // success: function (element) {
      //   $(element).parent().removeClass("has-error").addClass("has-success");
      //   $(element).removeClass("error");
      //   $(element).addClass("display-table margin-0");
      // }
    });
  });
</script>