$("#container_content").html("<%= j(render partial: 'edit', locals: { static_page: @static_page }) %>");
document.title = "<%= t 'devise.invitations.edit.header' %>"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= accept_user_invitation_path %>");
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}

$("#user_first_name").focus();
// set_footer();
$('html').scrollTop(0);