$("#container_content").html("<%= j(render partial: 'new', locals: { static_page: @static_page }) %>");
document.title = "<%= t 'devise.invitations.new.header' %>"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= new_user_invitation_path %>");
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}

$("#user_email").focus();
// set_footer();
$('html').scrollTop(0);