<div class="transparentBox">
  <div class="innerPopWhite">
    <div class="popbox" style="padding-bottom: 34px;">
      <div class="popHeader clearfix">
        <div class="popHd fl">Item Templates</div>
        <span class="closePop fr">X</span>
      </div>
      <div class="popdetails">
        <div class="itemTemRow clearfix">
          <div class="addTemplateBox fl" id="item_template_form">
            <%= render partial: 'item_template_form', locals: { site_item: site_item } %>
          </div>
          <div class="itemTempRight fr">
            <div class="scrollbox scrollbarCustomEdit clearfix">
              <table cellpadding="0" cellspacing="0" border="0">
                <tr id="item_templates">
                  <% item_templates.each.with_index(1) do |item_template, index| %>
                    <%= render partial: 'item_template', locals: { site_item: item_template, index: index } %>
                  <% end %>
                <tr>
              </table>
            </div>
          </div>
          <div class="saveBtnGrp" style="bottom: -33px;">
            <%= link_to "Save Changes", "javascript:;", class: "saveBtn closePop sc", style:"width: 227px;" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
