<td class="site_item_template" id="site_item_template_<%= site_item.id %>">
  <div class="siteBox itemTemBox2">
    <div class="addsiteHd redBg">Template <%= index %></div>
    <%= nested_form_for(site_item, url: item_template_path(site_item), method: :put, remote: true, html: {id: "update_item_template_form_#{site_item.id}"}) do |f| %>
      <div class="siteFormRow tabAdded">
        <label class="siteLabel">Item Title</label>
        <%= f.text_field :title, class: "popInput", placeholder: "Enter Item Title" %>
      </div>
      <div class="siteFormRow tabAdded">
        <label class="siteLabel">Frequency</label>
        <!-- <select class="popInput">
          <option>Annual</option>
        </select> -->
        <%= f.text_field :frequency, class: "popInput", placeholder: "Enter Item Frequency" %>
      </div>
      
      <div id="site_tab_item_questions_<%= site_item.id %>" class="scrollbarCustom" style="height:238px;">
        <%= f.fields_for :site_item_questions do |f_site_item_question| %>
          <div class="siteFormRow tabAdded">
            <label class="siteLabel">Question</label>
            <%= f_site_item_question.text_field :question, class: "popInput pr50", placeholder: "Enter Question" %>
            <% if f_site_item_question.index != 0 %>
              <%= f_site_item_question.link_to_remove "<span class='deletIcon'></span>".html_safe %>
            <% end %>
            <%= f_site_item_question.check_box :required_for_compliant, id: "questions_#{site_item.id}_attributes_#{f_site_item_question.index}_required_for_compliant", class: "cssCheckBox" %>
            <label for="questions_<%= site_item.id %>_attributes_<%= f_site_item_question.index %>_required_for_compliant"  class="cicon"></span>
          </div>
        <% end %>
      </div>
      <%= f.link_to_add "Add question", :site_item_questions, data: { target: "#site_tab_item_questions_#{site_item.id} .mCSB_container" }, class: "EditokBtn" %>
      
      <div class="clearfix"></div>
      <div class="siteFormRow tabAdded itemReq">
        <span class="itemRequired">Item is Required for Site Compliance</span>
        <!-- <img src="/assets/check.png" alt="" class="checkbox"> -->
        <%= f.check_box :required_for_site_compliance, class: "cssCheckBox", id: "required_for_site_compliance_#{site_item.id}" %>
    		<label for="required_for_site_compliance_<%= site_item.id %>" class="cssLabel fr rfsc"></label>
      </div>
      <div class="siteFormRow tabAdded">
        <label class="siteLabel">Due Date for Item</label>
        <%= f.text_field :due_date, value: site_item.due_date.present? ? site_item.due_date.strftime("%d/%m/%Y") : '', class: "popInput calInput", placeholder: "Select Due Date", id: "site_item_due_date_#{site_item.id}" %>
      </div>
      <div class="siteFormRow tabAdded">
        <label class="siteLabel">Item is marked as Due Soon</label>
        <!-- <select class="popInput">
          <option>20 weeks before due</option>
        </select> -->
        <%= f.text_field :due_soon, class: "popInput", placeholder: "Enter Due Soon" %>
      </div>
      
      <div class="btnGroup clearfix">
        <%= f.submit "Edit", class: "deleteItem abtn s_edit" %>
        <%= link_to "Delete Item", item_template_path(site_item), method: :delete, remote: true, data: {confirm: "Are you sure?"}, class: "deleteItem" %>
      </div>
    <% end %>
  </div>
</td>

<!-- validation -->
<script type="text/javascript">
  $("#update_item_template_form_<%= site_item.id %>").on('nested:fieldAdded', function(event){
    // this field was just inserted into your form
    var field = event.field;
    $("#" + field.find('input[type="text"]').attr('id')).rules("add", {
      required: true,
      noSpace: true,
      minlength: 8,
      maxlength: 255,
      messages: {
        required: "Please enter your Question.",
        noSpace: "Please enter valid Question.",
        minlength: "Your Question must be of minimum {0} characters.",
        maxlength: "Your Question must be of maximum {0} characters."
      }
    });
  });
  
  $("#update_item_template_form_<%= site_item.id %>").on('nested:fieldRemoved', function(event){
    // this field was just removed from your form
    var field = event.field;
    $("#" + field.find('input[type="text"]').attr('id')).rules("remove");
  });

  $(document).ready(function(){
    $('#site_item_due_date_<%= site_item.id %>').datetimepicker({
      format: "DD/MM/YYYY"
    });
    
    $("#site_item_due_date_<%= site_item.id %>").inputmask({
      mask: "1/2/y",
      placeholder: "dd/mm/yyyy",
      alias: "date"
    });
    
    $("#update_item_template_form_<%= site_item.id %>").validate({
      rules: {
        "site_item[title]": {
          required: true,
          noSpace: true,
          maxlength: 125
        },
        "site_item[frequency]": {
          required: true,
          noSpace: true,
          maxlength: 125
        },
        <% site_item.site_item_questions.each.with_index(0) do |site_item_question, index| %>
          "site_item[site_item_questions_attributes][<%= index %>][question]": {
            required: true,
            noSpace: true,
            minlength: 8,
            maxlength: 255
          },
        <% end %>
        "site_item[due_date]": {
          required: true
        },
        "site_item[due_soon]": {
          required: true,
          noSpace: true
        }
      },
      messages: {
        "site_item[title]": {
          required: "Please enter your Item title.",
          noSpace: "Please enter valid Item title.",
          maxlength: "Your Item title must be of maximum {0} characters."
        },
        "site_item[frequency]": {
          required: "Please enter Frequency.",
          noSpace: "Please enter Frequency.",
          maxlength: "Your Frequency must be of maximum {0} characters."
        },
        <% site_item.site_item_questions.each.with_index(0) do |site_item_question, index| %>
          "site_item[site_item_questions_attributes][<%= index %>][question]": {
            required: "Please enter your Question.",
            noSpace: "Please enter valid Question.",
            minlength: "Your Question must be of minimum {0} characters.",
            maxlength: "Your Question must be of maximum {0} characters."
          },
        <% end %>
        "site_item[due_date]": {
          required: "Please enter your Due date."
        },
        "site_item[due_soon]": {
          required: "Please enter your Due soon.",
          noSpace: "Please enter valid Due soon."
        }
      },
    });
  });
</script>