<% if @saved %>
	$("#item_template_form").html("<%= j(render partial: 'item_template_form', locals: { site_item: @new_item }) %>");
	$("#item_templates").append("<%= j(render partial: 'item_template', locals: { site_item: @site_item, index: @site_items_size }) %>");
<% else %>
	$("#error_messages").html("<%= j(model_error_messages(@site_item)) %>");
<% end %>

// set_footer();
$('html').scrollTop(0);