$("#itemTemplatePop").html("<%= j(render partial: 'item_templates', locals: { site_item: @site_item, item_templates: @item_templates, static_page: @static_page }) %>");
$("#itemTemplatePop").fadeIn(300);
$("body").addClass("hiddens");

$(".closePop").click(function(){								 
  $(".popOverlay").fadeOut(300);
  $("body").removeClass("hiddens");
});

(function($){
  $(".scrollbox").mCustomScrollbar({
    axis:"x",
    theme:"light-3",
    advanced:{autoExpandHorizontalScroll:true}
  });
  if($(window).width() > 767){
    $(".scrollbarCustom").mCustomScrollbar({
      axis:"Y",
      theme:"light-2"
    });
  }
})(jQuery);

// document.title = "Item Templates"
// if (history && history.pushState) {
//   history.pushState(null, document.title, "<%= item_templates_path %>");
//   $(window).bind("popstate", function() {
//     $.getScript(location.href);
//   });
// }

// set_footer();
// $('html').scrollTop(0);