<% if @saved %>
	$("#site_item_template_<%= @item.id %>").html("<%= j(render partial: 'item_template', locals: { site_item: @item, index: @site_items_size }) %>");
<% else %>
	$("#error_messages").html("Not updated");
<% end %>

// set_footer();
// $('html').scrollTop(0);