/*
 *= require jquery.mCustomScrollbar
 *= require stylesheet
 *= require owl.carousel
 *= require animate
 *= require responsive
 *= require bootstrap-datetimepicker
 *= require select2
 *= require_self
*/

.display-none {
  display: none;
}
.abtn {
  border: 0 none;
  cursor: pointer;
  font-family: open sans;
  outline: 0 none;
  line-height: 18px;
  text-decoration: none;
}
.replies {
	margin-left: 20px;
}
.text-dec-none {
  text-decoration:none;
}
hr.style5 {
	background-color: #fff;
	border-top: 2px dashed #8c8b8b;
}
.error {
  border: 1px solid;
  padding: 0px 10px;
  border-radius: 2px;
  margin-top: 2px;
  background: #f2dede;
  border-color: #ebccd1;
  color: #b94a48;
  background-size: 20px 20px;
  width: 100% !important;
  font-weight: 500 !important;
  margin: 2px 0 !important;
  text-align: left;
  font-size: 12px;
  line-height: normal !important;
  display: block;
}
.display-table {
  display: table !important;
}
.margin-0 {
  margin: 0px !important;
}
.has-error label.error {
  text-transform: none !important;
}
.mt-80 {
  margin-top: 80px;
}
.mr-50 {
  margin-right: 50px;
}
.popUpLink{
  color: #00a652;
  font-size: 13px;
  text-decoration: underline;
}
.popUpLink:hover{
  color:#0070c0;
}
.dash-back {
  background: #efeef3;
}
.pos-rel {
  position: relative;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
.bootstrap-datetimepicker-widget {
  position: absolute;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

/* Loading Div with spin icon */
div.ajax-loading{
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: none;
  background: rgba(51,51,51,0.9);
  z-index: 2000;
  text-align: center;
  color: #ffffff;
}
div.ajax-loading span{
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -15px;
}
div.ajax-loading span p{
  padding-top: 10px;
  padding-right: 10px;
  font-size: 1.1em;
}
div.ajax-loading span p i{
  color: #0070c0;
  font-size: 1.5em;
}
.glyphicon{
  position:relative;
  top:1px;
  display:inline-block;
  font-family:'Glyphicons Halflings';
  font-style:normal;
  font-weight:400;
  line-height:1;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}
.glyphicon-refresh:before{
  content:"\e031"
}
.glyphicon-time:before {
  content: "\e023";
}
.glyphicon-chevron-left:before {
  content: "\e079";
}
.glyphicon-chevron-right:before {
  content: "\e080";
}
.glyphicon-chevron-up:before {
  content: "\e113";
}
.glyphicon-chevron-down:before {
  content: "\e114";
}
.glyphicon-calendar:before {
  content: "\e109";
}
.gly-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

a.disable {
  pointer-events: none;
  cursor: default;
}
.visibility {
  visibility: visible;
}
.rfsc {
  position: absolute;
  right: 0;
  top: 0;
}
.s_edit {
  display: inline-block;
  float: none;
  margin: 0 0 0 5px;
  padding: 8px 15px;
  width: auto;
}
 .sirfsc {
    position: absolute;
    right: 0;
    top: 0;
 }
.s_Add_t {
  width:100%;
}
.sc {
  height: auto;
}
.ov {
  color: darkgrey;
}
.ab {
  margin-top:20px;
}
.scf {
  color:#0070c0;
  font-weight:bold;
}
.mb5 {
  margin-bottom:5px;
}
.cfwb {
  color:#000; 
  font-weight:bold;
}
.ptc {
  padding-top:0; 
  color:#0070c0 ;
}
.cf {
  color:#ff0000;
}
.wpr {
  width:60px; 
  padding-right:10px;
}
.m40 {
  margin:40px 0;
}
.tdu {
  text-decoration:underline;
}
.pr0 {
padding-right:0;
}
.mt20 {
  margin-top:20px;
}
.c0070c9 {
  margin-top:20px;
}
.c00a551{
  color:#00a551;
}
.mt0 {
  margin-top:0;
}
.mt30 {
  margin-top:30px;
}
.cca0000 {
  color:#ca0000;
}
.cfff {
  color: #fff;
}
.mw120 {
  max-width:120px;
}

.c0070c0 {
  color: #0070c0;
}
.mtmr {
  margin-top: 10px;margin-right: 0px;
}
.w100 {
   width: 100%;
}
.mr0 {
  margin-right: 0px;
}
.o0 {
  opacity:0;
}
.p10 {
  padding: 10px;
}
.mt7 {
  margin-top:7px;
}
.vh {
  visibility:hidden;
}
.c-name-l {
  float:left; width:49%;
}
.c-name-r {
  float:right; width:49%;
}
.bga6 {
  background:#a6a6a6;
}
.mtfr {
  margin-top:0;float: right;
}
.op2 {
  opacity: .2;
}
.mr5 {
  margin-right: 5px;
}
.pt20 {
  padding-top: 20px;
}
.pr5 {
  padding-right: 5px;
}
.pr50 {
  padding-right: 50px;
}
.pr27 {
  padding-right: 27px;
}
.pr10 {
  padding-right: 10px;
}
.pr0 {
  padding-right: 0;
}
.w-100 {
  width: 100%;
}
.ww-bw {
  word-wrap: break-word;
}
