@media(min-width:768px) {
.ftrCon , .mobPop  {display:block !important;}
}
@media(min-width:1024px) {
.dashNav {display:block !important;}
}
@media(max-width:1400px) {
.homeBanner .item{height:530px;}
.homeBanner .owl-dots{bottom: 138px;}
#myReport .innerPopWhite{ max-width:764px;}
#uploadFile .innerPopWhite{ max-width:764px;}
.seeMoreDocumentPop .innerPopWhite{ max-width:520px;}
.reportBox{ float:none; display:inline-block; vertical-align:top; margin-bottom:30px;}

}
@media(max-width:1279px) {
.dashCon{ margin:0 15px; padding:0 15px;}
#editSitePop .innerPopWhite{ max-width:1000px;}
.leftEdit{ width:27%;}
.leftEdit .siteBox{ width:100%; float:none; margin-bottom:20px; float:none; }
.rightEdit{ width:73%;}
.edit1{ width:33%;}
.edit2{ width:66%;}
.editbox.editbox2 {padding-right: 12px;width: 209px;}
}

@media(max-width:1169px){
.teamBoxMain{width:24%;}
.ComplianceBoxMain{width:30%;}
.srchBox{ width:290px;}
.dashnavBox li a{ width:100px;}
.pages{ margin-right:12px;}
}

@media(max-width:1039px) {
.teamBoxMain{width: 22%;}
.signupForm{max-width: 100%;width: 100%;}
.trail,.terms{width:20%;}
.fillForms{width:60%;}
.socialNew li{display: inline-block;width: 9%;}
.tabCon > a{font-size: 14px;line-height: 18px;}
.tabList li a{font-size: 13px;font-weight: 600;}
.editbox.editbox2{ width: 198px; }
}
@media(max-width:1023px){
.logodash{ width:350px;}
.dashHeaderRight{ padding-top:12px;}
.dashHeader{ height:98px;}
.calanderbox{ width:110px;}
.srchBox{ width:160px;}
.footerPager.clearfix > div {display: block;float: none; margin: 4px 0;}
.footerCon{ margin-top:20px;}
.dashMidCon{ padding-bottom:0;}
.dashMenu{ position:relative;}
.dashNav{ position:absolute; left:0; right:0; top:100%; padding:0 15px; background:#0070c0 ; z-index:150; display:none; box-shadow: 0 3px 2px #666;}
.dashnavBox li a:hover::after {opacity:0;}
.dashnavBox li{ float:none; text-align:center;}
.dashnavBox li a{ width:100%; padding:9px 15px 9px 0; font-size:14px; border-top:1px solid #177bcb ;}
.dashnavBox li a.active::after {background:none;opacity: 0;}
.dashnavBox li a.active {color:#00a652; background:none;}
.dashMenuIcon{ width:20px; height:18px; display:block; background:url(/assets/menu.png) no-repeat center center; position:absolute; left:10px; top:15px;}
.footerPager{ margin-top:8px;}
.addsiteHd{ font-size:13px;}
.siteLabel{ font-size:12px;}
.saveBtn{ width:150px;}
#editSitePop .innerPopWhite{ max-width:734px;}
.leftEdit{ width:100%; margin-bottom:20px;}
.leftEdit .siteBox{ width:49%; float:left; margin-bottom:0px; padding-right:0;  }
.leftEdit .siteBox + .siteBox{ float:right;}
.rightEdit{ margin:0 auto; width:100%;}
.saveBtnGrp{ position:relative; display:block; margin:20px auto 0; clear:both; text-align:center; padding-top:20px;}
.saveBtn{ display:inline-block; float:none; margin:0 4px;} 
.documentBox.fl{ width:48%;}
.documentBox.fr{ width:100%;}
.width50{ width:100%;}
.docFile{ width:100%; margin-bottom:10px;}
.smalltxt{ width:70%;}
.popInput.width50{ margin-bottom:10px;}
#documentPop .innerPopWhite{ max-width:734px;}
.popInput.width80{ margin-bottom:10px;}
#temEdit .innerPopWhite{ max-width:734px; position:relative;}
.leftEditBox{ width:490px;}
.filterbox{ width:110px;}
.dashNav{ width:100%;}
}

@media(max-width:979px){
.homeBanner .item{height: 350px;}
.sliderCaption{left:0;margin: auto;right: 0;text-align: center;top:30px;}
.sliderCaption h2{font-size: 20px;font-weight: 800;line-height: 25px;}
.sliderCaption p{font-size: 14px;line-height: 20px;margin: auto;max-width: 565px;padding: 10px 0;text-align: center;}
.moreBtn{background-color: #0070c0;border-radius: 100px;color: #ffffff;display: block;font-size: 14px;height: 34px;margin: auto;padding: 7px 0;text-align: center;text-transform: uppercase;width: 145px;}
.menuBar{width: 250px;background-color: #0070c0;position: fixed;top: 0;bottom: 0;z-index: 300; left:-300px;padding:20px; margin:0; overflow:auto;transition:all 0.5s ease; -ms-transition:all 0.5s ease; -webkit-transition:all 0.5s ease; -o-transition:all 0.5s ease; -moz-transition:all 0.5s ease;}
.menuBar ul li{display:block; padding:0; margin:0;}
.menuBar ul li a{display:block; color:#fff; text-align:left; text-transform:uppercase; padding:12px 0;  font-size:14px; border-bottom:1px solid #9dc3e6;}
.menuBar ul li:last-child a{border:0;}
.menuBar ul li:last-child{margin-bottom:25px;}
.menuBar ul li.active a{border-color: #9dc3e6;border-width: 1px;color: #9dc3e6;}
.menuBar ul li a:hover{border-color: #9dc3e6;border-width: 1px;color: #9dc3e6;}
.menuBar ul{margin-top:0px;}
.menuBar.opens{left:0;}
.mobnav i{background:#0070c0 none repeat scroll 0 0;border-radius: 4px;display: block;height: 2px;margin: 3px 0;width: 75%;}
.mobnav i:nth-child(2){width:43%;}
.mobnav i:nth-child(3){width:63%;}
.loginBtn{right:50px;}
.mobnav{display: block;position: absolute;right: 7px;top: 28px;width: 32px;}
.viewBtn{font-size: 13px;height: 35px;padding: 8px 0;width: 150px;}
.ourServices,.ourTeam,.myCompliance,.clientSay,footer{padding:25px 0;}
.ourServicesLeft h1,.ourServicesLeft span{font-size:20px;}
.ourServicesLeft p{padding:15px 0;}
.teamMain,.ComplianceMain,.testmonial{margin-top: 25px;}
.ComplianceCon > a{font-size:16px;}
.ComplianceCon > span{font-size:13px;}
.LeftArrow{left:35%;}
.RightArrow{right:35%;}
.servicesCon > p{font-size: 14px;line-height: 21px;}
.servicesCon > h1{font-size:17px;}
.mainHeading{font-size:24px;}
.teamCon{padding: 10px;}
.ComplianceCon{padding: 15px;}
.readMoreBtn{font-size: 13px;height: 30px;margin: auto;padding: 6px;width: 100px;}
.servicesCon{padding-left: 50px;}
.servicesBox img{width: 39px;}
.copyRight{padding:10px 0;}
.loginBox{width:90%;}
.loginBox{height:538px;}
.whyBannerCaption h1{font-size: 27px;line-height: 29px;}
.faqBannerCaption h1{font-size: 27px;line-height: 29px;}
.whyBanner{height:170px;}
.faqBanner{height:170px;}
.whyBannerCaption{top: 55px;}
.faqBannerCaption{top: 55px;}
.welcome,.whyChosseus{padding: 25px 0;}
.welLeft p,.whyChosseus p{line-height:22px;}
.whyChosseus p{margin-top:20px;}
.getinTouch,.locationMap{padding:25px 0;}
.mapViews{margin-top: 25px;}
.teamPerson{padding:25px 0;}
.teamPersonRight > h1{font-size: 24px;}
.teamPersonRight > p{line-height: 23px;margin-bottom: 15px;}
.socialNew li{width: 11%;}
.teamPersonLeft > span{font-size: 13px;}
.teamPersonLeft > h1{font-size: 19px;margin: 0;}
.relatedTeam .teamMain{margin-top:20px;}
.faqMain{padding: 25px 0;}
ul.menuList{width: auto;}
.faqBox{width: 48%;}
.faqBox > p{font-size: 16px;line-height: 25px;}
#signuppopup .loginBox{height: 531px;}
.newsLeft{width: 64%;}
.newsRight{width: 34%;}
.tittleCon{padding-left: 90px;}
.tittleCon > h1{font-weight: 600;margin: 10px 0;font-size:18px;}
.tittleCon > span{margin-bottom:10px;}
.tittleCon > p{line-height:22px;}
.rdMore{font-size: 14px;height: 30px;margin: 15px 0 0;padding: 5px 9px;width:100px;}
.tabList li a{font-size: 13px;font-weight: 600;}
.tabCon > a{font-size: 14px;line-height: 18px;}
.date > h1{font-size:14px;}
.News{padding: 25px 0;}
.discussionBox p{line-height: 21px;}
.teamDetailsForm .getinTouchForm .inputComn{margin-bottom:20px;}
.teamDetailsForm .getinTouchForm .inputComn{font-size: 14px;height: 45px;margin-bottom: 20px;padding: 15px;}
.teamDetailsForm .getinTouchForm textarea.inputComn{height:100px !important;}
.seemoreSlider{ max-width:650px;}
.middetBoxPop .boxHeader{ padding-right:55px;}
#itemTemplatePop .innerPopWhite{ max-width:734px;}
.siteLabel br{ display:none;}
.settingBox{ float:none; width:200px; display:inline-block; margin:10px 15px 10px 0; vertical-align:top; padding-right:0;}
.myUserSettRow{ margin-bottom:10px; padding-bottom:10px;}
#myUserSetting .innerPopWhite{ max-width:734px;}
.EmailLinks {display: block;overflow: hidden;text-overflow: ellipsis;width: 70%;}
#PreferredEmailList .innerPopWhite{ max-width:734px;}
#sendInvitation .innerPopWhite{ max-width:734px;}
.addTemplateBox.sendInvitLeft{ width:200px;}
.itemTempRight.sendInvitRight{ width:454px; padding-bottom:20px;}

}

@media(max-width:767px){
.homeBanner .owl-theme .owl-controls{display:none;}
.signmeupBtn{width:100%;}
.homeBanner .item{height: 215px;}
.signupForm{position:relative;}
.trail{width:100%;padding:0; height:auto;}
.fillForms{width:100%;}
.terms{width:100%;}
.fillForms{padding: 10px 0;}
.ourServicesLeft{width:100%;}
.ourServicesRight{width:100%;}
.ourServicesLeft h1, .ourServicesLeft span{text-align:center; display:block;}
.ourServicesLeft p{text-align:center;}
.viewBtn{margin:15px auto;}
.teamBoxMain{margin: 10px auto;max-width: 280px;padding: 10px;width: 100%;}
.ComplianceBoxMain{margin: 10px auto;max-width: 280px;padding: 10px;width: 100%;}
.loginCon{padding: 20px;}
.loginBox .mainHeading strong{display:inline-block;}
.loginBox .mainHeading{text-align:center;}
.loginForm .inputComn{height:30px;}
.loginForm label{text-align:center;padding-bottom: 6px;}
.checkboxLeft{float: left;width: 48%;}
.checkboxRight{float: right;width: 48%;}
.loginBox input.css-checkbox1[type="checkbox"] + label.css-label1{padding-left:25px; font-size:10px;}
.forgotPass{color: #575757;font-size: 10px;padding-left: 0;text-transform: uppercase;}
.loginBtnPops{margin:15px auto;display:block;}
.freeTrial > span{font-size:15px;}
.freeTrial strong{font-size: 20px;}
.loginBox{height:383px;}
.freeTrial{padding:10px 0;}
.cstmchkBox{margin: 10px 0;}
.loginForm{margin-top:10px;}
.popUpsBtns{margin: 8px 0 0;}
.forgotPass{float:right;}
.accounts{display: block;margin: auto;padding-left: 0px;text-align: center;}
.ftrCon{display:none;}
.ftrCon.openslist{display: block;}
.footerBox > h1{border: 1px solid #494949;cursor: pointer;display: block;margin-bottom: 0;padding: 6px 10px;}
.ftrCon .fadeInUp{animation-name: none !important;}
.plus{color: #ffffff;display: block;font-size: 14px;position: absolute;right: 13px;top: 8px;}
.ftrCon{padding: 12px 15px 0;}
.wow {visibility: visible !important;}
.footerBox{width:100%;margin-bottom: 15px;}
.whyBannerCaption{left: 0;margin: auto;right: 0;text-align: center;top:37px;}
.faqBannerCaption{left: 0;margin: auto;right: 0;text-align: center;top:37px;}
.whyBannerCaption h1{font-size: 20px;line-height: 22px;}
.faqBannerCaption h1{font-size: 20px;line-height: 22px;}
.whyBanner{height: 120px;}
.faqBanner{height: 120px;}
.welLeft,.welRight{width: 100%;}
.welLeft p, .whyChosseus p{text-align: center;}
.welRight img{display: block;float: none;margin: auto;max-width: 270px;width: 100%;}
.touchLeft,.touchRight{width: 100%;}
.getinTouch .mainHeading{display: inline-block;margin-bottom: 0;text-align: center;margin: auto;display: block;}
.getinTouch .mainHeading strong{display: inline-block;padding-left: 5px;text-align: center;}
.touchLeft p{font-size: 14px;line-height: 22px;margin: 10px 0;text-align: center;}
.getinTouch, .locationMap{padding: 10px 0;}
.getinTouchForm .inputComn{background-color: #ffffff;border: 1px solid #cccccc;color: #5e5e5e;font-family: "open sans";font-size: 14px;height: 36px;margin-bottom: 20px;padding: 10px;}
.getinTouchForm textarea.inputComn{height: 100px;}
.submtBtn{margin: 0 auto 15px;}
.locationMap .mainHeading{display: block;margin: auto;text-align: center;}
.locationMap .mainHeading strong{display: inline-block;margin: auto;text-align: center;}
.mapViews iframe{height: 250px !important;}
.mapViews{height:250px;}
.teamPersonLeft{width: 100%;}
.teamPersonRight{width: 100%;}
.teamPersonLeft > h1,.teamPersonRight > h1{text-align:center;}
.teamPersonLeft > span{margin: auto;text-align: center;display: block;}
.socialNew{margin: 8px 0;text-align: center;}
.teamPersonRight > p{line-height: 21px;margin-bottom: 15px;text-align: center;}
.teamPersonRight > h1{font-size:22px;}
.relatedTeam .mainHeading strong{display: inline-block;padding-left: 5px;}
.relatedTeam .mainHeading{display: block;margin: auto;text-align: center;}
.relatedTeam .headPara{text-align: center !important;}
.relatedTeam .teamMain{margin-top: 0;}
.relatedTeam .teamBoxMain{margin: 10px;max-width: 280px;padding: 0;width: 100%;}
.relatedTeam .teamMain{text-align:center;}
.teamPersonLeft > img{display: block;margin: 0 auto 15px;}
.faqLeft{width: 100%;}
.faqRight{width: 100%;}
.faqMain{padding: 10px 0;}
.menuList li{padding: 1px 0;}
.faqBox{margin: 1% 1% 10px;}
#signuppopup .checkboxLeft{float: none;width: 100%; text-align:center;}
#signuppopup .loginBox{height: 375px;}
.newsLeft{width: 100%;}
.newsRight{width: 100%;}
.categoriesMain{margin: 0 0 20px;}
.tags{margin: 25px 0;}
.paddingbtm{padding-bottom: 40px;}
.logodash{ width:auto; max-width:270px; padding:0; float:none; margin:auto;}
.dashHeaderRight{ padding-top:0; float:none; text-align:center;}
.comBox{ text-align:right;}
.settingIcon{ margin-left:0;}
.colliersImage{ width:80px;}
.dashHeaderRight > div{ margin:0 5px;}
.dashCon{ padding:10px; margin:10px;}
.dashHeaderRight{ position:relative; margin-top:-14px; z-index:10; font-size:12px;}
.dashHeader{ height:auto; padding-bottom:15px;}
.myHelp{ margin:0;}
.wellBox {height: 45px;padding: 10px;}
.notifications{ right:5px; top:3px;}
.wellBox img{ width:24px;}
.myhelpbox { background-position: 57px center;height: 45px;padding: 13px 20px 10px 10px;}
.userName {height: 45px;margin-right:0px;padding: 13px 0;}
.dashMenuIcon{ top:13px;}
.dashMenyRight{ font-size:12px;}
.helpDropDown{ width:119px;}
.helpDropDown a{ font-size:12px; padding:10px;}
.dashMidCon{ padding:10px 0 0;}
.topFilter{ position:relative; padding-top:44px; margin-bottom:10px;}
.filterbox{ width:49%; float:none; position:absolute; left:0; top:0;}
.filterbox.fr{ left:auto; right:0;}
.srchBox{ width:100%; margin:0 0 10px 0;}
.calanderbox{ width:49%; float:left; margin:0;}
.filterForm .calanderbox:last-child{ float:right;}
.filterForm{ display: block;}
.filterbox.fullwidth {width: 100%;}
.showFilter{ display:block;}
.MobViewOnly{ display:block;}
.singleRow{ margin-top:10px;}
.leftFixed{ border-radius:10px 0 0 10px;}
.boxText{ display:none;}
.emailIcon{ width:22px; bottom:4px; right:5px;}
.leftFixed{ width:34px; padding:0;}
.innerBoxRow{ padding:0 35px;}
.mobNewUpload{ display:block;}
.newUpload{ display:none;}
.mobPop{ display:none;}
.rightFixed{ width:34px; padding:0;}
.editIcon{ width:22px; left:6px; bottom:5px;}
.middetBox{ width:210px;}
.midsmBox{ padding-right:2px;}
.mCS-light-3.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-dark-3.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-light-3.mCSB_scrollTools_horizontal .mCSB_draggerRail, .mCS-dark-3.mCSB_scrollTools_horizontal .mCSB_draggerRail{ height:5px;}
.mCSB_scrollTools.mCSB_scrollTools_horizontal {  bottom: 5px;  height: 5px;}
.infoIcon{ display:block; position:absolute; width:22px; left:0; right:0; margin:auto; top:6px; cursor:pointer;}
.footerPager a{ font-size:12px; padding:7px 12px;}
.addmore a{ padding:7px 12px;}
.pager a:nth-child(1) , .pager a:nth-child(7) , .pager a:last-child{ display:none;}
.totalSites{ width:100%; padding:9px 0;}
.copyRightBox img{ display:block; margin:0px auto 0 auto;}
.complaintSite{ width:100%; padding:4px 0 8px;}
.footerCon{ margin-bottom:0;}
.mobPop {background: #ed7d31 none repeat scroll 0 0;border-radius: 10px;box-shadow: 0 0 5px #ae3e00;display: block;padding: 10px;position: absolute;right: 34px;top: -29px;
width: 140px; display:none;}
.mobPop::after {border-bottom: 10px solid transparent;border-left: 10px solid #ed7d31 ;border-top: 10px solid transparent;content: "";height: 0;position: absolute;right: -8px;
top: 34px;}
.greenHeader .mobPop{ background:#00b050;}
.greenHeader .mobPop::after{border-left: 10px solid #00b050;}
.redHeader .mobPop{ background:#ff0000;}
.redHeader .mobPop::after{border-left: 10px solid #ff0000;}
.showFilter img{transform: rotate(180deg); -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); display:inline-block; vertical-align:middle;}
.showFilter.open img{transform: rotate(0); -ms-transform: rotate(0); -webkit-transform: rotate(0);}
.seemoreSlider{ max-width:260px;}
.middetBoxPop .scrollbarCustom{ height:216px;}
.seeMorePop .owl-prev{left:-30px; }
.seeMorePop .owl-next{ right:-30px; }
.center .middetBox.middetBoxPop{ margin-top:0;}
.seeMorePop .owl-carousel .owl-stage-outer{ padding-top:0;}
.seeMorePop{ height:336px;}
.middetBox.middetBoxPop{ height:330px;}
.innerPopWhite{ padding:10px;}
.popbox{ padding:10px;}
#addSitePop  .innerPopWhite{ max-width:308px; margin:20px auto;}
.manualyaddbox{ width:100%; padding-right:0; float:none;}
.siteTabbox{ width:100%; float:none; margin:20px auto;}
.siteBox.fl{ margin-top:20px;}
.siteBox{ width:100%; padding:0; float:none; }
.popDetailRow{ padding-right:0;}
.siteLabel{ height:auto; font-size:13px; display:block; padding-bottom:0;}
.addnewSiteBtn{ margin:auto; display:block; position:relative; bottom:0; margin-top:20px;}
#editSitePop .innerPopWhite{ max-width:308px;}
.leftEdit .siteBox{ width:100%; padding-right:0; margin-top:0; float:none;}
.leftEdit .siteBox + .siteBox{ float:none; margin-top:20px; clear:both;}
.rightEdit{ padding:10px;}
.edit1.fl{ width:100%; padding-right:0;}
.edit2{ width:100%; margin:20px auto;}
.saveBtn{ padding:6px 0; width:100px; font-size:14px;}
.edit1.fr{ width:100%; padding-right:0;}
.siteBox.siteScrollDiv{ width:248px; padding-right:0px;}
.middetBoxPop .scrollbarCustom{ overflow:auto;}
#documentPop .innerPopWhite{ max-width:308px; margin:20px auto;}
.popHeader{ position:relative; padding-right:30px;}
.closePop{ position:absolute; right:0px; top:0px;}
.documentBox.fl{ width:100%;}
.documentBox.fr{ width:100%; margin-top:25px;}
.documentRow{ margin-top:15px;}
.smalltxt{ width:84%;}
.textAreaBox{ margin-top:0;}
.docuemntBtn{ margin-right:0; padding:6px 8px;}
.saveBtnGrp.rightGrp{ position:relative; padding:0; margin:0;}
.monMenu{ width:20px; height:20px; display:block; cursor:pointer; position:absolute; right:8px; bottom:36px; background:url(/assets/plusmenu.png) no-repeat center center; cursor:pointer;}
.mobMenuBg{  background:rgba(255,255,255,.8); position:fixed; left:0; right:0; top:0; bottom:0; z-index:600;}
.mobMenuCon1{ width:280px; overflow: auto; background:#0070c0 ; padding:10px; border-radius:10px; position:absolute; left:0; right:0; top:0; bottom:0; height:200px; margin:auto;}
.mobMenuCon1 a {border-bottom: 1px solid #0b7bcb ;color: #fff;display: block;font-size: 16px;font-weight: 600;padding: 11px 0;text-align: center;}
.mobMenuCon1 a:last-child{ border-bottom:0;}
.filterForm form div:nth-last-child(2) {float: right;}
.mobMenuCon1 a.active{ color:#00a652;}
.documentBox.documentBox2.fl{ width:100%;}
.documentBox.documentBox2.fr{ width:100%;}
.leftDoc{ width:100%;}
.leftDoc.fr{ margin-top:20px;}
.width80{ width:100%;}
#itemTemplatePop .innerPopWhite{ max-width:308px; margin:30px auto;}
.addTemplateBox{ width:100%;}
.itemTempRight{ padding-left:0; width:100%;}
.siteBox.itemTemBox2{ width:268px; padding-right:10px;}
#myReport .innerPopWhite{ max-width:308px; margin:30px auto;}
#uploadFile .innerPopWhite{ max-width:308px; margin:30px auto;}
.seeMoreDocumentPop .innerPopWhite{ max-width:308px; margin:30px auto;}
.reportBox{ width:100%; margin-right:0;}
.saveBtn.saveBtnRelative{ margin:20px 0 0; width:100%;}
#myUserSetting .innerPopWhite{ max-width:308px;}
.settingBox{ width:100%; margin-right:0; margin-bottom:15px; margin-top:0;}
.mobHide{ display:none !important;}
#myUserSetting .innerPopWhite{ margin:30px auto;}
.settingBox.fr{ margin-bottom:0;}
#PreferredEmailList .innerPopWhite{ max-width:308px;}
.emailBox{ width:100%; margin-right:0%;}
.emailBox.fr{ margin-right:0; margin-bottom:20px;}
#sendInvitation .innerPopWhite{ max-width:308px; margin:30px auto;}
.addTemplateBox.sendInvitLeft{ width:100%;}
.itemTempRight.sendInvitRight{ width:100%; padding-bottom:20px; margin-top:30px;}
.smallPara{ margin-top:20px;}
.btnGrpRight.sendInvtBtn a {display: block;float: none;margin-top: 11px !important;padding: 10px 0;width: 100%;}
#temEdit .innerPopWhite{ max-width:308px; margin:30px auto;}
.leftEditBox{ width:100%; float:none;}
.rightEditBox{ width:100%; padding:0; float:none; margin-bottom:20px;}
.editSaveBtn{ position:relative; right:0; margin:20px auto 0 auto; float:none; clear:both;}
.rightEditBox .editBtnGp {display: inline-block; padding: 5px 0;width: 86px;}
.tempEditHd{ margin-bottom:10px;}
.tempEditHd{ margin-bottom:5px;}
.yourUpload{ margin:10px 0;}
.userImg{ margin:10px 0;}
.use{ margin-bottom:50px;}
.editBox{ padding:10px; font-size:14px;}
.rightEditBox .tempEditHd{ margin-bottom:5px;}
.contaractorRow  .innerBoxRow{ padding:0;}
.contractorLeft {border-radius: 10px 10px 0 0;position: relative;width: 100%;height: auto;padding: 10px 0;}
.contractorRight {border-radius: 0 0 10px 10px;position: relative;width: 100%;height: auto;padding: 10px 0; font-size:15px;}
.contractorRight p.pluralize_files_received_main{ margin-bottom:0;display:none;}
.contractorRight p.pluralize_files_received{ margin-bottom:0;display:block;}
.contractorRight span.file_received{ display:none;}
.contaractorRow  .mCSB_horizontal.mCSB_inside > .mCSB_container{ margin-bottom:0;}
.contaractorRow .mCSB_scrollTools.mCSB_scrollTools_horizontal{ bottom:0;}
.contractrBox{ height:130px; width:139px;}
.uploadFile{ padding:13px 0;}
.formBox:nth-child(3){ float:right;}
.formBox.goBtn{ width:100%; margin:10px 0 0 ;}
.formBox.goBtn input{ width:100%;}
.notificationBox{ width:220px;}
.notiHeader{ padding:5px 15px;}
.seemore{ padding:5px 0; font-size:14px;}
.editbox.editbox2{ width: 256px; }
.siteBox.siteScrollDiv{padding-right: 10px;}
}

@media(max-width:639px){
.servicesBox{width:100%;}
.marginSpace{margin-bottom:0;}
.servicesBox{margin-bottom:25px;}
.mainHeading strong{display: block;padding-left: 0;text-align: center;}
.servicesBox img{display: block;margin: auto;width: 39px;}
.servicesBox img{right: 0;}
.servicesCon{padding-left: 0;padding-top: 50px;text-align: center;}
.servicesCon > p{max-width:100%;}
.teamMain, .ComplianceMain, .testmonial{margin-top:0;}
.LeftArrow{left:20%;}
.RightArrow{right:20%;}
.copyLeftBox{text-align: center;width: 100%;}
.copyRightBox{text-align: center;width: 100%;}
.copyRightBox > p{text-align:center;}
.logo{top:29px;}
.logo img{max-width:180px;}
.formRow .inputComn{font-size: 11px;}
.chosseBox{text-align:center;}
.whyChosseus p{border-bottom: 1px solid #dddddd;margin-bottom: 25px;margin-top: 0;padding: 0 0 20px;}
.chosseBox{width:100%;}
.welcome .mainHeading{font-size: 20px;margin: 0 auto 15px;text-align: center;}
.welcome .mainHeading strong{display: inline-block;padding-left: 5px;}
.whyChosseus .mainHeading{font-size: 20px;margin: 0 auto 15px;text-align: center;}
.whyChosseus .mainHeading strong{display: inline-block;padding-left: 5px;}
.faqBox{width: 100%;}
.faqRight{margin-top: 20px;}
.tittleCon{padding-left: 85px;}
.date{position:relative;top: 0;}
.date > h1{background-color: #ffffff;border-top: 0 none;float: left;font-size: 17px;height: 52px;padding: 5px 0;text-align: center;width: 75px;}
.message{background-color: #0070c0;float: left;height: 52px;padding: 17px;width: 75px;}
.tittleCon{padding-left: 0;}
.tittleCon > h1{font-size: 16px;text-align: center;}
.tittleCon > span,.tittleCon > p{text-align:center;}
.rdMore{margin: 15px auto;}
.listLeft,.listRight{width: 100%;}
.replyImg{position:relative;}
.discussionBox{ padding-left:0;}
.discussionBox img{display: block;margin: 10px auto;vertical-align: middle;}
.discussionBox strong,.discussionBox span,.discussionBox p,.discussionBox a,.joinDiscussion > h1,.joinDiscussion > span,.teamDetailsForm > h1{text-align:center;}
.discussionBoxSpace{margin-left: 0;}
.discussionBox{margin-top:15px;padding-bottom: 15px;}
}

@media(max-width:359px){
#signuppopup .loginBox{height: 394px;}
}

