/* CSS Document */
/**Fonts**/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,800,700);

@font-face{
	font-family:'Glyphicons Halflings';
	src:url(/assets/fonts/glyphicons-halflings-regular.eot);
	src:url(/assets/fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),
	url(/assets/fonts/glyphicons-halflings-regular.woff2) format('woff2'),
	url(/assets/fonts/glyphicons-halflings-regular.woff) format('woff'),
	url(/assets/fonts/glyphicons-halflings-regular.ttf) format('truetype'),
	url(/assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}

*{margin:0; padding:0; outline:0;box-sizing:border-box;-ms-box-sizing: -webkit-border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;}
a,input,select,button{transition:all 0.4s ease; -ms-transition:all 0.4s ease; -webkit-transition:all 0.4s ease; -o-transition:all 0.4s ease; -moz-transition:all 0.4s ease;  font-family: 'Open Sans';}
a,img{border:0;outline:0;}
a{text-decoration:none;}
ul{list-style:none;}
img{max-width: 100%;}
html,body{width:100%; height:100%; color:#575757; font-weight:400;}
body{font-size:14px; line-height:normal; font-family: 'Open Sans';background-color:#ffffff;}
.clearfix:before, .clearfix:after {content:''; display:block; height:0; overflow:hidden; clear:both;}
.clearfix{clear:both !important;}
.container{max-width:1190px; margin:0 auto; clear:both; padding:0 10px;}
.mainCon{width:100%; overflow:hidden;}
.transition{transition:all 0.4s ease; -ms-transition:all 0.4s ease; -webkit-transition:all 0.4s ease; -o-transition:all 0.4s ease; -moz-transition:all 0.4s ease;}
.fl{float:left;}
.fr{float:right;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
.marginSpace{margin-bottom: 50px;}

/**header**/
header{position:absolute; left:0; top:0; background-color:#fff; height:80px; z-index:120; width:100%;}
header .container{position:relative;}
/**Logo**/
.logo img{display: block;margin: auto;width: 100%;}
.logo{left: 0;position: absolute;top: 19px;}
/**MenuBar**/
.comBox a{ color:#38393c;}
.menuBar{margin-right:100px;}
.menuBar ul{display:block;margin-top: 32px;}
.menuBar ul li{display:inline-block; padding:0 13px;}
.menuBar ul li a{border-bottom: 5px solid transparent;color: #929292;font-size: 14px;padding: 24px 0;text-transform: uppercase;}
.menuBar ul li.active a,.menuBar ul li a:hover{border-bottom: 5px solid #4c9bd3; color:#4c9bd3;}
.loginBtn{background-color: #0070c0;border-radius: 100px;color: #ffffff;display: block;font-size: 14px;height: 28px;padding: 4px 0;position: absolute;right: 0;text-align: center;text-transform: uppercase;width: 83px;top:25px;}
.loginBtn:hover{background-color:#00b050;}
.settingIcon{ position:relative;}
.settingIcon img{ cursor:pointer;}
.settingBox.helpDropDown {border-radius: 0;left: -70px;padding: 0;text-align: center;top: 37px;width: 170px; display:none;}
.filterbox:last-child .sortOptions{ left:auto; right:0;}
.settingBox.helpDropDown a{ padding:10px 0;}
.settingBox.helpDropDown:after{ border-left:10px solid transparent; border-right:10px solid transparent; border-bottom:10px solid #0859a9 ; position:absolute; content:""; left:0; right:0; width:0; margin:auto; top:-9px;}
/**Banner**/
.homeBanner .item{ background:url('/assets/banner.jpg') no-repeat center center; width:100%; height:746px; background-size:cover;}
.sliderCaption{left: 67px;position: absolute;top: 151px;}
.sliderCaption h2{color: #ffffff;font-size: 36px;font-weight: 800;line-height: 40px;text-transform: uppercase; text-shadow: 2px 2px #404040;}
.sliderCaption p{color: #000000;font-size: 16px;line-height: 25px;max-width: 565px;padding: 20px 0;}
.moreBtn{background-color: #0070c0;border-radius: 100px;color: #ffffff;display: block;font-size: 16px;height: 44px;padding: 11px 0;text-align: center;text-transform: uppercase;width: 170px;}
.moreBtn:hover{background-color:#00b050;}
.homeBanner{padding-top: 80px; position:relative;}
.homeBanner .container{position:relative;}
.homeBanner .owl-nav{display:none;}
.homeBanner .owl-dots{bottom: 180px;left: 0;position: absolute;right: 0;}
.homeBanner .owl-theme .owl-controls{margin-top:0;}
.homeBanner .owl-theme .owl-dots .owl-dot.active span, .homeBanner .owl-theme .owl-dots .owl-dot:hover span{background: #006bbe none repeat scroll 0 0;}
.homeBanner .owl-theme .owl-dots .owl-dot span{margin:3px;}
/**signupMain**/
.signupForm{bottom: 0;left: 0;margin: auto;max-width: 1040px;position: absolute;right: 0;z-index: 100;}
.signupMain{height:100px;}
.trail{width:175px; background-color:#00b050;height:100px;float:left; padding:20px;}
.fillForms{width:690px; background-color:#0070c0;height:100px;float:left;}
.terms{width:175px;background-color:#00b050;height:100px;float:left; padding:10px;}
.signmeupBtn{background-color: #38393c;border: 0 none;color: #ffffff;font-size: 15px;height: 38px;text-align: left;width: 245px; cursor:pointer; padding:9px 20px;font-family: "open sans";}
.signmeupBtn:hover{background-color:#000;}
.signmeupBtn > img{display: block;float: right;vertical-align: middle;width: 15px;margin-top: 5px;}
.trail h2{color: #ffffff;font-size: 19px;line-height: 30px;text-align: center;}
.termsBtn{color: #d0ecf3;font-size: 11px;}
.terms > span{color: #d0ecf3;display: block;font-size: 11px;text-align: center;line-height: 19px; text-align:left;}
.termsBtn{display: inline-block;font-size: 11px;padding: 5px 0;text-align:Left;line-height: 19px; text-decoration:underline;}
.terms input{display: inline-block;float: right;margin-top: 8px;}
.termsCon{margin: auto;width: 152px;}
.goBtn{background-color: rgba(0, 0, 0, 0);border: 0 none;color: #ffffff;display: block;font-size: 28px;margin: auto;text-align: center;cursor: pointer;}
.formRow{width:32%; display:inline-block;}
.inputComn{-moz-border-bottom-colors: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;background-color: rgba(0, 0, 0, 0);border-color: -moz-use-text-color -moz-use-text-color #348bcd;border-image: none;border-style: none none solid;border-width: 0 0 1px;color: #9dc3e6;height: 30px;margin-bottom: 15px;padding: 5px;width: 100%;}
.formRow .inputComn{color: #ffffff;font-family:'open sans';font-size: 12px;font-weight: 600;max-width: 203px;}
.fillForms{padding:10px 0px;text-align: center;}
/**ourServices**/
.ourServices{padding:50px 0;overflow:hidden;}
.ourServicesLeft{width:32%;padding: 0 10px;}
.ourServicesRight{width:68%;padding: 0 10px;}
.ourServicesLeft h1{color: #38393c;font-weight: 600;text-transform: uppercase;font-size: 29px;}
.ourServicesLeft span{color: #38393c;font-size: 29px;text-transform: uppercase;font-size: 29px;}
.ourServicesLeft p{color: #575757;font-size: 15px;line-height: 24px;padding:30px 0;}
.viewBtn{background-color: #00b050;color: #ffffff;display: block;font-size: 18px;font-weight: 600;height: 60px;padding: 20px;text-align: center;text-transform: uppercase;width: 250px;}
.viewBtn:hover{background-color:#38393c;}
.signmeupBtn.open > img{transform: rotate(180deg);}
.servicesCon{display: inline-block;padding-left:55px;}
.servicesBox img{left: 0;position: absolute;top: 0;}
.servicesCon > h1{color: #38393c;font-size: 22px;font-weight: 600;text-transform: capitalize;margin-bottom: 10px;}
.servicesCon > p{color: #575757;font-size: 15px;line-height: 27px; max-width:290px;}
.servicesBox{display: inline-block;width: 49%; position:relative; vertical-align:top;padding:0 10px;}
.mainHeading{color: #38393c;font-size: 29px;text-align: center;text-transform: uppercase;}
.mainHeading strong{padding-left: 8px;}
/**ourTeam**/
.ourTeam{padding:50px 0; background-color:#f0f5f7; overflow:hidden;}
.headPara{color: #575757;font-size: 14px;margin: auto;max-width: 1000px;padding: 10px 0;text-align: center;}
.teamBox{background-color: #ffffff;}
.teamBoxMain:nth-child(4n){margin-right: 0 !important;}
.teamBox > img{display: block;margin: auto;width: 100%;}
.teamCon{padding: 20px;}
.teamCon > a{color: #3a3c41;font-size: 17px;font-weight: 600;text-align: center; display:block;}
.borderImg{height:1px;}
.plusSign{bottom: 0;left: 0;margin: auto;position: absolute;right: 0;top: 0;}
.borderImg{background-color: #dcdee4;height: 1px;margin: 15px 0;position: relative;}
.teamCon > p{color: #575757;font-size: 14px;line-height: 23px;text-align: center;}
.teamMain{margin-top:30px; text-align:center;}
.teamCon > a:hover{color:#00b050;}
.teamBoxMain{display:inline-block;margin-right:3%!important;width: 22%;}
.readMoreBtn{background-color: #0070c0;color: #ffffff;display: block;font-size: 15px;height: 40px;margin: auto;padding: 10px;width: 120px;}
.readMoreBtn:hover{background-color:#00b050;}
/**myCompliance**/
.myCompliance{padding:50px 0; overflow:hidden;}
.ComplianceMain{margin-top:30px; text-align:center;}
.ComplianceBoxMain{display:inline-block;margin-right:3%;width: 30%;}
.ComplianceBox > img{display: block;margin: auto;width: 100%;}
.ComplianceBox{background-color:#f0f5f7;}
.ComplianceBoxMain:nth-child(3n){margin-right: 0 !important;}
.ComplianceCon{padding:30px;}
.ComplianceCon > a{color: #3a3c41;font-size: 20px;font-weight:600;text-align: center; display:block;}
.ComplianceCon > a:hover{color:#00b050;}
.ComplianceCon > p{color: #575757;font-size: 14px;line-height: 23px;text-align: center;}
.ComplianceCon > span{color: #575757;display: block;font-size: 14px;margin: 10px 0 0;font-style:italic;}
.name{color: #575757;font-weight: 800; font-style:italic;}
.name:hover{color:#00b050;}
/**clientSay**/
.clientSay{padding:50px 0;background-color:#f0f5f7; overflow:hidden;}
.testmonial{margin-top:50px;}
.clientCon > p{color: #575757;line-height: 26px;margin: auto;max-width: 750px;padding:30px 0;text-align: center;}
.clientCon > span{color: #3a3c41;display: block;font-size: 22px;font-weight: 600;margin: auto;text-align: center;}
.clientCon > text{color: #575757;display: block;font-size: 16px;margin: auto;text-align: center;}
.clientImg{display: block;margin: auto;max-width: 130px;width: 100%;}
.clientCon .borderImg{margin: 15px auto;max-width: 236px;}
.testmonial{position:relative;}
.testmonial .owl-controls{display:none;}
.LeftArrow{left: 40%;position: absolute;top: 60px;cursor:pointer;z-index:100;}
.RightArrow{right:40%;position: absolute;top:60px;cursor:pointer;z-index:100;}
/**Footer**/
footer{background-color: #3a3c41;padding:50px 0;overflow:hidden;}
.footerBox > h1{color: #ffffff;font-size: 16px;font-weight: 600;margin-bottom: 15px; position:relative;}
.ftrLsit{display:block;}
.ftrLsit li{display:block;padding: 5px 0;}
.ftrLsit a{color: #b6b6b6;display: block;font-size: 13px;line-height: 20px;}
.ftrLsit a:hover{color:#fff;}
.footerBox{float: left;width: 24%;padding: 0 10px;}
footer p{color: #b6b6b6;display: block;font-size: 13px;line-height: 22px;}
footer .inputComn{background-color: #ffffff;border: 0 none;border-radius: 100px;color: #a5a5a5;margin: 15px 0;padding: 0 15px;}
.subsBtn{background-color:#0070c0;border-radius: 100px;color: #ffffff;display: block;font-size: 12px;height: 30px;padding: 7px 0;text-align: center;text-transform: uppercase;width: 95px;}
.subsBtn:hover{background-color:#00b050;}
/**copyRight**/
.copyRight{padding:20px 0; border-top:1px solid #47484d; background-color:#3a3c41; overflow:hidden;}
.social li{display:inline-block;}
.social a{background: rgba(0, 0, 0, 0) url("/assets/social.png") no-repeat scroll center center;display: inline-block;height: 26px;margin: 0 5px 0 0;vertical-align: middle;width: 26px;}
.social a.facebook{background-position: 12px 3px;}
.social a.facebook:hover{background-position: 12px -26px;}
.social a.twitter{background-position: -20px 5px;}
.social a.twitter:hover{background-position: -20px -24px;}
.social a.linkedin{background-position: -49px 3px;}
.social a.linkedin:hover{background-position: -49px -25px;}
.social a.gmail{background-position: -85px 5px;}
.social a.gmail:hover{background-position: -80px -25px;}
.social{display:block;}
.copyLeftBox{width:49%;}
.copyRightBox{width:49%;}
.copyRightBox > p{color: #757575;font-size: 12px;text-align: right; margin-top:7px;}
/**LoginBox**/
.loginBox{bottom: 0;display: block;height: 544px;left: 0;margin: auto;max-width: 810px;position: absolute;right: 0;top: 0;width: 100%;z-index: 250; background-color:#fff;border: 2px solid #0070c0;}
.backBg{background-color:rgba(0,0,0,0.85);height: 100%;left: 0;position: fixed;right: 0;top: 0;width: 100%;z-index: 120;overflow:auto; display:none;}
.loginBox .mainHeading strong{padding-left:0;}
.loginBox .mainHeading{text-align:left;}
.loginForm label{color: #575757;display: block;font-size: 14px;padding-bottom: 15px;}
.loginForm .inputComn{border: 1px solid #cccccc;font-size: 14px;height: 50px;padding: 0 20px;color:#acacac;}
.loginForm{margin-top: 25px;}
.checkboxLeft{display:inline-block;text-transform:uppercase;}
.LoginCheckbox{font-size:13px; color:#575757;}
.checkboxRight{display: inline-block;}
.forgotPass{font-size:13px; color:#575757;text-transform:uppercase;padding-left: 15px;}

.loginBox input[type=checkbox].css-checkbox1 {position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;}
.loginBox input[type=checkbox].css-checkbox1 + label.css-label1 {padding-left:30px;height:20px; display:inline-block;line-height:18px; background-size:20px;	background-repeat:no-repeat;background-position: 0 0; vertical-align:middle;cursor:pointer;font-size: 13px;}
label.css-label1 {background-image:url(/assets/checkbox.png);	-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;	-moz-user-select: none;	-ms-user-select: none;user-select: none;}
.loginBox input[type=checkbox].css-checkbox1:checked + label.css-label1{background-position: 0 -20px;}
.cstmchkBox{margin:20px 0;}
.loginBtnPops{background-color:#00a652;border-radius: 100px;color: #ffffff;display:inline-block;font-size: 12px;font-weight: 600;height: 30px;padding: 7px 0;text-align: center;text-transform: uppercase;width: 84px;}
.loginBtnPops:hover{background-color:#0070c0;}
.accounts{color: #575757;font-size: 13px;padding-left: 15px;}
.signUpBtn{color: #00a652;font-size: 13px;text-decoration: underline;}
.signUpBtn:hover{color:#0070c0;}
.loginCon{padding:50px;}
.popUpsBtns{margin:30px 0 0 0;}
.freeTrial{background-color:#0070c0; padding:20px 0; text-align:center;}
.freeTrial > span{color: #ffffff;font-size: 22px;text-align: center;text-transform: uppercase;}
.freeTrial strong{font-size: 27px;}
.freeTrial a{color: #ffffff;text-decoration: underline;}
.freeTrial a:hover{text-decoration:none;}
.closebtn text{background-color: #0070c0;border-radius: 100px;color: #ffffff;display: block;font-size: 12px;font-weight: 600;height: 26px;line-height: 26px;text-align: center;width: 26px;}
.closebtn {position: absolute;right: -10px;top: -13px; cursor:pointer;}
.hiddens{overflow:hidden;}
.plus{display:none;}
.testmonial .owl-carousel .owl-item img{width:auto;}
/*******************************Why Us Page***************************/
.whyBanner{background: rgba(0, 0, 0, 0) url("/assets/whyusbanner.jpg") no-repeat scroll center center / cover ;height: 262px;margin-top: 80px;overflow:hidden;width: 100%;}
.whyBannerCaption h1{color: #006abd;font-size: 36px;font-weight: 800;line-height: 40px;text-shadow: 2px 2px #c2c2c2;text-transform: uppercase;}
.whyBanner .container{position:relative;}
.whyBannerCaption{left: 0;position: absolute;top:90px;}
.breadcrumbs li a{color: #000000;font-size: 21px;}
.breadcrumbs li{display: inline-block;padding: 0 10px 0 0;}
.breadcrumbs{padding: 20px 0;}
.breadcrumbs img{padding-left:5px;vertical-align: middle;}
.breadcrumbs li.active a{color:#0070c0; font-size:14px;}
/**welcome**/
.welcome{padding:50px 0;background-color:#f0f5f7;overflow:hidden;}
.welLeft{width:74%;}
.welRight{width:24%;}
.welRight img{display: block;float: right;width: 100%;}
.welcome .mainHeading{margin-bottom: 20px;text-align: left;}
.welLeft p{color: #575757;font-size: 14px;line-height: 27px;margin-bottom: 30px;}
/**whyChosseus**/
.whyChosseus{padding:50px 0;overflow:hidden;}
.whyChosseus  p{color: #575757;font-size: 14px;line-height: 27px;text-align: center;margin-top:30px;}
.chooseList{margin:25px 0;text-align: center;}
.chosseBox > img{display: block;margin: auto;}
.chosseBox{display: inline-block;padding: 1%;width: 24%;}
.chosseBox > span{display: block;font-size: 26px;margin: 10px auto;text-align: center;font-weight: 600;}
.chosseBox > p{color: #575757;font-size: 14px;line-height: 27px;margin-top: 0;text-align: center;}
/**contactbanner**/
.contactbanner{background: rgba(0, 0, 0, 0) url("/assets/contact-usBanner.jpg") no-repeat scroll center center / cover ;height: 262px;margin-top: 80px;overflow:hidden;width: 100%;}
.contactCaption h1{color: #ffffff;font-size: 36px;font-weight: 800;line-height: 40px;text-shadow: 2px 2px #00356b;text-transform: uppercase;}
/**Getin touch**/
.getinTouch{padding:50px 0;background-color:#f0f5f7;}
.getinTouch .mainHeading{margin-bottom:0;text-align: left;}
.touchLeft{width: 49%;}
.touchRight{width:48%;}
.touchLeft p{color: #575757;font-size: 14px;line-height: 27px; margin:30px 0}
.getinTouchForm .inputComn{background-color:#ffffff;border:1px solid #cccccc;color: #5e5e5e;font-size: 14px;height: 57px;padding: 20px;width: 100%;margin-bottom:40px; font-family:'open sans';}
.getinTouchForm textarea.inputComn{height:217px;resize:none;}
.submtBtn{background-color: #0070c0;border-radius: 100px;color: #ffffff;display: block;font-size: 12px;height: 32px;padding: 7px 0;text-align: center;text-transform:uppercase;width: 82px;}
.submtBtn:hover{ background-color:#00b050;}
.addressContactList li{display: block;padding: 8px 0;position: relative;}
.addressContactList li a{color: #38393c;display: block;font-size: 16px;line-height:25px; padding-left:25px;}
.addressContactList li a:hover{color:#00b050;}
.addressContactList img{vertical-align:middle;left:0;position: absolute;top:12px;}
.addressContactList{margin-top: 23px;}
/**locationMap**/
.locationMap{padding:50px 0;}
.locationMap .mainHeading{text-align:left;}
.mapViews{height:365px;margin-top:40px;}
.clr{color:#414141 !important;}
/**teamPerson**/
.teamPerson{background-color: #f0f5f7;overflow: hidden;padding: 50px 0;}
.teamPersonLeft > img{display: block;max-width: 372px;width: 100%;margin-bottom: 15px;}
.teamPersonLeft{width: 31%;}
.teamPersonRight{width:67%;}
.teamPersonLeft > h1{color: #38393c;font-size: 21px;margin: 5px 0;}
.teamPersonLeft > span{color: #0070c0;font-size: 15px;}
.socialNew a{background: rgba(0, 0, 0, 0) url("/assets/socialNew.png") no-repeat scroll center center;display: inline-block;height: 26px;margin: 0 5px 0 0;vertical-align: middle;width: 26px;}
.socialNew a.facebook{background-position: 0px 0px;}
.socialNew a.facebook:hover{background-position:0px -26px;}
.socialNew a.twitter{background-position: -26px 1px;}
.socialNew a.twitter:hover{background-position: -26px -26px;}
.socialNew a.linkedin{background-position: -52px 0px;}
.socialNew a.linkedin:hover{background-position: -52px -27px;}
.socialNew a.gmail{background-position: -79px 1px;}
.socialNew a.gmail:hover{background-position: -79px -26px;}
.socialNew li{display: inline-block;width:6%;}
.socialNew{margin-top:15px;}
.teamPersonRight > p{color: #575757;font-size: 14px;line-height: 27px;margin-bottom:15px;}
.teamPersonRight > h1{color: #38393c;font-size: 29px;font-weight: 600;text-transform: uppercase;margin-bottom: 3px;}
.relatedTeam{background-color:#fff;}
.relatedTeam .teamCon{background-color: #f0f5f7;padding: 20px;}
.relatedTeam .mainHeading{text-align: left;}
.relatedTeam .headPara{text-align: left !important; margin:0 !important;}
.relatedTeam .teamMain{margin-top: 30px;text-align: left;}
/**Faq**/
.faqBanner{background: rgba(0, 0, 0, 0) url("/assets/faqbanner.jpg") no-repeat scroll center center / cover ;height: 262px;margin-top: 80px;overflow:hidden;width: 100%;}
.faqBannerCaption h1{color: #4c4c4c;font-size: 36px;font-weight: 800;line-height: 40px;text-shadow: 2px 2px #a6a6a6;text-transform: uppercase;}
.faqBanner .container{position:relative;}
.faqBannerCaption{left: 0;position: absolute;top:90px;}
ul.menuList{width:200px; display:block;}
.menuList li{display:block;padding: 5px 0;}
.menuList li a{color: #575757;display: block;font-size: 14px;text-transform: uppercase;padding: 10px 0; padding:10px;border: 1px solid transparent;border-left:3px solid transparent;}
.faqMain{background-color: #f0f5f7;padding: 50px 0;}
.faqLeft{width:25%;}
.faqRight{width:75%;}
.menuList li a:hover{background-color: #ffffff;border: 1px solid #e4e4e4;border-left:3px solid #00a753;}
.menuList li.active a{background-color: #ffffff;border: 1px solid #e4e4e4;border-left:3px solid #00a753;}
.faqBox{float: left;padding-left:65px;position: relative;width: 31%;margin: 1% 1% 25px;}
.faqImg{display: block;margin: auto;}
.imgBox{background-color: #ffffff;border: 1px solid #e9eaeb;border-radius: 100%;height: 50px;left: 0;line-height: 50px;padding: 12px;position: absolute;text-align: center;top: 0;width: 50px; cursor:pointer;}
.faqBox > p{color: #38393c;font-size: 18px;line-height:32px;}
.faqBox > h1{color: #38393c;font-size: 18px;font-weight: 600;margin-bottom: 10px;text-transform: uppercase; line-height:27px;}
.faqBox > a{color: #38393c;display: block;font-size: 15px;margin: 15px 0;}
.arrowImg{padding-left:10px;}
.faqBox > a:hover{color:#006dbf;}
.imgBox .faqImg{-webkit-filter: grayscale(100%);filter: grayscale(100%);}
.imgBox:hover .faqImg{-webkit-filter: grayscale(0);filter: grayscale(0);}
/**SignUp Now**/
.SignUpNow{background-color: #f0f5f7;margin-top: 80px;}
#signuppopup .loginBox{height: 537px;}
/**News*/
.newsbanner{background: rgba(0, 0, 0, 0) url("/assets/newsBanner.jpg") no-repeat scroll center center / cover ;height: 262px;margin-top: 80px;overflow:hidden;width: 100%;}
.News{padding:50px 0; background-color:#f0f5f7;}
.newsLeft{width:69%;}
.newsRight{width:29%;}
.date > h1{background-color:#ffffff;border-top: 2px solid #0070c0;font-size: 17px;padding: 10px 20px;text-align: center;}
.message{background-color: #0070c0;padding: 17px 20px;text-align: center;}
.message > b{color: #ffffff;padding: 0 0 0 5px;vertical-align: middle;}
.message > img{vertical-align: middle;}
.tittleBox{position:relative;}
.date{position:absolute; left:0; top:0;}
.tittleCon{padding-left: 130px;}
.tittleCon > h1{color: #38393c;font-size: 30px;font-weight: 600;margin: 15px 0;}
.tittleCon > span{color: #575757;display: block;font-size: 15px;margin-bottom: 15px;}
.tittleCon span a{color: #575757;font-size: 15px;font-weight: 600;}
.tittleCon > p{color: #575757;font-size: 14px;line-height: 27px;}
.rdMore{background-color: #00a653;color: #ffffff;display: block;font-size: 14px;height: 40px;margin: 20px 0 0;padding:12px 18px;text-decoration: none;text-transform:uppercase;width: 120px;}
.rdMore:hover{background-color:#0070c0;}
.tittleCon{margin-bottom: 40px;padding-left: 130px;}
.search{position:relative;}
.search .inputComn{background-color: #ffffff;border: 1px solid #bfbfbf;border-radius: 100px;color: #5e5e5e;font-family: "open sans";font-size: 12px;margin:0;padding: 0 15px; height:34px;}
.searchImgs{position: absolute;right: 15px;top: 7px;}
/**tabs**/
.TabMain{padding:30px 0;}
.tabList{text-align:center;}
.tabs li{float:left;width: 50%;}
.tabList li a{border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #dcdee4;border-style:solid;border-width: 3px 1px 1px;color: #38393c;display: block;font-size: 17px;padding: 15px 10px;}
.tabList li a.active{border-top:3px solid #0070c0;border-bottom:1px solid transparent;background-color:#fff;border-left:1px solid #dcdee4;border-right:1px solid #dcdee4;}
.tabList li a:hover{border-top:3px solid #0070c0;border-bottom:1px solid transparent;background-color:#fff;border-left:1px solid #dcdee4;border-right:1px solid #dcdee4;}
.tabBox{background-color:#ffffff; padding:20px 20px 0; position:relative;}
.tabBox > img{position: absolute;left: 20px;top: 20px;}
.tabCon{padding-left: 100px;}
.tabCon > a{color: #38393c;display: block;font-size: 17px;line-height: 27px; font-weight:600;}
.tabCon > a:hover{color:#0070c0;}
.tabCon > span{color: #575757;display: block;font-size: 14px;margin: 3px 0;}
.paddingbtm{padding-bottom:20px;}
/**categoriesMain**/
.categoriesMain{background-color: #ffffff;margin: 20px 0; padding:20px;}
.categoriesMain > h1{color: #121212;font-size: 15px;font-weight: 600;text-align: left;text-transform: uppercase;}
.categoriesMain li{display: block;}
.categoriesMain li a{border-bottom: 1px solid #d6d6d6;color: #414141;display: block;font-size: 14px;padding: 10px 0;}
.categoriesMain li a:hover{color:#0070c0;}
.categoriesMain > ul{margin: 15px 0;}
.bordrNone{border-bottom:none !important;}
.tags a{background-color: #a0a0a0;color: #ffffff;display: inline-block;font-size: 14px;margin-bottom: 7px;margin-right: 5px;padding: 14px 19px;}
.tagsHead{margin-bottom:15px;}
.tags a:hover{background-color:#0070c0;}
.tags{margin: 50px 0;}
.topSpace{margin-top:25px;}
.NewsList{display:block;}
.NewsList > li{display: block;background: url('/assets/greenArrow.png') no-repeat 0% center;padding-left: 20px;}
.NewsList li a{display: block;font-size: 14px;padding: 5px 0;color: #414141;}
.ListView{border-bottom: 1px solid #cccccc;padding:35px 0;}
.joinDiscussion > h1{color:#414141;display:block;font-size:13px;margin:5px 0;}
.joinDiscussion > span{color: #121212;display: block;font-size: 17px;font-weight: 600;}
.replyImg{position:absolute;left:0;top:0}
.discussionBox strong{display: block;font-size: 15px;margin:5px 0;}
.discussionBox span{color:#414141;display: block;font-size:12px;margin-bottom:15px;}
.discussionBox p{color:#575757;font-size:14px;line-height: 27px;}
.discussionBox a{color:#0070c0;display:block;font-size:14px;font-weight:600;margin:10px 0;}
.discussionBox img{vertical-align: middle;}
.joinDiscussion{margin: 25px 0;}
.discussionBox{border-bottom:1px solid #cccccc;margin-right:0;margin-top:30px;padding-bottom:30px;padding-left:95px;position:relative;}
.discussionBoxSpace{margin-left:60px;}
.borderNone{border-bottom:none;}
.teamDetailsForm .submtBtn{width:170px;}
.teamDetailsForm > h1{color: #121212;font-size: 17px;margin-bottom:25px;}
.listLeft{width:49%;}
.listRight{width:49%;}
.midContainer{min-height:400px;}

/*Dashboard css*/
.dashCon{ width:auto; margin:0 35px; padding:0 35px; background:#fff; }
.dashHeader{ height:120px;}
.logodash{ padding-top:17px;}
.dashHeaderRight{ padding-top:22px; text-align:right;}
.dashHeaderRight  > div{ display:inline-block; vertical-align:middle; margin-left:10px; color:#38393c; font-size:12px;}
.complenceDue span{ width:22px; height:22px; color:#fff; text-align:center; line-height:20px; display:inline-block; vertical-align:middle; background:#ff0000; margin-left:5px;}
.notComplent span{ width:22px; height:22px; color:#fff; text-align:center; line-height:20px; display:inline-block; vertical-align:middle; background:#ed7d31; margin-left:5px;}
.colliersImage{ line-height:0;}
.dashMenu {background: #0070c0 none repeat scroll 0 0;}
.dashnavBox {display: table;height:44px;width: 100%;}
.dashnavBox li{ display:table-cell;}
.dashNav{ width:60%; overflow:auto; padding-bottom:0px;}
.dashnavBox li a{ display:block; color:#fff; font-size:14px; font-weight:600; padding:12px 25px 12px; width:auto; text-align:center; position:relative;}
.dashnavBox li a.active{ background:#00a652;}
/*.dashnavBox li a.active:after{ opacity:1; background:#0070c0;}*/
/*.dashnavBox li a:after{ height:8px; width:100%; background:#00a652; position:absolute; left:0; bottom:0; content:""; opacity:0; transition:all 0.4s ease; -ms-transition:all 0.4s ease; -webkit-transition:all 0.4s ease; -o-transition:all 0.4s ease; -moz-transition:all 0.4s ease;}*/
/*.dashnavBox li a:hover:after{ opacity:1;}*/
.dashMidCon{ min-height:600px;}
.dashFooter{}
.dashMenyRight {color: #fff;font-weight: 600;text-align: right;}
.dashMenyRight  > div{ display:inline-block; vertical-align:middle; position:relative;}
.notComplent{ margin-bottom:2px;}
.myhelpbox{ display:block; padding:15px 30px 15px 20px; background:url(/assets/whitecaret.png) no-repeat 80px center; cursor:pointer; height:50px; }
.green{color:#00a652;}
.userName{ padding:15px 0; margin-right:20px; height:50px;}
.myHelp{ position:relative; margin:0 10px;}
.wellBox{ height:50px; padding:10px 15px; display:block; text-align:center; position:relative;  cursor:pointer;}
.notifications{ width:19px; height:19px; background:#ff0000; color:#fff; text-align:center; line-height:16px; position:absolute; right:11px; top:6px; border:1px solid #992d4d; border-radius:5px; font-size:11px;}
.notificationBox{ width:300px; position:absolute; background:#f5f5f5; right:0; top:100%; z-index:200; text-align:left;}
.notiHeader{ background:#0859a9; padding:10px 15px; font-size:16px; font-weight:normal; border:1px solid #0859a9; }
.notiDetails{ padding:10px; border:1px solid #0859a9; color:#333;}
.notifRow{ position:relative; min-height:60px; /*padding-left:60px;*/ padding-right:20px; border-bottom:1px solid #ddd; padding-bottom:10px; margin-bottom:10px;}
.notifRow:last-child{ margin-bottom:0; padding-bottom:0; border:0;}
.seemore{ text-align:center; padding:10px 0; background:#2879c9; font-size:16px; display:block; border:1px solid #2879c9; color:#fff; margin-top:-1px;}
.closeIcon{ position:absolute; font-size:14px; top:5px; right:0; cursor:pointer;}
.notiHd{ color:#0859a9; display:block; font-size:13px; margin-bottom:0px;}
.notiHd:hover{ text-decoration:underline;}
.notifRow p{ font-size:12px;}
.wellBox.dropmenu.active{background-color:#0859a9;}
.notiImage{ height:50px; width:auto; position:absolute; left:0; top:5px; width:50px; }
.myhelpbox.active{ background-color:#0859a9;}
.helpDropDown{ width:150px; background:#0859a9; position:absolute; right:0; top:100%; padding:0; text-align:right; z-index:30;}
.helpDropDown a{ display:block; color:#fff; font-size:14px; padding:13px 17px;}
.helpDropDown a:hover{ background:#0070C0;}
.settingIcon{ display:inline-block; vertical-align:middle; margin-left:10px;}
.dashMidCon{ padding:20px 0;}
.filterbox{ width:130px; cursor:pointer; background:#f2f2f2; font-size:13px; position:relative; text-align:left;}
.sortOptions{ position:absolute; left:0; top:100%; z-index:50; width:160px; background:#f2f2f2; text-align:left;}
.filterClick{ width:100%; display:block; height:34px;  font-weight:600; text-transform:uppercase; color:#0070c0;  padding:8px 10px;}
.filterClick img{ display:inline-block; vertical-align:middle; margin-left:3px; float:right; margin-top:6px; }
.sortOptions a{ display:block; text-align:left; font-weight:600; color:#0070c0; padding:8px 10px; text-transform:capitalize;}
.sortOptions a:hover{ background:#f5f5f5;}
.dropDown{ display:none;}
.topFilter{ text-align:center;}
.filterForm{ display:inline-block; vertical-align:middle;}
.formInput{ font-size:15px; color:#818181; padding:0 10px; height:34px; border-radius:2px; width:100%; border:1px solid #ddd; }
.formInput:focus{ border-color:#0070c0; color:#0070c0;}
.formBox{ display:inline-block; vertical-align:middle; margin:0 5px;}
.calanderbox{ width:130px;}
.calanderbox input{ background:url(/assets/calicon.png) no-repeat right 5px center;}
.srchBox{ width:440px;}
.formGo{ display:block; border:1px solid #0070c0 ; background:none; font-weight:bold; width:40px; height:34px; background:#0070c0; border-radius:2px; color:#fff; cursor:pointer;}
.statusBx{ float:right; margin-top:4px;}
.multiRows{ min-height:90vh;}
.redb{ background:#ff0000;}
.yelb{ background:#ed7d31;}
.greenb{ background:#00b050;}
.statusBx i{ width:12px; height:12px; float:left; margin-left:1px;}
.singleRow{ position:relative; min-height:113x; padding:0px; margin-top:20px;}
.innerBoxRow{ padding:0 172px; position:relative; min-height:113px;}
.MobViewOnly {background: #0070c0 none repeat scroll 0 0;border-radius:0px;color: #fff;display: block;font-size: 13px;font-weight: 600;padding:8px 0;text-align: center;
width: 100%;margin-bottom: 10px; display:none;}
.leftFixed{ width:164px; height:113px; position:absolute; left:0; top:0; background:#0070c0; border-radius:15px 0 0 15px; padding:30px 40px 30px 10px;  color:#fff; font-size:12px; font-weight:700; text-align:center;}
.newUpload{ position:absolute; right:0; top:0; z-index:15;}
.emailIcon{ width:30px; height:20px; display:block; cursor:pointer; position:absolute; right:8px; bottom:6px;}
.emailIcon:hover{ opacity:.6;}



.rightFixed{width:164px; height:113px; position:absolute; right:0; top:0; border-radius:0px 15px 15px 0px; padding:20px 10px 15px 30px;  color:#fff; font-size:12px; font-weight:700; text-align:center;}
.yellowbg{ background:#ed7d31;}
.editIcon{ width:24px; height:20px; display:block; cursor:pointer; position:absolute; left:10px; bottom:6px;}
.editIcon:hover{ opacity:.6;}
.annualCom{ display:block; font-size:10px; font-weight:300; margin-top:10px;}
.midsmBox{ padding-right:8px;}
.midsmBox:last-child{ padding-right:0;}
.middetBox{ width:165px; height:113px; background:#efeef3; position:relative;}
.boxHeader{ height:46px; font-size:11px; padding:7px 48px 8px 8px; color:#fff; font-weight:600; position:relative;}
.redHeader{ background:#ff0000;}
.okBtn{font-size:11px;  color:#fff; font-weight:600; position:absolute; right:10px; top:15px; cursor:pointer; text-transform:capitalize;}
.boxDetails{ padding:0px 8px 3px;}
.smtxt{ font-size:11px; font-weight:600; color:#38393c; line-height:12px;}
.yesBtn{ width:22px; height:13px; background:#00a652; font-size:10px; text-align:center; color:#fff; line-height:12px;}
.noBtn { width:22px; height:13px; background:#ff0000; font-size:10px; text-align:center; color:#fff; line-height:12px;}
.smdetailsRow{ margin-top:3px;}
.seeMore{font-size:11px; font-weight:600; color:#0070c0; line-height:18px; display:block; padding-left:17px; background:url(/assets/eye.png) no-repeat left center;}
.seeMore:hover{ text-decoration:underline;}
.seeMoreDocument{font-size:13px; font-weight:600; color:#ffffff; line-height:18px; padding-left:17px; background:url(/assets/eye-white.png) no-repeat left center;}
.seeMoreDocument:hover{ text-decoration:underline;}
.nextDueDate{font-size:10px; font-weight:600; color:#ff0000; letter-spacing:-1px;}
.documentLink{font-size:10px; font-weight:600; color:#0070c0; text-decoration:underline;}
.smdetailsRow.lastRows{ margin-top:0;}
.greenHeader{ background:#00b050;}
.midScroll{ width:100%; overflow:auto;}
.grayHeader{ background:#7f7f7f;}
.rightBoxText{ text-transform:uppercase;}
.rightBoxText.coplentTxt {margin-bottom: 28px;display: block;}
.footerPager{ margin-top:20px;}
.footerPager a {background: #f2f2f2 none repeat scroll 0 0;color: #bfbfbf;display: inline-block;font-size: 14px;font-weight: 700;padding: 8px 13px;text-transform: uppercase;}
.addmore  a{ color:#0070c0; padding:8px 30px;}
.footerPager a:hover , .footerPager a.active{ color:#7f7f7f;}
/*.pages{ margin-right:50px;	}*/
.footerCon{ text-align:center; position:relative; background:#0070c0; margin-top:30px; margin-bottom:10px;}
.totalSites{ background:#00b050 ; color:#fff; font-size:13px; padding:13px 25px;}
.copyRightBox{ display:inline-block; vertical-align:middle; color:#fff; font-size:13px; padding:8px 0 0;}
.copyRightBox img{ vertical-align:middle;}
.complaintSite {color:#fff; font-size:13px; padding:13px 25px;}
.showFilter {background:#f2f2f2 none repeat scroll 0 0;display:block;font-size:12px;padding:7px 0;text-align:center;width:100%;font-weight:600;margin-top:0px;
margin-bottom:10px; display:none; cursor:pointer;}
.showFilter label{ cursor:pointer;}
.infoIcon{ display:none;}
.mobNewUpload{ display:none;}
.mobNewUpload {background: #00b0f0 none repeat scroll 0 0;border-radius: 0 9px 0 0;display: block;font-size: 9px;font-weight: 600;height: 34px; left: -7px;line-height: 11px;padding: 6px 5px;position: absolute;text-transform: capitalize;top: 6px;transform: rotate(-90deg); -ms-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); -o-transform: rotate(-90deg); -moz-transform: rotate(-90deg);width: 47px;}

.seemorePopupCon{ background:rgba(0,0,0,.8); position:fixed; overflow:auto; left:0; right:0; top:0; bottom:0; overflow:auto; z-index:500; z-index:-500; opacity:0;}
.seemorePopupCon.open{z-index:500; opacity:1;}
.middetBox.middetBoxPop { width:100%; height: 290px; border:2px solid #07A6E0; overflow:hidden;}
.semoreItem{ float:left; margin:0px;width:100%;}

.seeMorePop{ height:336px;  margin:auto; position:absolute; left:0; right:0; margin:auto; top:0; bottom:0; overflow:hidden;}
.seemoreSlider { height:336px; max-width:930px; margin:auto;}
.middetBoxPop .boxHeader{ font-size:14px; font-weight:300; height:60px; padding:8px 90px 8px 15px;}
.middetBoxPop  .boxDetails{ padding:10px 0px 10px 15px; font-size:13px;}
.middetBoxPop  .smtxt{ font-size:13px; color:#38393c; line-height:normal;}
.middetBoxPop  .smdetailsRow{ margin-top:6px;}
.center .middetBox.middetBoxPop{ height:330px; margin-top:-20px; background:#fff;}
.middetBoxPop .scrollbarCustom {height: 178px;overflow: hidden;}
.middetBoxPop .nextDueDate{ font-size:13px; letter-spacing:-1px;}
.middetBoxPop .smdetailsRow{ padding-right:45px; min-height:20px; position:relative;}
.middetBoxPop .documentLink{ font-size:13px; margin-right:0px;}
.center .middetBox.middetBoxPop .scrollbarCustom{ height:216px;}
.middetBoxPop .smdetailsRow.lastRows{ margin-top:10px;}
.seeMorePop .owl-carousel .owl-stage-outer {padding: 25px 0 0;}
.seeMorePop .transition{transition:all 0.2s ease; -ms-transition:all 0.2s ease; -webkit-transition:all 0.2s ease; -o-transition:all 0.2s ease; -moz-transition:all 0.2s ease;}
.seeMorePop .owl-prev{ width:25px; height:28px; background:url(/assets/left.png) no-repeat center center; left:-40px; top:160px; display:block; cursor:pointer; position:absolute; font-size:0;}
.seeMorePop .owl-next{ width:25px; height:28px; background:url(/assets/right.png) no-repeat center center; right:-40px; top:160px; display:block; cursor:pointer; position:absolute; font-size:0;}
.seeMorePop .owl-dots{ display:none !important;}
.closeePop{ width:22px; height:25px; position:absolute; right:10px; top:10px; cursor:pointer; z-index:200;}
.mobNewUpload{ display:none;}
.seeMorePop .yesBtn{ width:28px; height:18px; font-size:14px; line-height:17px; font:600; position:absolute; right:10px; top:0;}
.seeMorePop .noBtn { width:28px; height:18px; font-size:14px; line-height:17px; font:600;  position:absolute; right:10px; top:0;}

.popOverlay{ background:#e8eaec; position:fixed; left:0; right:0; top:0; bottom:0; margin:auto; overflow:auto; z-index:600;}
.innerPopWhite{ background:#fff; padding:20px;margin:50px auto;}
#addSitePop .innerPopWhite{ max-width:1050px;}
.popbox{ background:#fff; padding:20px; background:#fafafa;}
.popHd{ font-size:18px; color:#7f7f7f; font-weight:600;}
.closePop {background:#d9d9d9 none repeat scroll 0 0;color: #fff;display: block;font-weight: 600;height: 20px;text-align: center;width: 21px; cursor:pointer;}
.closePop:hover{ background:#00b050 ;}
.closePopEdit {background:#d9d9d9 none repeat scroll 0 0;color: #fff;display: block;font-weight: 600;height: 20px;text-align: center;width: 21px; cursor:pointer;}
.closePopEdit:hover{ background:#00b050 ;}
.popHeader{ border-bottom:1px solid #e2e2e2; padding-bottom:16px;}
.manualyaddbox{ width:33%; padding-right:15px;}
.addsiteHd{ font-size:15px; background:#0070c0; text-align:left; padding:9px 10px; font-weight:500; color:#fff;}
.siteLabel {color: #000; font-size: 13px;font-weight: 600;height:44px; padding-bottom:6px; vertical-align:bottom;margin-bottom: 4px;  display: table-cell;}
.siteFormRow{ margin-top:15px; }
.popDetailRow{margin-top:20px; position:relative; padding-right:140px; padding-bottom:20px; margin-bottom:20px; border-bottom:1px solid #eaeaea;}
.popDetailRow:last-child{ margin-bottom:0; padding-bottom:0; border:0;}
.popDetailRow:last-child .addnewSiteBtn{ bottom:0;}
.popInput{ height:36px;  border:1px solid #eaeaea; padding:0 10px; width:100%;}
.popInput:focus{box-shadow: 0 0 5px #137bcb;}
.calInput{ background:url(/assets/calicon.png) no-repeat right 5px center #fff;}
.grayheaderBg{ background:#a6a6a6;}
select.popInput{ background:url(/assets/graycaret.png) no-repeat right 10px center #fff; -moz-appearance: none; -webkit-appearance: none; -ms-appearance: none; -o-appearance: none; padding-right:20px;}
select.popInput option{ padding:2px 10px;}
.siteTabbox{ width:66%;}
.siteBox{ width:50%; padding-right:15px;}
.noteBox{ font-size:13px; font-weight:600; color:#000; margin-top:20px; padding-left:40px; background:url(/assets/editicon.png) no-repeat 0 5px;}
.greenClr{ color:#00b050;}
.addnewSiteBtn{ width:140px; display:block; padding:10px 0; text-align:center; color:#fff; background:#00b050; position:absolute; right:0; bottom:20px;}
.addnewSiteBtn:hover{ background:#0070c0 ;}
.gradeBuild{font-size:13px; font-weight:600; color:#000; margin-bottom:8px;}

.yellClr{ color:#ed7d31;}
.redClr{ color:#ff0000;}
.skyBlueClr{ color:#00b0f0;}
.purpleClr{ color:#7030a0;}
.blueClr{ color:#0070c0;}
.greenBg{ background:#00b050;}
.redBg{ background:#c00000;}
.transparentBox{ padding:0; position:absolute; left:0; right:0; top:0; bottom:0;}
#editSitePop .innerPopWhite{ max-width:1500px;}
.leftEdit{ width:34%;}
.editSiteInfo{ margin-top:20px;}

#editSitePop .siteLabel{ display:block; height:auto; padding-bottom:0;}
.EditokBtn{ width:auto; display:block; padding:5px 10px; display:block; margin-top:20px; text-align:center; color:#fff; background:#0070c0; float:right; }
.EditokBtn:hover{ background:#00b050 ;}
.tabAdded{ position:relative;}
.deletIcon{ width:22px; height:22px; background:url(/assets/deleteicon.png) no-repeat center center; cursor:pointer; position:absolute; bottom:auto; right:5px;top:29px;}
.rightEdit{ width:66%; background:#f2f2f2; padding:15px; margin-top:-15px;}
select.popInput.bigSelect{ font-size:16px; font-weight:600; color:#000; background:url(/assets/blackcaret.png) no-repeat right 10px center #fff;}
.edit1{ width:25%;}
.edit1.fl{ padding-right:15px;}
.edit1.fr{ padding-left:15px;}
.edit2{ width:75%;}
.editbox.editbox2 {width: 160px;padding-right: 12px;}
.siteBox.siteScrollDiv{ width:228px;}
.scrollbarCustomEdit{ width:100%; overflow:hidden;}
.scrollbarCustomEdit table td:last-child .siteBox{ padding-right:0;}
.scrollbarCustomEdit table td{ vertical-align:top;}

.deleteItem{ width:120px; display:block; padding:8px 0; text-align:center; color:#fff; background:#bfbfbf; float:right; margin:20px 0;}
.deleteItem:hover{ background:#0070c0 ;}
.itemRequired{font-size:13px; font-weight:600; color:#ff0000; }
.itemReq{ min-height:40px; padding-right:60px;}
.itemReq img{ position:absolute; right:0; top:0;}
.cssCheckBox:checked + .cicon{background:url(/assets/c.png) no-repeat center center; }
.cicon{ width:22px; height:22px; background:url(/assets/c-light.png) no-repeat center center; cursor:pointer; position:absolute; bottom:auto; right:28px; top:29px;}
.addQue .cicon{ right:5px;}

.saveBtn{ width:210px; display:block; padding:10px 0; display:block; margin-top:20px; color:#fff; background:#00b050; font-size:16px; text-align:center;}
.saveBtn:hover , .saveBtn.DeleteSite:hover{ background:#0070c0 ;}
.editSiteInfo{ position:relative;}
.saveBtnGrp{ position:absolute; left:0px; bottom:0px;}
.saveBtn.DeleteSite{ background:#bfbfbf; }
.enterLatItem{ margin-top:38px;}
.siteFormRow.grayBgBox{ margin:0; padding:10px; background:#fafafa;}
.addnewSiteBtn.AddItem{ clear:both; position:relative;  width:100px; padding:8px 0; bottom:0; float:right; margin-top:10px; text-transform:uppercase;}


#documentPop .innerPopWhite{ max-width:1220px;}
.documentBox.fl{ width:55%;}
.documentBox.fr{ width:45%;}
 .width50{ width:50%;}
.docFile{ font-size:15px; font-weight:600; color:#0070c0; display:inline-block; vertical-align:middle; margin-right:0px; width:50%; position:relative;}
.documentRow{ margin-top:25px;}
.docuemntBtn{ display:inline-block; vertical-align:middle; margin-right:5px; vertical-align:middle; color:#fff; padding:8px 12px; position:relative; overflow:hidden;}
.redBtn{ background:#c00000;}
.redBtn:hover{ background:#a71919;}
.greenBtn{ background:#24a25d;}
.greenBtn:hover{ background:#096432;}
.yellBtn{ background:#ffc000;}
.yellBtn:hover{ background:#ecb203;}
.grayBtn{ background:#7f7f7f;}
.grayBtn:hover{ background:#5b5252;}
.smalltxt{ font-size:13px; font-weight:600; line-height:18px; width:50%; display:inline-block; vertical-align:middle; padding-right:5px;}
.checkBox{ display:inline-block; vertical-align:middle;}
.documentRow input{ display:inline-block; vertical-align:middle;}
.browse{ position:absolute; left:0; right:0; top:0; bottom:0; opacity:0; cursor:pointer;}

textarea.popInput{ width:100%; height:150px; resize:none; padding:10px; font-size:13px; font-family:"Open Sans"; padding-bottom:50px;}
.textAreaBox { position:relative; margin-top:62px;}
.docuemntBtn.grayBtn.sendBtn{ position:absolute; z-index:20; right:5px; bottom:10px;}
.saveBtnGrp.rightGrp{ right:0; left:auto; position:relative;}
.saveBtnGrp.rightGrp input{  width: 100%; }
.mobMenuBg{ display:none;}
.pendingImage {position: absolute;right: 0;top: -8px;}
.documentBox.documentBox2.fl{ width:30%;}
.documentBox2 .docFile{ width:70%;}
.documentBox2 .smalltxt{ width:70%;}
.documentBox.documentBox2.fr{ width:65%;}
.leftDoc{ width:46%;}
.width80{ width:74%;}


#itemTemplatePop .innerPopWhite{ max-width:990px;}
#itemTemplatePop .siteLabel{ display:block; height:auto; padding-bottom:0;}
.addTemplateBox{ width:25%;}
.addTemplateBox .siteBox{ width:100%; padding-right:0;}
.itemTempRight{ width:75%; padding-left:15px;}
.siteBox.itemTemBox2{ width:227px;}
#itemTemplatePop table tr td:last-child .siteBox.itemTemBox2{ padding-right:0;}

.blrClr{ opacity:.4;}
.deleteItem.addTemp{ color:#000; font-weight:600;}
.itemTemRow{ margin-top:20px;}
.btnGroup{ margin-top:20px; text-align:right; margin-bottom:0;}
.btnGroup a{ margin:0; margin-left:5px; display:inline-block; width:auto; float:none; padding:8px 15px;}
#itemTemplatePop .itemTemRow { position:relative;}

#myReport .innerPopWhite{ max-width:1416px;}
#uploadFile .innerPopWhite{ max-width:1416px;}
.seeMoreDocumentPop .innerPopWhite{ max-width:1416px;}
.siteLabel.autoHeight{ height:auto; display:block; margin-bottom:0;}
.popInput.blueSelect {color: #0070c0 ;font-weight: 600;}
.reportBox{ width:210px; margin-right:15px;}
.myreportCon{ margin-top:20px;}
.reportRow{ margin-top:5px; font-size:14px; color:#000;}
.cssLabel{ width:37px; height:37px; background:url(/assets/checkboxnew.png) no-repeat  0 0;}
.labeltxt{ padding-top:10px; font-weight:600; max-width:150px;}
.cssCheckBox{ position:absolute; opacity:0;}

.cssCheckBox:checked + .cssLabel{ background-position:0 -41px;}
.smalltext1 {color: #666;display: block;font-size: 12px;line-height: 17px;}
.reportBox:last-child {margin-right: 0;}

#myUserSetting .innerPopWhite{ max-width:1220px;}
#myUserSetting .siteLabel{ display:block; height:auto; padding-bottom:0;}
.settingBox{ width:20%; padding-right:15px;}
.addsiteHd.smallHd{ padding:7px 25px;}
.myUserSettRow{ padding-bottom:20px; margin-bottom:20px; border-bottom:1px solid #ddd;}
.changePassBtn{ width:100%; display:block; padding:0px 0; text-align:center; color:#fff; background:#00b050; border:0; height:36px; text-align:center; text-transform:uppercase; cursor:pointer; font-size:16px; font-weight:600; cursor:pointer;}
.changePassBtn:hover{ background:#0070c0 ;}
.settingBox.fr{ padding-right:0;}
.settingBox .siteFormRow{ margin-top:0;}

.browseBtn{ width:100px; display:block; padding:8px 0px; text-align:center; color:#fff; background:#bfbfbf; border:0; height:36px; text-align:center; text-transform:uppercase; cursor:pointer;  cursor:pointer; position:relative;}
.browseBtn:hover{ background:#0070c0 ;}
.lighttBlClr{ color:#00a2ea; width:80%;}
.btnGrpRight a{ float:right;}
.settingBox.last {margin-bottom: 0;}

#PreferredEmailList .innerPopWhite{ max-width:1050px;}
.emailBox p{ font-size:13px; color:#a6a6a6; margin-top:15px;}
.emailBox{ width:23.5%; margin-right:2%;}
.emailBox.fr{ margin-right:0;}
.preferEmaolCon{ padding:20px 0 0;}
#PreferredEmailList .siteLabel{ display:block; height:auto; padding-bottom:0;}
.AddConBtn{ font-size:15px; background:#0070c0; text-align:left; padding:7px 10px; font-weight:500; color:#fff; float:right; border:0; cursor:pointer; position:relative; overflow:hidden;}
.AddConBtn:hover{ background:#00a551 ;}
.Excell{ margin-top:50px;}
.EmailLinks {font-weight: 600;font-size: 12px;text-decoration: underline;}
.pause{ margin:2px;}
.Existinglist {border: 1px solid #ddd;background: #fff;padding: 10px 2px 10px 10px;height: 360px;overflow: hidden;}

#sendInvitation .innerPopWhite{ max-width:1230px;}
#sendInvitation .siteLabel{ display:block; height:auto; padding-bottom:0;}
.boldText{ color:#000; font-weight:600; font-size:16px;}
#sendInvitation .sendInvit { position:relative;}

.smallPara{ margin-top:50px;}
.smallPara p{font-size:13px; color:#a6a6a6; margin-top:15px;}

.addTemplateBox.sendInvitLeft{ width:20%;}
.itemTempRight.sendInvitRight{ width:80%; padding-bottom:20px;}
.saveBtn.uploadAccess{ background:#bfbfbf; margin-right:20px;}


.allPopus{ max-width:1200px; background:#f5f5f5; min-height:600px; margin:0px auto;}
.allPopus a {color: #fff;display: inline-block;background: #0070c0 ;font-size: 16px;display: inline-block;padding: 15px 20px;margin: 10px;}
.allPopus a:hover{ background:#00a652 ;}

#temEdit .innerPopWhite{ max-width:980px; position:relative;}
.closePop.absPos{ position:absolute; right:0; top:0;}
.tempEditHd{ font-size:16px; color:#7f7f7f;}
.leftEditBox { width:740px;}
.rightEditBox{ width:160px; text-align:center; padding:0 0 0 23px;}
.editBox {border: 2px solid #0070c0; background:#fff; padding:15px; margin-top:15px; color:#7f7f7f; font-size:20px; font-weight:600;}
.yourUpload{ margin:25px 0;}
.userImg{ margin:25px 0;}
.use{ margin-bottom:160px;}
.responsdEmail{ margin-bottom:50px;}
.editBtnGp{color: #fff;background: #0070c0 ;font-size: 14px;display:block; width:100px; text-align:center; padding:9px 0px;margin:5px auto 0 auto;}
.editBtnGp:hover{ background:#00a652 ;}
.tempEdit{ position:relative;}

.editSaveBtn{color: #fff;background: #00a652 ;font-size: 14px;display:block; width:100px; text-align:center; padding:9px 0px; position:absolute; right:16px; bottom:0;}
.editSaveBtn:hover{ background:#0070c0 ;}
.rightEditBox .tempEditHd{ margin-bottom:15px;}


.contactorCon{ min-height:600px;}
.contaractorRow{ margin-top:20px; position:relative;}
.contractorLeft{ width:164px; height:113px; background:#0070c0; border-radius:15px 0 0 15px; padding:34px 10px; display:inline-block;  color:#fff; font-size:15px; font-weight:700; text-align:center; vertical-align:top; position:absolute; left:0;}
.contractorRight{width:164px; height:113px;  border-radius:0px 15px 15px 0px; padding:20px 0; text-align:center;  color:#fff; font-size:13px; display:inline-block; font-weight:700; text-align:center; background:#9dc3e6; vertical-align:top; position:absolute; right:0; top:0;}
.contractorRight p{ margin-bottom:10px;}
.contractorRight span{ display:block;}
.contractorRight p.pluralize_files_received {display: none;}
.contractrBox{ width:160px; height:113px; display:inline-block; vertical-align:top; background:#f5f5f5;}
.conHd{ font-size:13px; background:#a6a6a6; padding:1px 5px; color:#fff;}
.uploadFile{ display:block; height:74px; position:relative; text-align:center; font-size:12px; font-weight:600; padding:5px 0; text-transform:uppercase; color:#0070c0;}
.uploadFile img{ display:block; margin:0 auto 5px auto;}