<% email_template = EmailTemplate.first %>
<% if email_template.present? && email_template.user_confirmation_instruction.present?  %>
	<%= email_template.user_confirmation_instruction.gsub("{{email}}","#{@email}").gsub("{{link}}", "#{link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token)}").html_safe %>
<% else %>
	<p>Hello, <%= @email %>,</p>
	<p>Congratulations, your MyCompliance account has been created, please click here to activate your account.</p>
	<p>Need the raw link? <%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
	<p>
    Thanks,<br />
    MyCompliance Team
  </p>
<% end %>