<% if @email_template.present? && @email_template.user_password_change.present? %>
	<%= @email_template.user_password_change.gsub("{{email}}","#{@resource.email}").html_safe %>
<% else %>

	<p>Hello <%= @resource.email %>!</p>

	<p>We're contacting you to notify you that your password has been changed.</p>
<% end %>