<% email_template = EmailTemplate.first %>
<% if email_template.present? && email_template.user_reset_password_instruction.present?  %>
	<%= email_template.user_reset_password_instruction.gsub("{{email}}","#{@resource.email}").gsub("{{link}}"," #{link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token)}").html_safe %>
<% else %>
	<p>Hello <%= @resource.email %>!</p>

	<p>Someone has requested a link to change your password. You can do this through the link below.</p>

	<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

	<p>If you didn't request this, please ignore this email.</p>
	<p>Your password won't change until you access the link above and create a new one.</p>
<% end %>