<div id="login">
  <h2><%= render_or_call_method_or_proc_on(self, active_admin_application.site_title) %> <%= title t('active_admin.devise.resend_confirmation_instructions.title') %></h2>

  <%#= devise_error_messages! %>
  <%= active_admin_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
    f.inputs do
      f.input :login, label: "Email", required: true
    end
    f.actions do
      f.action :submit, label: t('active_admin.devise.resend_confirmation_instructions.submit'), button_html: { value: t('active_admin.devise.resend_confirmation_instructions.submit') }
    end
  end %>

  <%= render partial: "active_admin/devise/shared/links" %>
</div>
