<div class="modal-dialog modal-sm small-modal-margin">
  <div class="modal-content text-center">
    <div class="modal-header">
      <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
      <h4 id="destroyShowLabel" class="modal-title">Are you sure?</h4>
      <%= form_for(site, url: site_path(site), method: :delete, remote: true, html: {id: "destroy_site"}) do |f| %>
      <% end %>
    </div>
    <div class="modal-footer text-align-center btn_center margin-top-0">
      <%= link_to "Yes", "javascript:;", class: "", id: "yes_destroy" %>
      <%= link_to "No", "javascript:;", class: "", data: {dismiss: "modal"} %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
  	$("#yes_destroy").click(function(){
  		$("#destroy_site").submit();
  	});
  });
</script>