<div class="transparentBox">
  <div class="innerPopWhite">
    <div class="popbox">
      <div class="popHeader clearfix">
        <div class="popHd fl">Edit Site Information</div>
        <%= link_to root_path(page: @page, tab: @tab, order: @order, search: @search, from_date: @from_date, to_date: @to_date), remote: true, class: "cfff" do %>
          <span class="closePopEdit fr">X</span>
        <% end %>
      </div>
      <div class="popdetails">
        <div class="editSiteInfo clearfix">
          <%= nested_form_for(site, remote: true, html: {id: "edit_site_information"}) do |f| %>
            <%= hidden_field_tag "tab", @tab %>
            <%= hidden_field_tag "page", @page %>
            <%= hidden_field_tag "order", @order %>
            <%= hidden_field_tag "search", @search %>
            <%= hidden_field_tag "from_date", @from_date %>
            <%= hidden_field_tag "to_date", @to_date %>
            <div class="" id="error_messages"><%= model_error_messages(site) %></div>
            <div class="leftEdit fl">
              <div class="siteBox fl">
                <div class="addsiteHd blueBg">Site</div>
                <div class="siteFormRow">
                  <label class="siteLabel">Site Title</label>
                  <%= f.text_field :name, autofocus: true, required: true, placeholder: "Site name or Address", class: "popInput" %>
                </div>
                <div class="siteFormRow">
                  <label class="siteLabel">Annual Compliance for Site is Due on which date each year</label>
                  <%= f.text_field :annual_compliance_due, value: site.annual_compliance_due.present? ? site.annual_compliance_due.strftime("%d/%m/%Y") : '', required: true, placeholder: "Enter Date", class: "popInput calInput cca0000" %>
                </div>
              </div>
              <div class="siteBox fl">
                <div id="site_tabs">
                  <div class="addsiteHd blueBg">Site Tabs</div>
                  <div class="scrollbarCustom" style="height:311px;">
                    <%= f.fields_for :site_tabs do |f_site_tab| %>
                      <div class="siteFormRow tabAdded">
                        <label class="siteLabel">Tab</label>
                        <%= f_site_tab.text_field :name, class: "popInput pr27", placeholder: "Enter Tab Name" %>
                        <%= f_site_tab.link_to_remove "<span class='deletIcon'></span>".html_safe %>
                      </div>
                    <% end %>
                  </div>
                </div>
                <%= f.link_to_add "Add Tab", :site_tabs, data: { target: "#site_tabs .mCSB_container" }, class: "EditokBtn" %>
              </div>
              <div class="saveBtnGrp">
                <%= link_to "Delete Site", site_path(site, tab: site_tab.present? ? site_tab.name : site_tabs.first.name, page: @page, order: @order, search: @search, from_date: @from_date, to_date: @to_date), method: :delete, remote: true, data: {confirm: "Are you sure?"}, class: "saveBtn DeleteSite" %>
                <%= f.submit "Save Changes", class: "saveBtn abtn" %>
              </div>
            </div>
          <% end %>
          
          <div class="rightEdit fr">
            <!-- <div class="editbox edit1 fl" id="tab_items_to_edit">
              <%#= render partial: "tab_items_edit", locals: { site: site, site_tabs: site_tabs, site_tab: site_tab.present? ? site_tab : site_tabs.first } %>
            </div> -->
            <div class="editbox edit2 fl" id="site_tab_items_edit">
              <%= render partial: "site_tab_items", locals: { site: site, site_tabs: site_tabs, site_tab: site_tab.present? ? site_tab : site_tabs.first } %>
            </div>
            <div class="editbox edit1 fr" id="enter_new_item">
              <div class="addsiteHd grayheaderBg">Enter New Item</div>

              <div class="siteFormRow">
                <label class="siteLabel">&nbsp;</label>
                <%= select_tag :select_new_item, options_for_select([ ["New Item", "new_item"], ["Duplicate Last Item", "duplicate_last_item"], ["Enter item from my Templates", "enter_item_from_my_templates"] ]), include_blank: true, class: "popInput bigSelect" %>
              </div>
                <%= link_to "Add Item", "javascript:;" , class: "addnewSiteBtn AddItem display-none", id: "duplicate_last_item" %>              
              <div id="new_site_item_site"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#edit_site_information").on('nested:fieldAdded', function (event) {
    // this field was just inserted into the form
    var field = event.field;
    $("#" + field.find('input[type="text"]').attr('id')).rules("add", {
      required: true,
      noSpace: true,
      maxlength: 125,
      remote: {
        url: "/sites/<%= site.id %>/check_tab_name_unique",
        type: "post",
        data: {
          tab_name: function() {
            return $("#" + field.find('input[type="text"]').attr('id')).val();
          }
        }
      },
      messages: {
        required: "Please enter Tab Name.",
        noSpace: "Please enter valid Tab Name.",
        maxlength: "Tab Name must be of maximum {0} characters.",
        remote: "This Tab Name is taken."
      }
    });
  });

  $("#edit_site_information").on('nested:fieldRemoved', function (event) {
    // this field was just removed from the form
    var field = event.field;
    $("#" + field.find('input[type="text"]').attr('id')).rules("remove");
  });

  $(function () {
    $('#site_annual_compliance_due').datetimepicker({
      format: "DD/MM/YYYY"
    });
    
    $("#site_annual_compliance_due").inputmask({
      mask: "1/2/y",
      placeholder: "dd/mm/yyyy",
      alias: "date"
    });
    
    $("#edit_site_information").validate({
      onkeyup: false,
      rules: {
        "site[name]": {
          required: true,
          noSpace: true,
          maxlength: 125
        },
        "site[annual_compliance_due]": {
          required: true,
          noSpace: true
        },
        <% site.site_tabs.each.with_index(0) do |site_tab, index| %>
          "site[site_tabs_attributes][<%= index %>][name]": {
            required: true,
            noSpace: true,
            maxlength: 125
            // remote: {
            //   url: "/sites/<%#= site.id %>/check_tab_name_unique",
            //   type: "post",
            //   data: {
            //     tab_name: function() {
            //       return $("#site_site_tabs_attributes_<%#= index %>_name").val();
            //     }
            //   }
            // }
          },
        <% end %>
      },
      messages: {
        "site[name]": {
          required: "Please enter your Site Name or Address.",
          noSpace: "Please enter valid Site Name or Address.",
          maxlength: "Your Site name must be of maximum {0} characters."
        },
        "site[annual_compliance_due]": {
          required: "Please enter Annual Compliance Due.",
          noSpace: "Please enter Annual Compliance Due."
        },
        <% site.site_tabs.each.with_index(0) do |site_tab, index| %>
          "site[site_tabs_attributes][<%= index %>][name]": {
            required: "Please enter Tab Name.",
            noSpace: "Please enter valid Tab Name.",
            maxlength: "Tab Name must be of maximum {0} characters.",
            remote: "This Tab Name is taken."
          },
        <% end %>
      }
    });

    $("#select_new_item").click(function () {
      $(".site_item_form").remove();
      $(".site_item_add_template").remove();
      $("#duplicate_last_item").hide();
      new_item = $("#select_new_item").val();
      if (new_item.length > 0) {
        last_item = $('#site_tab_items td.site_tab_item:last');
        if (last_item.length > 0) {
          site_tab_id = last_item.attr('data-site-tab-id');
        } else {
          site_tab_id = null;
        }
        if (new_item == "new_item") {
          $.get("<%= new_site_item_site_path(site) %>", {site_tab_id: site_tab_id});
        } else if (new_item == "duplicate_last_item") {
          $("#duplicate_last_item").show();
        } else if (new_item == "enter_item_from_my_templates") {
          $.get("<%= get_site_item_templates_site_path(site) %>", {site_tab_id: site_tab_id});
        }
      }
    });

    $("#duplicate_last_item").click(function () {
      last_item = $('#site_tab_items td.site_tab_item:last');
      if (last_item.length > 0) {
        site_tab_id = last_item.attr('data-site-tab-id');
        site_item_id = last_item.attr('data-id');
        $.post("<%= duplicate_last_item_site_path(site) %>", {
          site_tab_id: site_tab_id,
          site_item_id: site_item_id
        });
      }
    });
  });
</script>