<div class="transparentBox">
  <div class="innerPopWhite">
    <div class="popbox">
      <div class="popHeader clearfix">
        <div class="popHd fl">Add New Site</div>
        <span class="closePop fr">X</span>
      </div>
      <div class="popdetails">
        <div class="popDetailRow clearfix">
          <%= form_for(site, remote: true, html: {id: "add_new_site"}) do |f| %>
            <%= hidden_field_tag "tab", @tab %>
            <%= hidden_field_tag "page", @page %>
            <%= hidden_field_tag "order", @order %>
            <%= hidden_field_tag "search", @search %>
            <%= hidden_field_tag "from_date", @from_date %>
            <%= hidden_field_tag "to_date", @to_date %>
            <span class="" id="error_messages"><%= model_error_messages(site) %></span>
            <div class="manualyaddbox fl">
              <div class="addsiteHd blueBg">Manually Add New Site</div>
              <div class="siteFormRow">
                <label class="siteLabel">Enter Site Name or Address</label>
                <%= f.text_field :name, autofocus: true, required: true, placeholder: "Site name or Address*", class: "popInput", tabindex: "1" %>
              </div>
              <div class="siteFormRow">
                <label class="siteLabel">Annual Compliance Due</label>
                <%= f.text_field :annual_compliance_due, required: true, placeholder: "Enter Date*", class: "popInput calInput", tabindex: "2" %>
              </div>
            </div>
            <div class="siteTabbox fl">
              <div class="siteBox fl">
                <div class="addsiteHd grayheaderBg">Site Tabs</div>
                <div class="siteFormRow">
                  <label class="siteLabel">How many Tabs do you require for the site.</label>
                  <%= f.select :tabs, ((1..@site_setting.maximum_site_tabs).map {|tab| [tab, tab]}), { include_blank: false, prompt: "Select" }, required: true, class: "popInput", tabindex: "3" %>
                </div>
              </div>
              <div class="siteBox fl">
                <div class="addsiteHd grayheaderBg">Site Items</div>
                <div class="siteFormRow">
                  <label class="siteLabel">How many items do you require for the site per Tab.</label>
                  <%= f.select :tab_items, ((1..@site_setting.maximum_site_items).map {|item| [item, item]}), { include_blank: false, prompt: "Select" }, required: true, class: "popInput", tabindex: "4" %>
                </div>
                <div class="siteFormRow">
                  <label class="siteLabel">Template to Use</label>
                  <%= f.select :site_item_id, @item_templates.collect {|site_item| [ site_item.title, site_item.id ] }, { include_blank: false, prompt: "Select" }, class: "popInput", tabindex: "5" %>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="noteBox">
                <span class="greenClr">Note:</span>
                You can add, edit, or delete Site Tabs and Items by clicking on the edit icon for the site after you have created it</div>
            </div>
            <%= f.submit "Add New Site", class: "addnewSiteBtn abtn", tabindex: "6" %>
          <% end %>
        </div>
        
        <div class="popDetailRow clearfix">
          <%= form_for(site, url: add_site_from_template_sites_path, method: :post, remote: true, html: {id: "add_site_from_template"}) do |f| %>
            <%= hidden_field_tag "tab", @tab %>
            <%= hidden_field_tag "page", @page %>
            <%= hidden_field_tag "order", @order %>
            <%= hidden_field_tag "search", @search %>
            <%= hidden_field_tag "from_date", @from_date %>
            <%= hidden_field_tag "to_date", @to_date %>
            <span class="" id="error_messages"><%= model_error_messages(site) %></span>
            <div class="manualyaddbox fl">
              <div class="addsiteHd blueBg">Add Site From Template</div>
              <div class="siteFormRow">
                <label class="siteLabel">Which site do you wish to Duplicate?</label>
                <%= select_tag :site_id, options_from_collection_for_select(@site_templates, :id, :name), include_blank: false, prompt: "Select", class: "popInput", tabindex: "7" %>
              </div>
            </div>
            <div class="siteTabbox fl">
              <div class="gradeBuilding">
                <div class="gradeBuild">
                  <span class="greenClr">A Grade Building</span>
                  Template. Includes tabs xyz and Items abc</div>
                <div class="gradeBuild">
                  <span class="yellClr">B Grade Building</span>
                  Template: Includes tabs xyz and Items abc</div>
                <div class="gradeBuild">
                  <span class="redClr">C Grade Building
                  </span>Template: Includes tabs xyz and Items abc</div>
                <div class="gradeBuild">
                  <span class="skyBlueClr">Industrial Site</span>
                  Template: Includes tabs xyz and Items abc</div>
                <div class="gradeBuild">
                  <span class="purpleClr">Retail Site</span>
                  Template: Includes tabs xyz and Items abc</div>
                <div class="gradeBuild">
                  <span class="blueClr">Residential Site
                  </span>Template: Includes tabs xyz and Items abc</div>
              </div>
            </div>
            <%= f.submit "Add New Site", class: "addnewSiteBtn abtn", tabindex: "8" %>
          <% end %>
        </div>
        
        <div class="popDetailRow clearfix">
          <%= form_for(site, url: duplicate_existing_site_sites_path, method: :post, remote: true, html: {id: "duplicate_existing_site"}) do |f| %>
            <%= hidden_field_tag "tab", @tab %>
            <%= hidden_field_tag "page", @page %>
            <%= hidden_field_tag "order", @order %>
            <%= hidden_field_tag "search", @search %>
            <%= hidden_field_tag "from_date", @from_date %>
            <%= hidden_field_tag "to_date", @to_date %>
            <span class="" id="error_messages"><%= model_error_messages(site) %></span>
            <div class="manualyaddbox fl">
              <div class="addsiteHd blueBg">Duplicate Existing Site</div>
              <div class="siteFormRow">
                <label class="siteLabel">Which site do you wish to Duplicate?</label>
                <%= select_tag :site_id, options_from_collection_for_select(@sites, :id, :name), include_blank: false, prompt: "Select", class: "popInput", tabindex: "9" %>
              </div>
              <div class="noteBox">
                <span class="greenClr">Note:</span>
                Duplicated site will have “Copy” inserted before site name.</div>
            </div>

            <%= f.submit "Add New Site", class: "addnewSiteBtn abtn", tabindex: "10" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- validation -->
<script type="text/javascript">
  $(document).ready(function () {
    $('#site_annual_compliance_due').datetimepicker({
      format: "DD/MM/YYYY"
    });
    
    $("#site_annual_compliance_due").inputmask({
      mask: "1/2/y",
      placeholder: "dd/mm/yyyy",
      alias: "date"
    });
    
    $("#add_new_site").validate({
      rules: {
        "site[name]": {
          required: true,
          noSpace: true,
          maxlength: 125
        },
        "site[annual_compliance_due]": {
          required: true
        },
        "site[tabs]": {
          required: true
        },
        "site[tab_items]": {
          required: true
        }
      },
      messages: {
        "site[name]": {
          required: "Please enter your site name or address.",
          noSpace: "Please enter valid site name or address.",
          maxlength: "Your Question must be of maximum {0} characters."
        },
        "site[annual_compliance_due]": {
          required: "Please enter annual compliance date."
        },
        "site[tabs]": {
          required: "Please select your tabs."
        },
        "site[tab_items]": {
          required: "Please select your tab item."
        }
      }
    });

    $("#add_site_from_template").validate({
      rules: {
        "site_id": {
          required: true
        }
      },
      messages: {
        "site_id": {
          required: "Please select site."
        }
      }
    });

    $("#duplicate_existing_site").validate({
      rules: {
        "site_id": {
          required: true
        }
      },
      messages: {
        "site_id": {
          required: "Please select site."
        }
      }
    });
  });
</script>