<div class="enterLatItem site_item_add_template"  id="site_item_add_from_template">
  <div class="addsiteHd grayheaderBg">Add From Template</div>
  <%= form_for(site, url: add_item_from_template_site_path(site), method: :post, remote: true, html: {id: "add_site_item_from_template_form"}) do |f| %>
    <div class="siteFormRow grayBgBox clearfix">
      <%= hidden_field_tag :site_tab_id, site_tab_id %>
      <% if item_templates.present? %>
        <%= select_tag :site_item_template_id, options_from_collection_for_select(item_templates, :id, :title), include_blank: true, class: "popInput" %>
        <%= f.submit "Add Item", class: "addnewSiteBtn AddItem abtn" %>
      <% end %>
    </div>
  <% end %>
  
  <script type="text/javascript">
    $(document).ready(function(){
      $("#add_site_item_from_template_form").validate({
        rules: {
          "site_item_template_id": {
            required: true
          }
        },
        messages: {
          "site_item_template_id": {
            required: "Please select site template."
          }
        },
      });
   });
  </script>
</div>
