<!--Start Dash menu-->                                                
<div class="dashMenu clearfix">
  <%= link_to "", "javascript:;", class: "dashMenuIcon" %>
	<div class="dashNav scrollbox fl">
  	<ul class="dashnavBox clearfix">
      <% site_tabs.each.with_index(1) do |site_tab, index| %>
        <% active_class = tab.present? ? (tab == site_tab ? 'active' : '') : (index == 1 ? 'active' : '') %>
        <li><%= link_to site_tab, root_path(tab: site_tab, order: params[:order], page: params[:page], search: params[:search]), remote: true, class: "#{active_class}" %></li>
      <% end %>
     </ul>
  </div>
  <div class="dashMenyRight fr">
  	<div class="userName">Welcome: <%= current_user.user_name %></div>
    <div class="myHelp">
     	<span class="myhelpbox dropmenu">m<label class="green">y</label>help</span>
      <div class="helpDropDown dropDown">
        <%= link_to "How to Guide", "javascript:;" %>
        <%= link_to "Need a feature?", "javascript:;" %>
        <%= link_to "Contact Us", "javascript:;" %>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
      </div>
    </div>
  </div>
</div>
<!--End Dash menu-->
<!--Start mid Container-->
<div class="dashMidCon">
	<!--Start top filter-->
  <div class="topFilter clearfix">
  	<div class="filterbox fl">
     	<span class="filterClick dropmenu">SORT BY<%= image_tag("bluecaret.png", alt: "")%></span>
      <div class="sortOptions dropDown">
        <%= link_to root_path(order: "status_asc", tab: tab, page: params[:page], search: params[:search], from_date: params[:from_date], to_date: params[:to_date]), remote: true, class: "clearfix" do %>
          Status <span class="statusBx"><i class="redb"></i><i class="yelb"></i><i class="greenb"></i></span>
        <% end %>
        <%= link_to root_path(order: "status_desc", tab: tab, page: params[:page], search: params[:search], from_date: params[:from_date], to_date: params[:to_date]), remote: true, class: "clearfix" do %>
          Status <span class="statusBx"><i class="greenb"></i><i class="yelb"></i><i class="redb"></i></span>
        <% end %>
        <%= link_to "Due Date (ascending)", root_path(order: "due_date_asc", tab: tab, page: params[:page], search: params[:search]), remote: true %>
        <%= link_to "Due Date (descending)", root_path(order: "due_date_desc", tab: tab, page: params[:page], search: params[:search]), remote: true %>
        <%= link_to "Name (A-Z)", root_path(order: "name_asc", tab: tab, page: params[:page], search: params[:search]), remote: true %>
        <%= link_to "Name (Z-A)", root_path(order: "name_desc", tab: tab, page: params[:page], search: params[:search]), remote: true %>
      </div>
    </div>
    <div class="filterForm clearfix">
      <%= form_tag root_path, method: :get, class: "", remote: true do %>
        <%= hidden_field_tag :order, params[:order] %>
        <%= hidden_field_tag :tab, params[:tab] %>
        <div class="formBox srchBox">
          <%= text_field_tag(:search, params[:search], placeholder: "Search", class: "formInput") %>
        </div>
        <div class="formBox goBtn">
          <%= submit_tag "GO", class: "formGo" %>
        </div>
      <% end %>
    </div>
  </div>
  <!--End top filter-->
  <% @total_sites = 0 %>
  <!--Start multiRow container-->
  <div class="contactorCon clearfix">
    <% sites.each do |site| %>
      <%= render partial: "site_contractor", locals: { site: site, site_tab: site.site_tabs.select{|site_tab| site_tab.name == tab}.first, site_items: site_items } %>
    <% end %>
  </div>
  <!--End multiRow container--> 
  <!--Start footer pager-->
  <div class="footerPager clearfix">
    <div class="pager fr">
      <% if sites.total_pages > 1 %>
        <%= link_to "FIRST PAGE", sites_path(tab: tab, page: 1, order: params[:order], search: params[:search]), remote: true %>
        <%= js_will_paginate sites %>
        <%= link_to "LAST PAGE", sites_path(tab: tab, page: sites.total_pages, order: params[:order], search: params[:search]), remote: true %>
      <% end %>
    </div>
    <div class="pages fr <%= sites.total_pages > 1 ? 'mr-50' : '' %>">
      <%= link_to "SITES PER PAGE", "javascript:;" %>
      <%= link_to "10", "javascript:;", :data => { :value => '10', :tab => "#{tab}" }, class: "sites_per_page #{sites_per_page_class(10)}" %>
      <%= link_to "20", "javascript:;", :data => { :value => '20', :tab => "#{tab}" }, class: "sites_per_page #{sites_per_page_class(20)}" %>
      <%= link_to "30", "javascript:;", :data => { :value => '30', :tab => "#{tab}" }, class: "sites_per_page #{sites_per_page_class(30)}" %>
    </div>
  </div>
  <!--End footer pager-->
  <!--Start footer-->
  <div class="footerCon clearfix">
  	<span class="totalSites fl">Total Sites: <%= @total_sites %></span>
    <div class="copyRightBox">All Rights Reserved <%= Time.now.year %>:<%= image_tag("footlogo.png", alt: "")%></div>
  </div>
  <!--End Footer-->
</div>
<!--End mid Container-->

<!--Start mobile menu-->
<div class="mobMenuBg">
	<span class="closeePop"><%= image_tag("cross.png", alt: "")%></span>
	<div class="mobMenuCon1">
    <% site_tabs.each.with_index(1) do |site_tab, index| %>
      <% active_class = tab.present? ? (tab == site_tab ? 'active' : '') : (index == 1 ? 'active' : '') %>
      <%= link_to site_tab, root_path(tab: site_tab, order: params[:order], page: params[:page], search: params[:search]), remote: true, class: "#{active_class}" %>
    <% end %>
   </div>
</div>
<!--End mobile menu-->

<!--Start my report pop-->
<div class="popOverlay display-none" id="uploadFile"></div>
<!--End my report pop-->

<script>
  $(function(){
    $(".popOverlay").fadeOut(300);
    $("body").removeClass("hiddens");
    
    $(".sites_per_page").click(function(){
      tab = $(this).attr("data-tab");
      count = $(this).attr("data-value");
      if (parseInt(count) > 0) {
        $.ajax({
          url: "/?tab="+tab+"&count="+count,
          dataType: "script"
        });
      }
    });
  });
  
  $(document).mouseup(function (e) {
    var container = $(".dropmenu");
    var container1 = $(".dropDown");
    var container2 = $(".dropDown *");
    if (!container.is(e.target)  && !container1.is(e.target)    && !container2.is(e.target)  && container.has(e.target).length === 0) {
      $(".dropDown").slideUp(200);
  	  $(".dropmenu").removeClass("active");	
    } 
  });

  $(".dropmenu").click(function(){
  	if(!$(this).hasClass("active")){
  		$(".dropDown").slideUp(200);
      $(".dropmenu").removeClass("active");	
      $(this).addClass("active");
  		$(this).next(".dropDown").slideDown(200);	
  	} else {
  		$(this).removeClass("active");
  		$(this).next(".dropDown").slideUp(200);
  	}
  });
  
  /*--------------Dash menu-------------*/	
	$(".dashMenuIcon").click(function(){
		$(".dashNav").slideToggle(200);
	});
	
	
   /*--------------Filter-------------*/	
	var flag = 0;
	$(".showFilter").click(function(){
		$(".topFilter").slideToggle(200);
		$(".showFilter").toggleClass("open");
		if(flag == 0){
  		$(".showFilter label").text("Show Filter");
  		flag = 1;
		} else {
			$(".showFilter label").text("Hide Filter");
			flag = 0;
		}
	});

  $(".monMenu").click(function(){
  	$(".mobMenuBg").fadeIn(300);
  	$("body").addClass("hiddens");
  });
   
  $(".closePop").click(function(){								 
    $(".popOverlay").fadeOut(300);
    $("body").removeClass("hiddens");
  });
  
  $(".mobMenuBg").click(function(){
  	$(".mobMenuBg").fadeOut(300);										 
  	$("body").removeClass("hiddens");
  });

  (function($){
    $(".scrollbox").mCustomScrollbar({
      axis:"x",
      theme:"light-3",
      advanced:{autoExpandHorizontalScroll:true}
    });
    if($(window).width() > 767){
      $(".scrollbarCustom").mCustomScrollbar({
        axis:"Y",
        theme:"light-2"
      });
    }
  })(jQuery);
</script>
