<div class="site_item_form">
  <%= nested_form_for(site_item, url: save_site_item_site_path(site), method: :post, remote: true, html: {id: "save_site_item_form"}) do |f| %>
    <%= f.hidden_field :site_tab_id, value: site_tab.id %>
    <div class="siteFormRow tabAdded">
      <label class="siteLabel">Item Title
      </label>
      <%= f.text_field :title, class: "popInput", placeholder: "Enter Item Title" %>
    </div>
    <div class="siteFormRow tabAdded">
      <label class="siteLabel">Frequency</label>
      <!-- <select class="popInput">
        <option>Annual</option>
      </select> -->
      <%= f.text_field :frequency, class: "popInput", placeholder: "Enter Item Frequency" %>
    </div>
    
    <div id="questions" class="scrollbarCustom" style="height:165px;">
      <%= f.fields_for :site_item_questions do |f_site_item_question| %>
        <div class="siteFormRow tabAdded">
          <label class="siteLabel">Question</label>
          <%= f_site_item_question.text_field :question, class: "popInput pr50", placeholder: "Enter Question" %>
          <% if f_site_item_question.index != 0 %>
            <%= f_site_item_question.link_to_remove "<span class='deletIcon'></span>".html_safe %>
          <% end %>
          <%= f_site_item_question.check_box :required_for_compliant, id: "questions_attributes_#{f_site_item_question.index}_required_for_compliant", class: "cssCheckBox" %>
          <label for="questions_attributes_<%= f_site_item_question.index %>_required_for_compliant"  class="cicon"></span>
        </div>
      <% end %>
    </div>
    <%= f.link_to_add "Add question", :site_item_questions, data: { target: "#questions .mCSB_container" }, class: "EditokBtn" %>
    
    <div class="clearfix"></div>
    <div class="siteFormRow tabAdded itemReq">
      <span class="itemRequired">Item is Required for Site Compliance</span>
      <!-- <img src="/assets/check.png" alt="" class="checkbox"> -->
      <%= f.check_box :required_for_site_compliance, class: "cssCheckBox" %>
      <label for="site_item_required_for_site_compliance" class="cssLabel fr rfsc"></label>
    </div>
    <div class="siteFormRow tabAdded">
      <label class="siteLabel">Due Date for Item</label>
      <%= f.text_field :due_date, class: "popInput calInput", placeholder: "Select Due Date" %>
    </div>
    <div class="siteFormRow tabAdded">
      <label class="siteLabel">Item is marked as Due Soon</label>
      <!-- <select class="popInput">
        <option>20 weeks before due</option>
      </select> -->
      <%= f.text_field :due_soon, class: "popInput", placeholder: "Enter Due Soon" %>
    </div>
    
    <%= f.submit "Add Item", class: "addnewSiteBtn AddItem abtn mt20" %>
  <% end %>
</div>

<!-- validation -->
<script type="text/javascript">
  (function($){
    $(".scrollbox").mCustomScrollbar({
      axis:"x",
      theme:"light-3",
      advanced:{autoExpandHorizontalScroll:true}
    });
    if($(window).width() > 767){
      $(".scrollbarCustom").mCustomScrollbar({
        axis:"Y",
        theme:"light-2"
      });
    }
  })(jQuery);

  $(document).on('nested:fieldAdded', function(event){
    // this field was just inserted into your form
    var field = event.field;
    $("#" + field.find('input[type="text"]').attr('id')).rules("add", {
      required: true,
      noSpace: true,
      minlength: 8,
      maxlength: 255,
      messages: {
        required: "Please enter your Question.",
        noSpace: "Please enter valid Question.",
        minlength: "Your Question must be of minimum {0} characters.",
        maxlength: "Your Question must be of maximum {0} characters."
      }
    });
  });
  
  $(document).on('nested:fieldRemoved', function(event){
    // this field was just removed from your form
    var field = event.field;
    $("#" + field.find('input[type="text"]').attr('id')).rules("remove");
  });

  $(document).ready(function(){
    $('#site_item_due_date').datetimepicker({
      format: "DD/MM/YYYY"
    });
    
    $("#site_item_due_date").inputmask({
      mask: "1/2/y",
      placeholder: "dd/mm/yyyy",
      alias: "date"
    });
    
    $("#save_site_item_form").validate({
      rules: {
        "site_item[title]": {
          required: true,
          noSpace: true,
          maxlength: 125
        },
        "site_item[frequency]": {
          required: true,
          noSpace: true,
          maxlength: 125
        },
        "site_item[site_item_questions_attributes][0][question]": {
          required: true,
          noSpace: true,
          minlength: 8,
          maxlength: 255
        },
        "site_item[due_date]": {
          required: true
        },
        "site_item[due_soon]": {
          required: true,
          noSpace: true
        }
      },
      messages: {
        "site_item[title]": {
          required: "Please enter your Item title.",
          noSpace: "Please enter valid Item title.",
          maxlength: "Your Question must be of maximum {0} characters."
        },
        "site_item[frequency]": {
          required: "Please enter Frequency.",
          noSpace: "Please enter Frequency.",
          maxlength: "Your Question must be of maximum {0} characters."

        },
        "site_item[site_item_questions_attributes][0][question]": {
          required: "Please enter your Question.",
          noSpace: "Please enter valid Question.",
          minlength: "Your Question must be of minimum {0} characters.",
          maxlength: "Your Question must be of maximum {0} characters."
        },
        "site_item[due_date]": {
          required: "Please enter your Due date."
        },
        "site_item[due_soon]": {
          required: "Please enter your Due soon.",
          noSpace: "Please enter valid Due soon."
        }
      },
    });
  });
</script>