<% if site_item_question.compliant? %>
  <%= link_to "Y", site_item_question_compliant_path(site_item_question, tab: site_tab.id), class: "yesBtn fr", remote: true %>
<% else %>
  <%= link_to "N", site_item_question_compliant_path(site_item_question, tab: site_tab.id), class: "noBtn fr", remote: true %>
<% end %>