<% if site_tab.present? %>
  <% site_items = site_tab.site_items.where(site_id: site.id).eager_load(:site_item_questions).order("site_items.id ASC, site_item_questions.id ASC") %>
  <div class="scrollbox scrollbarCustomEdit">
    <table cellpadding="0" cellspacing="0" border="0">
      <tr id="site_tab_items">
        <td>
          <div class="editbox editbox2" id="tab_items_to_edit">
            <%= render partial: "tab_items_edit", locals: { site: site, site_tabs: site_tabs, site_tab: site_tab.present? ? site_tab : site_tabs.first } %>
          </div>
        </td>
        <% site_items.each.with_index(1) do |site_item, index| %>
          <%= render partial: "site_tab_item", locals: { site: site, site_item: site_item, site_tab: site_tab, index: index } %>
        <% end %>
      </tr>
    </table>
  </div>
<% end %>
