<% site_items.each.with_index do |site_item, index| %>
  <td class="midsmBox site_item" id="site_item_<%= site_item.id %>">
    <%= render partial: "site_item", locals: { site: site, site_tab: site_tab, site_item: site_item, index: index } %>
  </td>
<% end %>