<% site_items = site_tab.site_items.where(id: site_items, site_id: site.id).eager_load(:site_item_questions) %>
<% if site_items.present? %>
  <% @total_sites += 1 %>
  <div class="contaractorRow clearfix">
    <div class="innerBoxRow">
      <div class="contractorLeft"><%= site.name %></div>
      <div class="midScroll">
        <div class="scrollbox">
          <table cellpadding="0" cellspacing="0" border="0">
            <tr>
              <%= render partial: "site_items_contractor", locals: { site: site, site_items: site_items } %>
            </tr>
          </table>
        </div>
      </div>
      <div class="contractorRight" id="uploaded_files_<%= site.id %>">
        <%= render partial: "uploaded_files", locals: { site: site } %>
      </div>
    </div>
  </div>
<% end %>