<% site_items = site_tab.site_items.where(site_id: site.id).eager_load(:site_item_questions).order("site_items.id ASC, site_item_questions.id ASC") %>
<div class="singleRow clearfix">
  <span class="MobViewOnly"><%= site.name %></span>
  <div class="innerBoxRow">
    <div class="leftFixed">
      <% if site.status == "New Upload" %>
        <%= image_tag("newupload.png", alt: "", class: "newUpload") %>
        <span class="mobNewUpload">New<br> upload</span>
      <% end %>
      <span class="monMenu"></span>
      <span class="boxText"><%= site.name %></span>
      <%= link_to invitations_site_path(site, site_tab.id), class: "emailIcon", remote: true do %>
        <%= image_tag("email.png", alt: "") %>
      <% end %>
    </div>
    <div class="midScroll">
      <div class="scrollbox">
        <table cellpadding="0" cellspacing="0" border="0">
          <tr>
            <%= render partial: "site_items", locals: { site: site, site_tab: site_tab, site_items: site_items } %>
          </tr>
        </table>
      </div>
    </div>
    <% annual_time = (site.annual_compliance_due.to_datetime - DateTime.now).to_i %>
    <div class="rightFixed <%= ('greenHeader' if site.compliant?) || ('yellowbg' if (annual_time >= 0) && (annual_time < 30)) || 'redHeader' %>">
      <div class="infoIcon"><%= image_tag("infoicon.png", alt: "") %></div>
      <div class="mobPop">
        <% if site.compliant? %>
          <span class="rightBoxText coplentTxt">COMPLIANT</span>
        <% elsif (annual_time >= 0) && (annual_time < 30) %>
          <span class="rightBoxText">COMPLIANCE <br> DUE SOON</span>
        <% else %>
          <span class="rightBoxText">NOT <br> COMPLIANT</span>
        <% end %>
        <span class="annualCom">ANNUAL COMPLIANCE <br> DUE <%= site.annual_compliance_due.strftime("%d/%m/%Y") %></span>
      </div>
      <%= link_to edit_site_path(site, tab: @tab, page: @page, order: @order, search: params[:search], from_date: params[:from_date], to_date: params[:to_date]), class: "editIcon", remote: true do %>
        <%= image_tag("edit.png", alt: "") %>
      <% end %>
    </div>
  </div>
</div>
