<td class="midsmBox site_item" id="site_item_<%= site_item.id %>">
  <div class="contractrBox">
    <div class="conHd"><%= site_item.title %> <br> <%= site_item.frequency %></div>
    <div class="uploadFile">
      <%= link_to upload_site_item_file_path(site, site_item), class: "c0070c0", id: "", remote: true do %>
        <%= image_tag("uploadfile.png", alt: "") %>UPLOAD FILE
      <% end %>
    </div>
  </div>
</td>