<div class="semoreItem">
  <div class="middetBox middetBoxPop transition">
    <% if site_item.status == "New Upload" %>
      <%= image_tag("newbig.png", alt: "", class: "newUpload") %>
    <% elsif site_item.status == "Pending" %>
      <%= image_tag("big-pending.png", alt: "", class: "newUpload") %>
    <% end %>
    <% due_time = (site_item.due_date.to_datetime - DateTime.now).to_i %>
    <div class="boxHeader <%= site_item.required_for_site_compliance? ? ('greenHeader' if site_item.compliant?) || ('yellowbg' if (due_time >= 0) && (due_time < 30)) || 'redHeader' : 'grayHeader' %>">
      <%= site_item.title %><br/><%= site_item.frequency %>
      <%= link_to "javascript:;", class: "okBtn" do %>
        <%= ('OK' if site_item.compliant?) || ('DUE' if (due_time >= 0) && (due_time < 30)) || 'DUE' %>
      <% end %>
    </div>
    <div class="boxDetails">
      <div class="scrollbarCustom">
        <% site_item.site_item_questions.each do |site_item_question| %>
          <div class="smdetailsRow clearfix">
            <span class="smtxt fl"><%= site_item_question.question %></span>
            <span class="site_item_question_compliant_<%= site_item_question.id %>">
              <%= render partial: "site_item_question_compliant", locals: {site_item_question: site_item_question, site_tab: site_tab} %>
            </span>
          </div>
        <% end %>
      </div>
      <div class="smdetailsRow lastRows clearfix">
        <span class="nextDueDate fl">Next Due <%= site_item.due_date.strftime("%d/%m/%Y") %></span>
        <% if ((current_role.include? "manager") && current_user.permissions.present? && (current_user.permissions.include? "manage_documents")) || (current_role.include? "company") %>
          <%= link_to "Documents", site_documents_path(site, site_item), class: "documentLink fr", remote: true %>
        <% end %>
      </div>
    </div>
  </div>
</div>
