<!--Start see more pop up-->
<div class="seemorePopupCon transition">
  <span class="closeePop"><%= image_tag("cross.png", alt: "")%></span>
  <div class="seeMorePop">
    <div class="seemoreSlider clearfix">
      <% site_items.each do |site_item| %>
        <div id="site_item_see_more_<%= site_item.id %>">
          <%= render partial: "site_item_see_more", locals: { site: site, site_tab: site_tab, site_item: site_item } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!--End see more pop up-->