<div class="addsiteHd greenBg">Tab Items to Edit</div>
<div class="siteFormRow">
  <label class="siteLabel">&nbsp;</label>
  <%= select_tag :site_tab, options_from_collection_for_select(site_tabs, :id, :name, site_tab.try(:id)), include_blank: false, class: "popInput bigSelect" %>
</div>

<script type="text/javascript">
  $(function(){
    $("#site_tab").change(function(e){
      if($("#site_tab").val().length > 0) {
        $.get( "<%= get_site_items_site_path(site) %>", { site_tab_id: $("#site_tab").val() });
      }
    });
  });
</script>