<div class="transparentBox">
  <div class="innerPopWhite">
    <div class="popbox">
      <div class="popHeader clearfix">
        <div class="popHd fl">Upload File</div>
        <span class="closePop fr">X</span>
      </div>
      <div class="popdetails">
        <%= form_for(site_item_document, url: create_site_item_file_path(site, site_item), method: :post, remote: true) do |f| %>
          <div class="myreportCon clearfix">
            <div class="reportBox fl">
              <div class="addsiteHd blurBg">Site</div>
              <div class="siteFormRow">
                <div class="boldText"><%= site.name %></div>
              </div>
            </div>
            <div class="reportBox fl">
              <div class="addsiteHd blurBg">Item</div>
              <div class="siteFormRow">
                <div class="boldText"><%= site_item.title %> <br> <%= site_item.frequency %></div>
              </div>
            </div>
            <div class="reportBox fl">
              <div class="addsiteHd blurBg">Upload File</div>
              <div class="documentRow">
                <input class="popInput" placeholder="Upload file" type="text" id="upload_file_name_<%= site_item.id %>" disabled="disabled">

                <%= link_to "javascript:;" , class: "docuemntBtn grayBtn fr mtmr" do %>
                Browse <%= f.file_field :file, required: true, class: "browse", id: "site_item_document_file_#{site_item.id}" %>
                <% end %>

              </div>
              <div class="clearfix"></div>
              <div class="documentRow">
                <span class="smalltxt w100">Only <%= upload_document_file_types.join(', ') %> file types are allowed.</span>
              </div>
              <%= f.submit "Upload File", class: "saveBtn saveBtnRelative abtn" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- validation -->
<script type="text/javascript">
  $(document).ready(function(){
    $("#site_item_document_file_<%= site_item.id %>").change(function(){
      filename = $(this).val().split('\\').pop();
      $("#upload_file_name_<%= site_item.id %>").val(filename);
    });
    
    $("#new_site_item_document").validate({
      rules: {
        "site_item_document[file]": {
          required: true,
          extension: "<%= upload_document_file_types.join('|') %>"
        }
      },
      messages: {
        "site_item_document[file]": {
          required: "Please Upload a file.",
          extension: "Only <%= upload_document_file_types.join('/') %> file types are allowed."
        }
      },
    });
  });
</script>
