<% upload_notifications.each do |upload_notification| %>
  <% site_item_document = upload_notification.site_item_document %>
  <div class="notifRow clearfix">
    <%= link_to site_item_document.site.name, "javascript:;", class: "notiHd" %>
    <% site_item = site_item_document.site_item %>
    <p>
      <%= site_item.title %> - <%= site_item.frequency %><br/>
      <%= upload_notification.body %> - <%= link_to site_item_document.file_identifier, site_item_document.file.url, download: '', style: "color: #0859a9;" %>
    </p>
    <!-- <span class="closeIcon pr10">X</span> -->
  </div>
<% end %>