<% files_received = site_files_received(site) %>
<p class="pluralize_files_received_main"><%= pluralize(files_received.size, "File") %> received</p>
<p class="pluralize_files_received">
  <%= link_to pluralize(files_received.size, "File") + " received", "javascript:;", class: "cfff see_more_#{site.id}" %>
</p>
<% if files_received.size > 0 %>
  <% files_received.first(2).each do |file_received| %>
    <span class="file_received"><%= link_to file_received.file_identifier.truncate(20), file_received.file.url, download: '',class: "cfff"  %></span>
  <% end %>
  <% if files_received.size > 2 %>
    <span class="file_received"><%= link_to "See more", "javascript:;", class: "seeMoreDocument see_more_#{site.id}" %></span>
  <% end %>
<% end %>

<!--Start see more documents pop-->
<div class="popOverlay seeMoreDocumentPop display-none" id="seeMoreDocument_<%= site.id %>">
  <div class="transparentBox">
    <div class="innerPopWhite">
      <div class="popbox">
        <div class="popHeader clearfix">
          <div class="popHd fl">Files Received</div>
          <span class="closePop fr">X</span>
        </div>
        <div class="popdetails">
          <div class="myreportCon clearfix">
            <div class="reportBox fl">
              <div class="addsiteHd blurBg">Site</div>
              <div class="siteFormRow">
                <div class="boldText"><%= site.name %></div>
              </div>
            </div>
            <div class="reportBox fl mr0" >
              <div class="addsiteHd blurBg">Files</div>
              <div class="siteFormRow">
                <div class="boldText">
                  <% files_received.each do |file_received| %>
                    <span class="fl"><%= link_to file_received.file_identifier.truncate(25), file_received.file.url, download: '', class: "c0070c0" %></span><br />
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End see more documents pop-->

<script>
  $(function(){
    $(".see_more_<%= site.id %>").click(function(){
    	$("#seeMoreDocument_<%= site.id %>").fadeIn(300);
    	$("body").addClass("hiddens");
    });
    
    $(".closePop").click(function(){								 
      $(".popOverlay").fadeOut(300);
      $("body").removeClass("hiddens");
    });	
  });
</script>