<% if @saved %>
	$("#uploaded_files_<%= @site.id %>").html("<%= j(render partial: 'uploaded_files', locals: { site: @site }) %>");
	$(".closePop").click();

	<% publish_to "/upload_notifications/#{@upload_notification.user_id}" do %>
		$('.notifications').html("<%= @upload_notifications.length %>");
	  $("#upload_notifications").html("<%= j(render partial: 'upload_notifications', locals: { upload_notifications: @upload_notifications}) %>");
	<% end %>
<% else %>
	$("#error_messages").html("<%= j(model_error_messages(@site_item_document)) %>");
<% end %>
