<% if @saved %>
	$(".closePop").click();
	$("#editSitePop").html("<%= j(render partial: 'edit_site_form', locals: { site: @site, site_tabs: @site_tabs, site_tab: @site_tab, static_page: @static_page }) %>");
	$("#editSitePop").fadeIn(300);
	$("body").addClass("hiddens");

	$(".closePop").click(function(){								 
	  $(".popOverlay").fadeOut(300);
	  $("body").removeClass("hiddens");
	});

	(function($){
	  $(".scrollbox").mCustomScrollbar({
	    axis:"x",
	    theme:"light-3",
	    advanced:{autoExpandHorizontalScroll:true}
	  });
	  if($(window).width() > 767){
	    $(".scrollbarCustom").mCustomScrollbar({
	      axis:"Y",
	      theme:"light-2"
	    });
	  }
	})(jQuery);
	
	// document.title = "Edit Site Information"
	// if (history && history.pushState) {
	// 	history.pushState(null, document.title, "<%#= edit_site_path(@site) %>");
	// 	$(window).bind("popstate", function() {
	// 		$.getScript(location.href);
	// 	});
	// }
<% else %>
	$("#error_messages").html("<%= j(model_error_messages(@site)) %>");
<% end %>

$("#site_name").focus();
// set_footer();
// $('html').scrollTop(0);