// $("#destroy_show").modal("hide");
// $('body').removeClass('modal-open');
// $('.modal-backdrop').remove();

$("#container_content").html("<%= j(render partial: 'sites', locals: { site_tabs: @site_tabs, tab: @tab, sites: @sites, compliant_sites: @compliant_sites, not_compliant_sites: @not_compliant_sites, due_compliant_sites: @due_compliant_sites, static_page: @static_page }) %>");
// document.title = "Sites"
// if (history && history.pushState) {
// 	history.pushState(null, document.title, "<%#= root_path(tab: @tab) %>");
// 	$(window).bind("popstate", function(){
// 		$.getScript(location.href);
// 	});
// }

// set_footer();
// $('html').scrollTop(0);

$(".popOverlay").fadeOut(300);
$("body").removeClass("hiddens");
