<% if @saved %>
  $("#select_new_item").val("");
  $("#duplicate_last_item").hide();
  $("#site_tab_items").append("<%= j(render partial: 'site_tab_item', locals: { site: @site, site_tab: @new_site_item.site_tab, site_item: @new_site_item, index: @site_items_size }) %>");
  
  (function($){
    $(".scrollbox").mCustomScrollbar({
      axis:"x",
      theme:"light-3",
      advanced:{autoExpandHorizontalScroll:true}
    });
    if($(window).width() > 767){
      $(".scrollbarCustom").mCustomScrollbar({
        axis:"Y",
        theme:"light-2"
      });
    }
  })(jQuery);
<% else %>
<% end %>