<% if @site_tab.present? %>
  $("#site_tab_items").html("<%= j(render partial: 'site_tab_items', locals: { site: @site, site_tabs: @site_tabs, site_tab: @site_tab.present? ? @site_tab : @site_tabs.first }) %>");
<% end %>

(function($){
  $(".scrollbox").mCustomScrollbar({
    axis:"x",
    theme:"light-3",
    advanced:{autoExpandHorizontalScroll:true}
  });
  if($(window).width() > 767){
    $(".scrollbarCustom").mCustomScrollbar({
      axis:"Y",
      theme:"light-2"
    });
  }
})(jQuery);