<% content_for(:title) do %>
  Sites
<% end %>

<% if current_role.include? "contractor" %>
  <%= render partial: 'sites_contractor', locals: { site_tabs: @site_tabs, site_items: @site_items, tab: @tab, sites: @sites, site_item_invitations: @site_item_invitations, static_page: @static_page } %>
<% else %>
  <%= render partial: 'sites', locals: { site_tabs: @site_tabs, tab: @tab, sites: @sites, compliant_sites: @compliant_sites, not_compliant_sites: @not_compliant_sites, due_compliant_sites: @due_compliant_sites, upload_notifications: @upload_notifications, static_page: @static_page } %>
<% end %>