<% if current_role.include? "contractor" %>
  $("#container_content").html("<%= j(render partial: 'sites_contractor', locals: { site_tabs: @site_tabs, site_items: @site_items, tab: @tab, sites: @sites, site_item_invitations: @site_item_invitations, static_page: @static_page }) %>");
<% else %>
  $("#container_content").html("<%= j(render partial: 'sites', locals: { site_tabs: @site_tabs, tab: @tab, sites: @sites, compliant_sites: @compliant_sites, not_compliant_sites: @not_compliant_sites, due_compliant_sites: @due_compliant_sites, upload_notifications: @upload_notifications, static_page: @static_page }) %>");
<% end %>

$(".sites_per_page").removeClass("active");
$(".sites_per_page[data-value='<%= current_user.sites_per_page %>']").addClass("active");

document.title = "Sites"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= root_path(page: @page, tab: @tab, order: @order, search: @search, from_date: @from_date, to_date: @to_date) %>".replace(/amp;/g, ""));
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}

// set_footer();
$('html').scrollTop(0);