$("#addSitePop").html("<%= j(render partial: 'form', locals: { site: @site, static_page: @static_page }) %>");
$("#addSitePop").fadeIn(300);
$("body").addClass("hiddens");

$(".closePop").click(function(){								 
  $(".popOverlay").fadeOut(300);
  $("body").removeClass("hiddens");
});
// document.title = "Add New Site"
// if (history && history.pushState) {
// 	history.pushState(null, document.title, "<%#= new_site_path %>");
// 	$(window).bind("popstate", function(){
//     $.getScript(location.href);
//   });
// }
$("#site_name").focus();
// set_footer();
// $('html').scrollTop(0);