<% if @saved %>
  $(".site_item_form").html("");
  $("#select_new_item").val("");
  $("#site_tab_items").append("<%= j(render partial: 'site_tab_item', locals: { site: @site, site_item: @site_item, site_tab: @site_item.site_tab, index: @site_items_size }) %>");
  
  (function($){
    $(".scrollbox").mCustomScrollbar({
      axis:"x",
      theme:"light-3",
      advanced:{autoExpandHorizontalScroll:true}
    });
    if($(window).width() > 767){
      $(".scrollbarCustom").mCustomScrollbar({
        axis:"Y",
        theme:"light-2"
      });
    }
  })(jQuery);
<% else %>
<% end %>