$("#see_more_<%= @site_item_id %>").html("<%= j(render partial: 'site_items_see_more', locals: { site: @site, site_tab: @site_tab, site_items: @site_items, site_item_id: @site_item_id }) %>");

(function($){
  $(".scrollbox").mCustomScrollbar({
    axis:"x",
    theme:"light-3",
    advanced:{autoExpandHorizontalScroll:true}
  });
  if($(window).width() > 767){
    $(".scrollbarCustom").mCustomScrollbar({
      axis:"Y",
      theme:"light-2"
    });
  }
})(jQuery);

function owlSlder(){
	var owl = $('.seemoreSlider');
	owl.owlCarousel({
    startPosition:<%= @item_index %>,
    items:3,
    loop:true,
    center:true,
    margin:20,
    touchDrag:true,
    nav: true,
    autoplay:false,
    autoplayTimeout:1000,
    smartSpeed: 800,
    responsiveClass:true,
    responsive:{
      0:{
    		items:1,
    		nav:true,
    		margin:0
      },
      480:{
    		items:1,
    		nav:true,
    		margin:0
      },
      768:{
    		items:3,
    		nav:true,
    		margin:10
      },
      980:{
    		items:3,
    		nav:true
      }
    },
    autoplayHoverPause:true
	});
}

$(document).ready(function(){
  owlSlder();
  /*--------------seemore popup--------------*/
  $(".seemorePopupCon").addClass("open");
  
  $(".closeePop").click(function(){
    $("#see_more_<%= @site_item_id %>").html("");
    $(".seemorePopupCon").removeClass("open");
  });
});