$(".site_item_question_compliant_<%= @site_item_question.id %>").html("<%= j(render partial: 'site_item_question_compliant', locals: {site_item_question: @site_item_question, site_tab: @site_tab}) %>");

<% if @replace_item %>
  $("#site_item_<%= @site_item.id %>").html("<%= j(render partial: 'site_item', locals: { site: @site, site_tab: @site_tab, site_item: @site_item, index: @index }) %>");
  $("#site_item_see_more_<%= @site_item.id %>").html("<%= j(render partial: 'site_item_see_more', locals: { site: @site, site_tab: @site_tab, site_item: @site_item }) %>");
<% end %>

<% if @replace_site %>
  $("#site_<%= @site.id %>").html("<%= j(render partial: 'site', locals: { site: @site, site_tab: @site_tab }) %>");
  $("#compliance_box").html("<%= j(render partial: 'shared/compliance_box', locals: {not_compliant_sites: @not_compliant_sites, due_compliant_sites: @due_compliant_sites}) %>");
  $("#compliant_sites_count").html("<%= @compliant_sites %>");
<% end %>
