<% if @saved %>
	$("#tab_items_to_edit").html("<%= j(render partial: 'tab_items_edit', locals: { site: @site, site_tabs: @site_tabs, site_tab: @site_tab.present? ? @site_tab : @site_tabs.first }) %>");
	$("#site_tab_items_edit").html("<%= j(render partial: 'site_tab_items', locals: { site: @site, site_tabs: @site_tabs, site_tab: @site_tab.present? ? @site_tab : @site_tabs.first }) %>");
<% else %>
	$("#error_messages").html("<%= j(model_error_messages(@site)) %>");
<% end %>

(function($){
	$(".scrollbox").mCustomScrollbar({
		axis:"x",
		theme:"light-3",
		advanced:{autoExpandHorizontalScroll:true}
	});
	if($(window).width() > 767){
		$(".scrollbarCustom").mCustomScrollbar({
			axis:"Y",
			theme:"light-2"
		});
	}
})(jQuery);
// set_footer();
// $('html').scrollTop(0);