<% if @saved %>
	// $("#site_tab_item_<%#= @site_item.id %>").html("<%#= j(render partial: 'site_tab_item', locals: { site: @site, site_tab: @site_item.site_tab, site_item: @site_item, index: @site_items_size }) %>");
<% else %>
	$("#error_messages").html("Not updated");
<% end %>

// set_footer();
// $('html').scrollTop(0);