$("#uploadFile").html("<%= j(render partial: 'upload_file', locals: { site: @site, site_item: @site_item, site_item_document: @site_item_document }) %>");
$("#uploadFile").fadeIn(300);
$("body").addClass("hiddens");

$(".closePop").click(function(){								 
  $(".popOverlay").fadeOut(300);
  $("body").removeClass("hiddens");
});