<div class="transparentBox">
  <div class="innerPopWhite">
    <div class="popbox">
      <div class="popHeader clearfix">
        <div class="popHd fl">My Report</div>
        <span class="closePop fr">X</span>
      </div>
      <div class="popdetails">
        <%= form_for(report, url: reports_path, method: :post, remote: false) do |f| %>
          <span class="" id="error_messages"><%= model_error_messages(report) %></span>
          <div class="myreportCon clearfix">
            <div class="reportBox fl">
              <div class="addsiteHd blurBg">Site</div>
              <div class="siteFormRow">
                <label class="siteLabel autoHeight">Site(s)</label>
                <%#= f.select :sites, ([["All Sites", "all_sites"], ["Compliant Sites", "compliant_sites"], ["Due Soon Sites", "due_soon_sites"], ["Non-Compliant Sites", "non_compliant_sites"], ["Due & Non-Compliant Sites", "due_non_compliant_sites"]] + sites.map {|site| [site.name, site.id]}), { include_blank: false }, class: "popInput blueSelect" %>
                <select class="popInput blueSelect" name="report[sites]" id="report_sites">
                  <option value="all_sites">All Sites</option>
                  <option value="compliant_sites">Compliant Sites</option>
                  <option value="due_soon_sites">Due Soon Sites</option>
                  <option value="non_compliant_sites">Non-Compliant Sites</option>
                  <option value="due_non_compliant_sites">Due &amp; Non-Compliant Sites</option>
                  <% sites.each do |site| %>
                    <option value="<%= site.id %>" class="ov"><%= site.name %></option>
                  <% end %>
                </select>
              </div>
              <div class="addsiteHd blurBg ab">Report Type</div>
              <div class="siteFormRow">
                <%= f.select :report_type, ([["Compliance Report", "compliance_report"], ["Full Building Report", "full_building_report"], ["Let me choose what I want in my Report", "let_me_choose_report"]]), { include_blank: false }, class: "popInput blueSelect" %>
              </div>
            </div>

            <div class="reportBox fl display-non" id="tabs_include">
              <div class="addsiteHd grayheaderBg">Tabs to Include</div>
              <div class="reportRow clearfix">
                <span class="labeltxt fl">All Tabs</span>
                <input type="checkbox" id="all_tabs" class="cssCheckBox" name="report[tabs][]" value="All Tabs">
                <label for="all_tabs" class="cssLabel fr mr5"></label>
              </div>
              <div class="reportRow clearfix">
                <span class="labeltxt fl scf">OR</span>
              </div>
              <div class="scrollbarCustom" style="height:170px;">
                <% site_tabs.each do |site_tab| %>
                  <div class="reportRow clearfix">
                    <span class="labeltxt fl"><%= site_tab %></span>
                    <input type="checkbox" id="<%= site_tab.parameterize.underscore %>" class="cssCheckBox all_tabs" name="report[tabs][]" value="<%= site_tab %>">
                    <label for="<%= site_tab.parameterize.underscore %>" class="cssLabel fr mr5"></label>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="reportBox fl display-non" id="items_include">
              <div class="addsiteHd grayheaderBg">Items to Include</div>
              <div class="reportRow clearfix">
                <span class="labeltxt fl">All Items</span>
                <input type="checkbox" id="all_items" class="cssCheckBox" name="report[items][]" value="all_items">
                <label for="all_items" class="cssLabel fr"></label>
              </div>
              <div class="reportRow clearfix">
                <span class="labeltxt fl scf">OR</span>
              </div>
              <div class="reportRow clearfix">
                <span class="labeltxt fl">Compliant Items</span>
                <input type="checkbox" id="8" class="cssCheckBox all_items" name="report[items][]" value="compliant_items">
                <label for="8" class="cssLabel fr"></label>
              </div>
              <div class="reportRow clearfix">
                <span class="labeltxt fl">Due Soon Items</span>
                <input type="checkbox" id="7" class="cssCheckBox all_items" name="report[items][]" value="due_soon_items">
                <label for="7" class="cssLabel fr"></label>
              </div>
              <div class="reportRow clearfix">
                <span class="labeltxt fl">Non-Compliant Items</span>
                <input type="checkbox" id="9" class="cssCheckBox all_items" name="report[items][]" value="non_compliant_items">
                <label for="9" class="cssLabel fr"></label>
              </div>

            </div>
            
            <div class="reportBox fl">
              <div class="addsiteHd blurBg">Documents to Include</div>
              <div class="reportRow clearfix">
                <span class="labeltxt fl">All Current Documents</span>
                <input type="checkbox" id="all_current_documents" class="cssCheckBox" name="report[documents][]" value="all_current_documents">
                <label for="all_current_documents" class="cssLabel fr"></label>
              </div>

              <div class="reportRow clearfix">
                <span class="labeltxt fl">Archived Documents</span>
                <input type="checkbox" id="archived_documents" class="cssCheckBox" name="report[documents][]" value="archived_documents">
                <label for="archived_documents" class="cssLabel fr"></label>
              </div>
              <div class="reportRow clearfix">
                <span class="labeltxt fl ptc">
                  Link to Documents <span class= "cf">Expires</span> after how many days
                </span>
                <%= f.select :document_expires, ([[90, 90]]), { include_blank: false }, class: "popInput blueSelect fr wpr" %>
              </div>
            </div>

            <div class="reportBox fl">
              <div class="addsiteHd blurBg">Report Format</div>
              <div class="reportRow clearfix">
                <span class="labeltxt fl">Pdf</span>
                <input type="checkbox" id="pdf" class="cssCheckBox" name="report[report_format][]" value="pdf">
                <label for="pdf" class="cssLabel fr"></label>
              </div>
              <div class="reportRow clearfix">
                <span class="labeltxt fl scf">OR</span>
              </div>
              <div class="reportRow clearfix">
                <span class="labeltxt fl">Excel</span>
                <input type="checkbox" id="excel" class="cssCheckBox" name="report[report_format][]" value="excel">
                <label for="excel" class="cssLabel fr"></label>
              </div>
              <div class="reportRow clearfix">
                <span class="labeltxt fl scf">OR</span>
              </div>
              <div class="reportRow clearfix">
                <span class="labeltxt fl">Doc</span>
                <input type="checkbox" id="doc" class="cssCheckBox" name="report[report_format][]" value="doc">
                <label for="doc" class="cssLabel fr"></label>
              </div>

              <div class="reportRow clearfix m40">
                <span class="labeltxt fl ptc">Would you like to stamp and lock the document from editing?
                </span>
                <input type="checkbox" id="lock_document" class="cssCheckBox" name="report[lock_document]" value="1">
                <label for="lock_document" class="cssLabel fr"></label>
              </div>
              <div class="reportRow clearfix">
                <span class="smalltext1">
                  <abbr class="tdu">Note:</abbr>
                  This will place a date/time stamp on the document and will prevent others from modifying the document</span>
              </div>
              <div class="reportRow clearfix ab">
                <span class="smalltext1">Only available for
                  <span class="cf">PDF</span>
                </span>
              </div>

              <div></div>
            </div>

            <div class="reportBox fl">
              <div class="addsiteHd blurBg">How would you like it sent</div>
              <div class="reportRow clearfix">
                <span class="labeltxt fl">Download Report</span>
                <input type="checkbox" id="download_report" class="cssCheckBox" name="report[send_report][]" value="download_report">
                <label for="download_report" class="cssLabel fr"></label>
              </div>
              <div class="reportRow clearfix">
                <span class="labeltxt fl scf">OR</span>
              </div>
              <div class="reportRow clearfix">
                <span class="labeltxt fl">Email Report</span>
                <input type="checkbox" id="email_report" class="cssCheckBox" name="report[send_report][]" value="email_report">
                <label for="email_report" class="cssLabel fr"></label>
              </div>
              <div id="email_report_to" class="display-non">
                <div class="reportRow clearfix">
                  <span class="labeltxt fl blueClr mb5" >Who would you like to Email</span>
                  <!-- <input class="popInput" type="text" placeholder="Your email is default"> -->
                  <%= f.select :to_email, [], { include_blank: false }, multiple: true, class: "popInput blueSelect", data: {placeholder: "To Emails"} %>
                </div>
                <div class="reportRow clearfix">
                  <span class="labeltxt fl cfwb">OR</span>
                </div>
                <div class="reportRow clearfix">
                  <!-- <input class="popInput" type="text" placeholder="council@afss.com.au"> -->
                  <%= f.select :cc_email, [], { include_blank: false }, multiple: true, class: "popInput blueSelect", data: {placeholder: "CC Emails"} %>
                </div>
              </div>
              <%= f.submit "GO", class: "saveBtn saveBtnRelative abtn" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  (function($){
    $(".scrollbox").mCustomScrollbar({
      axis:"x",
      theme:"light-3",
      advanced:{autoExpandHorizontalScroll:true}
    });
    if($(window).width() > 767){
      $(".scrollbarCustom").mCustomScrollbar({
        axis:"Y",
        theme:"light-2"
      });
    }
  })(jQuery);

  $(function(){
    $("#all_tabs").change(function(){
      if ($(this).is(":checked")) {
        // $(".all_tabs").attr('checked','checked');
        $(".all_tabs").click();
      } else {
        $(".all_tabs").removeAttr('checked');
      }
    });
    
    // $(".all_tabs").change(function(){
    //   if(!$(this).is(":checked")) {
    //     $("#all_tabs").removeAttr('checked');
    //   }
    // });
    
    $("#all_items").change(function(){
      if ($(this).is(":checked")) {
        $(".all_items").click();
        // $(".all_items").attr('checked','checked');
      } else {
        $(".all_items").removeAttr('checked');
      }
    });
    
    // $("#report_sites").select2();
    
    $("#report_to_email").select2({
      tags: true,
      tokenSeparators: [',', ' ']
    });
    
    $("#report_cc_email").select2({
      tags: true,
      tokenSeparators: [',', ' ']
    });
    
    $("#report_report_type").change(function(){
      report_type = $(this).find('option:selected').val();
      if (report_type.length > 0) {
        if (report_type == "let_me_choose_report") {
          $("#tabs_include").show();
          $("#items_include").show();
        } else {
          $("#tabs_include").hide();
          $(".all_tabs").removeAttr('checked');
          $("#items_include").hide();
          $(".all_items").removeAttr('checked');
        }
      }
    });
    
    $("#email_report").change(function(){
      if ($(this).is(":checked")) {
        $("#email_report_to").show();
      } else {
        $("#email_report_to").hide();
      }
    });
  });
</script>