<% if @saved %>
	$(".closePop").click();
<% else %>
	$("#error_messages").html("<%= j(model_error_messages(@report)) %>");
<% end %>

$("#report_sites").focus();
// set_footer();
// $('html').scrollTop(0);