$("#myReport").html("<%= j(render partial: 'form', locals: { sites: @sites, site_tabs: @site_tabs, report: @report }) %>");
$("#myReport").fadeIn(300);
$("body").addClass("hiddens");

$(".closePop").click(function(){								 
  $(".popOverlay").fadeOut(300);
  $("body").removeClass("hiddens");
});


// document.title = "My Report"
// if (history && history.pushState) {
// 	history.pushState(null, document.title, "<%#= my_report_path %>");
// 	$(window).bind("popstate", function(){
//     $.getScript(location.href);
//   });
// }

// set_footer();
// $('html').scrollTop(0);