<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0">
		<!--[if lt IE 9]>
			<script type="text/javascript" src="/assets/html5.js"></script>
			<script src="/assets/placeholder.js"></script>
		<![endif]-->
	  <title><%= yield(:title) %></title>
	  <%= stylesheet_link_tag 'application' %>
	  <%= javascript_include_tag 'application' %>
		<%= javascript_include_tag :defaults, "http://localhost:9292/faye.js" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<!--Start main Container-->
		<div class="mainCon">
			<%= render partial: 'shared/header', locals: { static_page: @static_page } %>
			<!-- <div id="header_links">
				<% if user_signed_in? %>
					<%= link_to "Sites", sites_path, remote: true, class: "text-dec-none" %> | <%= link_to "Item Templates", item_templates_path, remote: true, class: "text-dec-none" %> | <%= link_to "Preferred Email List", user_preferred_emails_path, remote: true, class: "text-dec-none" %> | <%= link_to "Notification Templates", user_notification_templates_path, remote: true, class: "text-dec-none" %> | <%= link_to "My User Settings", my_settings_path, remote: true, class: "text-dec-none" %> | <%= link_to "Employee/ Manager user management", users_management_path, remote: true, class: "text-dec-none" if current_role.include?("company") %> | <%= link_to "News", news_path, remote: true, class: "text-dec-none" %> | <%= link_to "Services", services_path, remote: true, class: "text-dec-none" %> | <%= link_to "Teams", teams_path, remote: true, class: "text-dec-none" %> | <%= link_to "Send Inquiry", inquiry_path, remote: true, class: "text-dec-none" %> | <%= link_to "Features", features_path, remote: true, class: "text-dec-none" %>
				<% end %>
			</div> -->
	    <div id="container_content" class="<%= ((params[:controller] == 'home') and (params[:action] == 'index')) ? '' : 'mt-80' %>">
				<%= notice %>
				<%= alert %>
	      <%= yield %>
	    </div>
	    <%= render partial: 'shared/footer', locals: { static_page: @static_page, newsletter: @newsletter } %>
		</div>
		<!--End main Container-->
		<%= javascript_include_tag 'function' %>
	</body>
</html>
