<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0">
		<!--[if lt IE 9]>
			<script type="text/javascript" src="/assets/html5.js"></script>
			<script src="/assets/placeholder.js"></script>
		<![endif]-->
	  <title><%= yield(:title) %></title>
	  <%= stylesheet_link_tag 'application' %>
	  <%= javascript_include_tag 'application' %>
	  <%= csrf_meta_tags %>
	</head>
	<body class="dash-back">
		<!--Start main Container-->
		<div class="mainCon dashCon">
			<%= render partial: 'shared/dashboard_header', locals: { static_page: @static_page } %>
	    <div id="container_content">
				<%= notice %>
				<%= alert %>
	      <%= yield %>
	    </div>
		</div>
		<div class="ajax-loading">
		  <span>
		    <p id="please_wait"><strong>Please wait..</strong></p>
		    <p><i class="glyphicon glyphicon-refresh gly-spin" aria-hidden="true"></i></p>
		  </span>
		</div>
		<!--End main Container-->
	  <%= javascript_include_tag 'function' %>
	</body>
</html>
