<div class="documentRow">
	<div id="document_<%= current_document.id %>">
		<span class="docFile"><%= link_to current_document.file_identifier, current_document.file.url, download: '' %></span>
		<%= link_to "Archive", archive_document_path(current_document.id), remote: true, data: {confirm: "Are you sure?"}, class: "docuemntBtn redBtn" %>
	</div>
</div>

<div class="documentRow">
	<%= form_for(current_document, url: due_soon_document_path(current_document), method: :post, remote: true, html: { id: "due_soon_document" }) do |f| %>
		<span class="smalltxt">Current Documents are automatically archived when Due Soon notice appears</span>
		<%= f.check_box :automatic_archive, class: "cssCheckBox" %>
		<label for="site_item_document_automatic_archive" class="cssLabel fr"></label>
	<% end %>
</div>

<script type="text/javascript">
	$(function() {
		$("#site_item_document_automatic_archive").change(function() {
			$("#due_soon_document").submit();
		});
	})
</script>