<div class="addsiteHd  blueBg">Current Compliance Documents</div>
<% current_documents.each do |current_document|%>
	<%= render partial: "current_document", locals: { current_document: current_document }%>
<% end %>
