<div class="transparentBox">
	<div class="innerPopWhite">
		<div class="popbox">
			<div class="popHeader clearfix">
				<div class="popHd fl">Documents
					<div><%= site.name %> - <%= site_item.title %></div>
				</div>
				<span class="closePop fr">X</span>
			</div>
			<div class="popdetails">
				<div class="popDetailRow clearfix pr0">
					<div class="documentBox documentBox2 fl" id="current_documents">
						<%= render partial: "current_documents", locals: { current_documents:  current_documents }%>
					</div>
					<div class="documentBox documentBox2 fr" id="document_form">
						<%= render partial: "document_form", locals: { site: site, site_item: site_item, site_item_document: site_item_document, site_item_invitations: site_item_invitations }%>
					</div>
				</div>
				<div class="popDetailRow clearfix pr0">
					<div id="new_documents">
						<%= render partial: "new_documents", locals: { new_documents: new_documents }%>
					</div>
				</div>
				<div class="popDetailRow clearfix pr0">
					<div class="documentBox fl" id="pending_documents">
						<%= render partial: "pending_documents", locals: { pending_documents: pending_documents }%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
