<%= form_for(site_item_document, url: create_document_path(site, site_item), method: :post, remote: true) do |f| %>
  <div class="twoCols clearfix">
    <div class="leftDoc fl">
      <div class="addsiteHd  blueBg">Upload for Contractor</div>
      <div class="documentRow">
        <%= f.select :contractor_email, (site_item_invitations.map {|site_item_invitation| [site_item_invitation.upload_access_email]}), { include_blank: false, prompt: "Select Contact" }, class: "popInput" %>
      </div>
      <div class="documentRow">
        <span class="smalltxt">Documents uploaded here are automatically set as current</span>
      </div>
    </div>
    <div class="leftDoc fr">
      <div class="addsiteHd  blueBg">Upload a Document</div>
      <div class="documentRow">
        <input type="text" class="popInput width80" placeholder="Upload a Document" id="upload_document_name_<%= site_item.id %>" disabled="disabled">
        <%= link_to "javascript:;" , class: "docuemntBtn grayBtn" do %>
          Browse <%= f.file_field :file, required: true, class: "browse", id: "site_item_document_file_#{site_item.id}" %>
        <% end %>
      </div>
      <div class="documentRow">
        <span class="smalltxt">Documents uploaded here are automatically set as current</span>
      </div>
      
      <div class="documentBox fr">
        <div class="saveBtnGrp rightGrp">
          <%= f.submit "Upload Document", class: "saveBtn abtn" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- validation -->
<script type="text/javascript">
  $(document).ready(function(){
    $("#site_item_document_file_<%= site_item.id %>").change(function(){
      filename = $(this).val().split('\\').pop();
      $("#upload_document_name_<%= site_item.id %>").val(filename);
    });
    
    $("#new_site_item_document").validate({
      rules: {
        "site_item_document[file]": {
          required: true,
          extension: "<%= upload_document_file_types.join('|') %>"
        }
      },
      messages: {
        "site_item_document[file]": {
          required: "Please Upload a file.",
          extension: "Only <%= upload_document_file_types.join('/') %> file types are allowed."
        }
      },
    });
  });
</script>
