<div class="documentBox fr">
  <%= form_for(site_item_document, url: save_feedback_document_path(site_item_document), method: :post, remote: true, html: { id: "save_feedback_form" }) do |f| %>
    <%= hidden_field_tag "ftype", ftype %>
  	<div class="textAreaBox clearfix">
      <%= f.text_area :feedback, required: true, class: "popInput", placeholder: "Provide Feedback to the uploader in this area" %>
      <%= f.submit "Send", class: "docuemntBtn grayBtn sendBtn abtn" %>
  	</div>
  <% end %>
</div>

<!-- validation -->
<script type="text/javascript">
  $(document).ready(function(){
    $("#save_feedback_form").validate({
      rules: {
        "site_item_document[file]": {
          required: true,
          noSpace: true
        }
      },
      messages: {
        "site_item_document[file]": {
          required: "Please enter your Feedback.",
          noSpace: "Please enter valid Feedback."
        }
      },
    });
  });
</script>
