<div class="documentRow" id="document_<%= new_document.id %>">
	<span class="docFile"><%= link_to new_document.file_identifier, new_document.file.url, download: '' %></span>
	<%= link_to "Approve", approve_document_path(new_document.id), remote: true, data: {confirm: "Are you sure?"}, class: "docuemntBtn greenBtn", id: "approve_#{new_document.id}" %>
	<%= link_to "Set as pending", feedback_document_path(new_document.id, ftype: "pending"), remote: true, data: {confirm: "Are you sure?"}, class: "docuemntBtn yellBtn", id: "pending_#{new_document.id}" %>
	<%= link_to "Reject", feedback_document_path(new_document.id, ftype: "reject"), remote: true, data: {confirm: "Are you sure?"}, class: "docuemntBtn redBtn", id: "reject_#{new_document.id}" %>
</div>
