<div class="documentBox fl">
	<div class="addsiteHd width50 blueBg">New Uploads Received</div>
	<% new_documents.each do |new_document| %>
		<%= render partial: "new_document", locals: { new_document: new_document }%>	
	<% end %>
</div>

<div id="feedback_form"></div>