<div class="addsiteHd width50 blueBg">Pending and Archived</div>
<% pending_documents.each do |pending_document| %>
	<%= render partial: "pending_document", locals: { pending_document: pending_document }%>
<% end %>
