<div class="documentRow" id="document_<%= pending_document.id %>">
	<span class="docFile">
		<%= link_to pending_document.file_identifier, pending_document.file.url, download: '' %>
		<% if pending_document.pending? %>
			<%= image_tag("pending.png", alt: "", class: "pendingImage") %>
		<% end %>
	</span>
	<%= link_to "Delete", delete_document_path(pending_document.id), remote: true, data: {confirm: "Are you sure?"}, class: "docuemntBtn redBtn" %>
	<%= link_to "Set as current", current_document_path(pending_document.id), remote: true, data: {confirm: "Are you sure?"}, class: "docuemntBtn greenBtn" %>
	</a>
</div>
