<% if @saved %>
	<% if @current_document.present? %>
	  $("#current_documents").html("");
	  $("#pending_documents").append("<%= j(render partial: 'pending_document', locals: { pending_document: @current_document })%>");
	<% end %>
	$("#document_<%= @site_item_document.id %>").remove();
	$("#current_documents").append("<%= j(render partial: 'current_document', locals: { current_document: @site_item_document })%>");
<% else %>
<% end %>