<% if @saved %>
  <% if @current_document.present? %>
    $("#current_documents").html("");
    $("#pending_documents").append("<%= j(render partial: 'pending_document', locals: { pending_document: @current_document })%>");
  <% end %>

  $("#current_documents").append("<%= j(render partial: 'current_document', locals: { current_document: @site_item_document })%>");
  $("#new_site_item_document")[0].reset();
<% else %>
<% end %>