$("#EditdocumentPop").html("<%= j(render partial: 'documents', locals: { site: @site, site_item: @site_item, site_item_document: @site_item_document, site_item_invitations: @site_item_invitations, current_documents: @current_documents, new_documents: @new_documents, pending_documents: @pending_documents }) %>");
$("#EditdocumentPop").fadeIn(300);
$("body").addClass("hiddens");

$(".closePop").click(function(){								 
  $(".popOverlay").fadeOut(300);
  $("body").removeClass("hiddens");
});

(function($){
  $(".scrollbox").mCustomScrollbar({
    axis:"x",
    theme:"light-3",
    advanced:{autoExpandHorizontalScroll:true}
  });
  if($(window).width() > 767){
    $(".scrollbarCustom").mCustomScrollbar({
      axis:"Y",
      theme:"light-2"
    });
  }
})(jQuery);

// document.title = "Documents"
// if (history && history.pushState) {
// 	history.pushState(null, document.title, "<%= site_documents_path(@site, @site_item) %>");
// 	$(window).bind("popstate", function(){
//     $.getScript(location.href);
//   });
// }

// set_footer();
// $('html').scrollTop(0);