<% content_for(:title) do %>
  Documents
<% end %>

<%= render partial: 'documents', locals: { site: @site, site_item: @site_item, site_item_document: @site_item_document, site_item_invitations: @site_item_invitations, current_documents: @current_documents, new_documents: @new_documents, pending_documents: @pending_documents } %>