<% if @saved %>
  $("#document_<%= @site_item_document.id %>").remove();
  $("#pending_documents").append("<%= j(render partial: 'pending_document', locals: { pending_document: @site_item_document })%>");
<% else %>
<% end %>