<% if @saved %>
  <% if @ftype.present? && (@ftype == "pending") %>
    $("#feedback_form").html("");
    $("#document_<%= @site_item_document.id %>").remove();
    $("#pending_documents").append("<%= j(render partial: 'pending_document', locals: { pending_document: @site_item_document })%>");
  <% elsif @ftype.present? && (@ftype == "reject") %>
    $("#feedback_form").html("");
    $("#document_<%= @site_item_document_id %>").remove();
  <% end %>
<% else %>
<% end %>